[2014-11-04 22:35] CoDEmanX opened #1083 "Aardvark 2.3.0-beta1 feedback"
There are a lot nice new features in the web interface, such as group editing, visual indication of doc saving and errors and so on.

There are also a few things that can be improved:
1. JSON up- and download icons appear to be swapped, an arrow that goes _up_ should be used for <i>up</i>load, shouldn't it?
2. A strange artifact shows below the bottom buttons, it seems to originate from `i`-wrappi

[2014-11-05 12:49] #1049 closed, assigned to 13abylon

[2014-11-05 15:05] #1072 closed, assigned to 13abylon

[2014-11-05 18:38] minnownoir opened #1084 "Error when clicking "Download" button on 2.3.0-b1 on W7"
1. Query for something.  The results appear.
2. Click the Download button.  An error appears:

A runtime error occurred while executing an action: TypeError: Cannot read property 'query' of undefined TypeError: Cannot read property 'query' of undefined
  at e:\apps\ArangoDB 2.3.0-beta1\share\arangodb\js\apps\system\aardvark\aardvark.js:412:37
  at action.callback (e:/apps/ArangoDB 2.3.0-beta1/shar

[2014-11-06 03:03] CoDEmanX opened #1085 "AQL docs: Bad data modification query example (REMOVE doc._key)"
[code]

It looks like the property `_key` would be removed, but that's not possible.

https://docs.arangodb.com/Aql/DataModification.html

BTW: how to remove properties from an existing document with AQL?
Assigning `null` stores a null'd value, `""` an empty string.

[2014-11-06 03:11] CoDEmanX opened #1086 "arangoimp: Odd errors if arguments are not given properly"
[code]

It should tell that either `true` or `false` must follow the parameter and not that this option doesn't exist.

[code]

Same here, but the error is really confusing, `--file` is not related at all.

[2014-11-06 03:14] CoDEmanX opened #1087 "Docs: Arangoimp markup partially broken"
Some markup shows in the current online docs:

[code]

https://docs.arangodb.com/Arangoimp/README.html

[2014-11-06 08:07] vkunz opened #1088 "expired apt signing key"
Hi,

the current apt signing key (1024D/1C42E360) expired a couple days ago (expired: 2014-11-03).

As a consequence, apt refuses to read the repository index file.

Please consider repackaging/resigning the repository/package.

vkunz

[2014-11-06 08:36] #1087 closed, assigned to 13abylon

[2014-11-06 09:23] #1085 closed, assigned to jsteemann

[2014-11-06 12:41] #1086 closed, assigned to jsteemann

[2014-11-06 16:33] minnownoir opened #1089 "Search result highlighting"
Applications displaying search results from text fields in JSON documents often need to display the hit context as part of the result so that the user knows why the result was displayed, or whether the result is valuable.

For example, given a patient record (a use case I highly suggest ADB plan to support) with a "list" of clinical note fields, if the user searches all note fields for "cancer" th

[2014-11-07 13:29] #1076 closed, assigned to nobody

[2014-11-10 03:38] F21 opened #1090 "Trouble compiling devel and 2.3.0-beta2"
I am compiling `devel` and `2.3.0-beta2` using the following methods:

[code]

For some reason, make breaks while compiling:

[code]

[2014-11-10 03:46] F21 opened #1091 "WAL recovery issues"
I noticed that my ArangoDB 2.2.6 server's web interface stopped working.

When starting the server, I see the following entries in the logs

[code]

This is the daemon log:

[code]

The databases that are being listed should not be created (they were from a few test suites I ran last  week) and should already be deleted.

I am happy to email a copy of my database directory if required.

[2014-11-10 09:54] #1090 closed, assigned to jsteemann

[2014-11-10 13:12] jarandaf opened #1092 "Cannot compute Foxx application routes: Error: cannot locate module 'crypto'"
I am getting this error when trying to deploy a working Foxx application in a new machine. Any idea what might be causing this error? I am not using this module so I understand is somehow node-related.

I am using latest version (2.2.6).

[2014-11-10 13:49] #1092 closed, assigned to nobody

[2014-11-10 15:01] #1084 closed, assigned to hkernbach

[2014-11-10 17:13] baslr opened #1093 "AQL regression in 2.3 beta2"
2.2.6

[code]

with 2.3 beta2 I get `[1511] variable 'x' is assigned multiple times (while parsing)`

The basic idea is to have in the end lists with data from documents. Mabe there is a other way?

[2014-11-10 18:33] #1088 closed, assigned to nobody

[2014-11-10 23:46] minnownoir opened #1094 "Collections tab index information table needs column headers"
The table at the top of Collections "tab" needs column headers so that people know what each column means:

Indexes:
0   primary true    _key
118727728248    fulltext    false   desc

^^^^ not self documenting

I'm guessing that's Num Documents, Type, Unique, Field but it should be clarified.

ADB 2.3.0b2 on CentOS 6.5

[2014-11-11 06:53] luebbert42 opened #1095 ""kaputt" ;-)"
Found by @assaaki on twitter:
"Futhermore, the last remaining endpoint cannot be deleted as this would make the server kaputt."
https://docs.arangodb.com/beta/HttpEndpoints/README.html

[2014-11-11 07:34] #1095 closed, assigned to jsteemann

[2014-11-11 14:33] #1094 closed, assigned to nobody

[2014-11-11 15:36] #1033 closed, assigned to jsteemann

[2014-11-11 17:06] #1032 closed, assigned to jsteemann

[2014-11-11 17:13] #958 closed, assigned to dothebart

[2014-11-13 13:45] #347 closed, assigned to nobody

[2014-11-13 13:51] #407 closed, assigned to nobody

[2014-11-13 13:52] #433 closed, assigned to nobody

[2014-11-13 13:53] #683 closed, assigned to mchacki

[2014-11-13 16:48] #754 closed, assigned to nobody

[2014-11-13 17:17] #779 closed, assigned to nobody

[2014-11-13 17:29] #1043 closed, assigned to fceller

[2014-11-14 12:18] #1074 closed, assigned to jsteemann

[2014-11-14 12:35] #1068 closed, assigned to jsteemann

[2014-11-14 13:16] sarhugo opened #1097 "Required attributes of a model not respected"
For example when defining required attributes at model schema:

[code]

You see the attributes as optional at generated api docs:

[code]

And the most important, when calling the api method without some of the attributes it doesn't validate as expected.

[2014-11-14 14:27] #468 closed, assigned to jsteemann

[2014-11-14 15:02] andelo opened #1098 "runtime error when creating graph vertex"
happens when creating a graph vertex, probably due to malformed key or something.

[code]

[2014-11-14 20:35] #1098 closed, assigned to jsteemann

[2014-11-15 01:52] a-s-o opened #1099 "Not able to remove edges from a transaction"
Hello, I am trying to setup an activity feed using arangodb and am running into some trouble. I have a graph named `feeds` where I store various feeds in an outward direction, starting from a `document` vertex. The activities each document connects to represents the changes to that document with edges in between activities with `{ label: 'previous' }` . In order to update the feed structure I woul

[2014-11-15 20:16] CoDEmanX opened #1100 "AQL: HAS() fails on doc[attribute_name]"
Sample document:

[code]

AQL query to return attributes which have the `DATA` sub-attribute:

[code]

`HAS()` fails with error:

`prop.DATA != null` works however:

[code]

`HAS()` even works on nested attributes if none of them exists:

[code]

If `doc[attr]` is added to the output, it's clearly a document / object, but to `HAS()` it seems to be something different. I can't cast it to the correc

[2014-11-15 22:50] minnownoir opened #1101 "Tabular/CSV result view in AQL Editor"
As a developer/analyst, I would like to be able to transform JSON results to CSV so that I can send them as tables over email or dump them into Excel for quick ad-hoc reporting.

Right now, this can only be accomplished through the use of external tools or web sites (e.g., ttp://konklone.io/json/, http://csvkit.readthedocs.org/en/latest/scripts/sql2csv.html).  Obviously, this works better for flat

[2014-11-16 22:15] CoDEmanX opened #1102 "Aardvark: Layout bug in documents overview"
There's a strange issue in the documents overview in 2.3.0-beta2 (probably in beta1 too, but not in 2.2.6 for sure):

http://youtu.be/gZ3Ua5oG7j0

Column width is set to 368px (might depend on viewport size) and background color is changed as if even/odd styles are switched in the middle of the row, but I can't see a regularity when this happens - it's about every other time, no matter if I reload

[2014-11-17 10:39] #1100 closed, assigned to jsteemann

[2014-11-17 17:44] crs- opened #1103 "Error while importing user queries"
While importing previously exported user queries the web interface shows the message "Query error: queries could not be imported".

In the log the following entry is shown:

[code]

Tested with a fresh install of ArangoDB 2.3-beta2 on Debian 7, using a json-File with one exported query (also from ArangoDB 2.3) in Firefox under Win8.1.

[2014-11-17 19:18] andelo opened #1104 "edgeExamples broken or changed in 2.3-beta2 ?"
When using graph `shortest_path` in combination with edgeCollectionRestriction and edgeExamples I get an error. The same query works in 2.2.6.

to reproduce:
-  Create graph 'test'
-  Create two vertices VertexA -> VertexB bound by one edge with attribute {test:'this'} with edge assigned to edgeCollection.
  then try posting the following AQL

[code]

ArangoDB replies with the following error.

[c

[2014-11-18 08:19] #1103 closed, assigned to jsteemann

[2014-11-18 09:36] #1104 closed, assigned to jsteemann

[2014-11-18 10:50] #1061 closed, assigned to pluma

[2014-11-18 18:12] mpoeter opened #1107 "Memory leak in 2.3 Beta 2 when running AQL query"
Hi,

I have a collection with ~6000 documents similiar to this one:

[code]

When I run the following query the memory of the server process rapidly increases until the whole system becomes unstable due to memory shortage (I have 16GB RAM):

[code]

geomean and rankByTargetObjectiveThenCosts are registered functions:

[code]

When I run this on a collection with only two documents everything works

[2014-11-20 12:57] diegogub opened #1109 "HTTP api, create collection"
Hello,

I'm having problem when creating collections with custom journalSize.

I send :  map[name:test waitForSync:true journalSize:64 type:2]

Response: {"error":true,"code":400,"errorNum":10,"errorMessage":"<properties>.journalSize is too small"}

If I remove jounalSize everything works., wich could be the problem?

Regards,

Diego

[2014-11-20 13:59] #1109 closed, assigned to nobody

[2014-11-21 01:44] baslr opened #1110 "bug xor feature? ArangoDB converts utf8 encoded strings"
TL;DR

arangodb 2.3.0 converts utf8 75cc88 (its an ü at least in OS X file paths) to UTF8:c3 bc Unicode U+00FC

[code]

So `75cc88` is downgraded to Unicode: U+00FC UTF8:c3 bc as the ü. That means file paths are not correct anymore.

I dont know how much v8 is involved.

Chromes file drag and drop also doesnt like the osx Finder utf8 encoding:
https://code.google.com/p/chromium/issues/detail?id=41

[2014-11-21 07:27] dandv opened #1111 "Website repo?"
Is there a repo for the Wordpress website? There are a bunch of typos that should be corrected.

[2014-11-21 14:30] ThomasWeiss opened #1112 "Display query time in aardvark's AQL editor"
I think that many people use aardvark's AQL editor to debug/benchmark/optimize AQL queries. In such context, it would be very helpful to display the execution time of the query being submitted.

[2014-11-22 13:34] terrybleger opened #1113 "ERROR In database '_system': user with username root has no password"
Great! Just updated to v2.3 and now all my production db can't be started, can't be upgraded, can't even run the emergency console.

Please, how to fix this?

[2014-11-22 18:18] #1113 closed, assigned to nobody

[2014-11-24 11:20] antokara opened #1116 "authentication problem with 2.3.0 update from 2.2.7"
After yum update and arango upgrade, I can't log in through the Web UI or the Arangosh and use my old databases with the old credentials.

restart of service does not fix it but:

If I disable the authentication, then using arangosh create new accounts or recrete the old ones,
I can login sucessfuly with any account but only once. After that one login, all subsequent authentications fail.

Another

[2014-11-24 14:05] antokara opened #1117 "fullCount gone in 2.3.0?"
Not sure if I am missing something but the fullCount does not return a value any more in the same exact AQLs, ~~even through $arangosh with a simple AQL (which includes limit and fullCount:true)...~~

*update: sorry but through arangosh it works, I wasn't executing it properly. problem then must be at ArangoDB-PHP which is mainly used.

**update2: with CURL and the request generated from ArangoDB-

[2014-11-24 15:16] andelo opened #1118 "waiting for unused V8 context ?"
on 2.3.0 using a unix socket endpoint I see some suspicious things in the log.

[code]

After a while I get `ECONNRESET(socket hang up)` preceeded by this from the arangod process

[code]

[2014-11-24 15:52] andelo opened #1119 "import graph/edge"
would be nice to be able to import a graph and branch of a graph with vertices and edges.
Now you have to first create two vertices and then connect them through an edge which makes it impossible to batch since you depend on the result._id of the vertex.

I think it should be possible to do this in one go using aliases for the vertices instead of real id:s.

[2014-11-24 17:59] andelo opened #1120 "specify start vertex in graph viewer (web interface)"
I think I've seen this discussed somewhere but I fail to locate it.
The graph viewer selects a random vertex to start from which is not so useful.

[2014-11-25 08:53] #1117 closed, assigned to nobody

[2014-11-25 17:11] vinaocruz opened #1122 "New user can't access old database"
I created a new user through of the Web UI to my database, but i can't get authorized access.

In Arangosh, I try:
$ arangosh --server.username user --server.password pass --server.database oldDb
Pretty printing values.
Could not connect to endpoint 'tcp://localhost:8529', database: 'oldDb', username: 'user'
Error message '401: Unauthorized'

System Information: Ubuntu 12.10

$arangod --version
ar

[2014-11-26 16:05] #1120 closed, assigned to nobody

[2014-11-26 16:16] stackmagic opened #1126 "Docs: Installing/Compiling.mdpp"
The Instructions to building the devel version seem a bit messed up, namely the first few bullet points.

https://github.com/triAGENS/ArangoDB/blob/devel/Documentation/Books/Users/Installing/Compiling.mdpp#L166

[2014-11-26 16:21] #1119 closed

[2014-11-26 17:51] mpoeter opened #1127 "AQL v2.3: variable gets lost in COLLECT"
Hi,

I could reduce my problem to the following simple test case. A collection with a few documents:

[code]

And the following query:

[code]

v2.2.7 procudes the following output:

[code]

while v2.3.0 procudes the following output:

[code]

Regards,
Manuel

[2014-11-27 08:39] #1116 closed, assigned to fceller

[2014-11-27 10:25] #1126 closed, assigned to jsteemann

[2014-11-28 08:06] oneminute opened #1130 "Error when update edge using AQL"
When I update edge using aql I got the following error:
ArangoError 1202: (while executing)

My AQL is:
db._query("FOR ec IN GRAPH_EDGES('USERS_GRAPH', @id, @options) RETURN ec", { id: 'DEMANDS_COLLECTION/d_e7e97a303a4511e48cbf1b21471afc41', options: {edgeExamples:[{ type: 'own', status: 'onsale'}],edgeCollectionRestriction:['USER_DEMANDS_EDGES']}}).toArray();

[2014-11-28 12:24] #1130 closed, assigned to nobody

[2014-11-28 15:14] #1127 closed, assigned to neunhoef

[2014-11-28 15:24] #1107 closed, assigned to neunhoef

[2014-11-28 15:27] neunhoef opened #1131 "Would like to configure which variables go into INTO variable in AQL COLLECT statement"
We would like to allow the following:

FOR d IN docs
  LET C = ...
  COLLECT a = d.a INTO group KEEP C, d

which allows to prescribe exactly, the values of which variables are copied into the group variable. This will make it possible to save memory and run time.

[2014-11-29 19:11] nlac opened #1133 "Simplify AQL filtering functionality (was: SELECT COUNT(*) -like query in AQL?)"
Hi,
perhaps i missed something but i couldn't find any example for expressing the following simple query in AQL: how many users have an age > 20? So the result should be one number. I'm using the aardwark webapp's AQL editor.
Is it possible? I really tried to dig the documentation, sorry if i just was blind:)

[2014-11-30 22:01] terrybleger opened #1134 "Change the default endpoint to localhost"
Hi,

Please change the default endpoint to tcp://127.0.0.1:8529 for any new install/upgrade.

By default arangodb has no authentication. So anyone without security experience wouldn't even realised that they've just made an opportunity for people to make fun of their production server and blow it all for nothing.

[2014-12-01 00:14] terrybleger opened #1135 "Query in v2.3.1 is slower than in v2.3.0"
Another hell of an upgrade.

This query took less than 5 ms to execute in v2.3.0

[code]

And now it took 15 hell of seconds to execute in v.2.3.1.
Thank god I can just revert to v2.3.0.
But what if in the future I can't?

Fortunately I test it before it ran it into the production.
There's gotta be wrong with the new version.

[2014-12-01 08:58] oneminute opened #1136 "Can not restore datas to cluster"
I set up a cluster in multi mechine mode. And when i restore data from old version in normal mode it can not run well. As following:

[code]

When re-creating the first collection, cmd was blocked and after a while I got the error message as "Could not connect".

[2014-12-01 11:23] terrybleger opened #1137 "Please consider add these npm libraries for the next release"
Hi,

I know that Arango is trying to emulate Node.js so that's why not all npm library can be used.
But so far I've been using these libraries in Arango without any problem:

1. Moment v2.8.4 (latest). Because I need the locale functionality. Right now the Moment library is too old.

2. MD5. Or maybe any kind of library that can replace node's crypto. I need it to generate document's _key and encr

[2014-12-01 13:28] CoDEmanX opened #1138 "AQL: function to get collection by name?"
There is `COLLECTIONS()` to retrieve all collections, but I'm not aware of a function to get a single collection by name / id.

I would like the following to work:

    FOR coll in COLLECTIONS()
        FOR doc IN COLLECTION(coll.name)
            RETURN doc.attr

[2014-12-01 17:00] terrybleger opened #1139 "Direct Link Relationship"
The current AQL JOIN feature is already cool. But that's only available in AQL.

I just wondering maybe in the future ArangoDB can have the feature just like in OrientDB's.

In OrientDB linking document is out of the box feature and can be used in a document without implementing any graph by storing the document's id inside another document. So any change in the linked document will also reflect t

[2014-12-01 17:08] #1134 closed, assigned to nobody

[2014-12-02 07:53] stackmagic opened #1141 "Docs / Question about FoxxController.headers"
I dumped the http request headers to the response to see what they look like and they're all lowercase. Are these consistently normalized to lowercase by arango/foxx?

If so, you may want to mention it here: https://github.com/triAGENS/ArangoDB/blob/devel/Documentation/Books/Users/Foxx/FoxxController.mdpp#L180

[2014-12-02 11:52] stackmagic opened #1142 "FormatMiddleware doesn't "fix" url"
When I use the FormatMiddleware, it doesn't clean up the url as I would expect. Given:

    ctrl.get("/:id", function(req, res) {
        res.json({ 'id': req.params('id') });
    }

And I call /xxx.xml, then the id in the response is 'xxx.xml' instead of just 'xxx'.

    { 'id': 'xxx.xml' }

Additionally, the response is in json but it should be in at least an xml-ish return format. This may be r

[2014-12-02 12:16] stackmagic opened #1143 "FormatMiddleware behaviour when there's information from url and header"
From: https://docs.arangodb.com/Foxx/FoxxOptional.html

IMO, it'd be better to not raise an error if there is conflicting information and always have the information from the url override the accept header. The reason being quick and dirty testing/tinkering in the browser  (where you can choose the url but you can't set any headers) during development of a controller.

[2014-12-02 14:57] #14 closed, assigned to fceller

[2014-12-02 14:58] #63 closed, assigned to nobody

[2014-12-02 15:05] #1097 closed, assigned to pluma

[2014-12-02 15:05] #259 closed, assigned to fceller

[2014-12-02 15:11] #392 closed, assigned to a-brandt

[2014-12-02 15:12] #423 closed, assigned to nobody

[2014-12-02 15:14] #434 closed, assigned to nobody

[2014-12-02 15:22] #504 closed, assigned to nobody

[2014-12-02 15:27] #638 closed, assigned to mchacki

[2014-12-02 15:28] #657 closed, assigned to nobody

[2014-12-02 15:29] #661 closed, assigned to nobody

[2014-12-02 15:32] #693 closed, assigned to nobody

[2014-12-02 15:34] #710 closed, assigned to nobody

[2014-12-02 15:34] #730 closed, assigned to nobody

[2014-12-02 15:37] #759 closed, assigned to fceller

[2014-12-02 15:38] #774 closed, assigned to jsteemann

[2014-12-02 15:48] #804 closed, assigned to nobody

[2014-12-02 15:49] #833 closed, assigned to 13abylon

[2014-12-02 15:51] #846 closed, assigned to jsteemann

[2014-12-02 15:54] #914 closed, assigned to fceller

[2014-12-02 15:55] #928 closed, assigned to nobody

[2014-12-02 16:06] #1044 closed, assigned to jsteemann

[2014-12-02 16:07] #1052 closed, assigned to jsteemann

[2014-12-02 16:08] #1053 closed, assigned to jsteemann

[2014-12-02 16:19] #1069 closed, assigned to hkernbach, jsteemann

[2014-12-02 16:23] #1077 closed, assigned to jsteemann

[2014-12-02 16:26] #1091 closed, assigned to jsteemann

[2014-12-02 16:27] #1093 closed, assigned to nobody

[2014-12-02 16:27] #1099 closed, assigned to jsteemann

[2014-12-02 16:29] #1111 closed, assigned to 13abylon

[2014-12-02 16:31] #1122 closed, assigned to nobody

[2014-12-02 16:38] #1139 closed, assigned to nobody

[2014-12-02 20:11] stackmagic opened #1146 "Foxx: Access to true path/context via request or applicationContext"
I'm trying to find out how to determine the 'true' base path of an app. I've dumped a ton of data in a response (most of that found via the foxx js sources) but couldn't find what I'm looking for.

In case of an url `http://localhost:8529/_db/myDatabase/dev/myApp/someController/someMethod` my expected result would be `/_db/myDatabase/dev/myApp`. If the app is in non-dev or something else changes,

[2014-12-03 08:29] oneminute opened #1147 "Create cluster plan error"
I create a cluster with production setup mode using web interface. Everything is ok. But when I using arranges to create a cluster plan I got the following errors:

[code]

Platform:
osx 10.10
arangodb 2.3.1

[2014-12-03 09:40] stackmagic opened #1150 "FoxxQueries.mdpp not available on docs.arangodb.com"
I removed a reference to "FoxxQueries" in 931bc8f because I couldn't find it on the docs site but the file actually exists: https://github.com/triAGENS/ArangoDB/blob/devel/Documentation/Books/Users/Foxx/FoxxQueries.mdpp

But I don't know how to make sure it's included.

[2014-12-03 09:44] #1146 closed, assigned to nobody

[2014-12-03 13:51] #1150 closed, assigned to 13abylon

[2014-12-03 15:16] CoDEmanX opened #1152 "AQL: key is interpreted as literal in RETURN {attr: val}"
Minimal example:

[code]

Invalid JSON will be returned, with every key being `"attr": ...`, it should be `"titel"` and `"jahr"`.

To be interpreted as string literal, one would use `RETURN {"attr": ...}`.

Workaround: `RETURN ZIP([attr], [...])`

[2014-12-03 15:41] CoDEmanX opened #1153 "Aardvark: AQL editor Download button re-executes query"
I ran a quite complex query which returned 300k lines of JSON to the AQL editor, which took about a minute to compute.

A click on _Download_ however did not get the result from the editor, but re-executed the query on the server.

For modern browsers, it would be possible to start a download of a virtual file (from javascript string):
https://github.com/eligrey/FileSaver.js

Notable difference: t

[2014-12-03 16:59] #1152 closed, assigned to jsteemann

[2014-12-03 18:00] sleepycat opened #1155 "AQL: can't use bind vars in some places"
I've been exploring using bind vars in various places and ways and run across a few cases where I was hoping it would work but it does not:

    arangosh [test]> db._query('FOR @var IN nodes RETURN @var', {"var":"i"} ).toArray()
    JavaScript exception in file '/usr/share/arangodb/js/client/modules/org/arangodb/arangosh.js' at 104,11: [ArangoError 1501: syntax error, unexpected bind parameter, ex

[2014-12-04 10:41] #1131 closed, assigned to jsteemann

[2014-12-04 13:11] #988 closed, assigned to hkernbach

[2014-12-04 14:39] #1118 closed, assigned to fceller

[2014-12-04 14:54] #1083 closed, assigned to hkernbach

[2014-12-04 16:41] CoDEmanX opened #1157 "Arangosh: Pasting indented code from clipboard fails"
A code with indentation leads to errors if pasted to Arangosh:

[code]

The indentation causes the shell to output a list of properties (?) and makes the pasted code invalid.

Another issue with above code is that

[code]

doesn't print `MyCollection - 1234` but `1234llection`, as if it wasn't executed synchronous.

[2014-12-04 23:07] CoDEmanX opened #1159 "Options --server.connect-timeout and --server.request-timeout do not accept 0"
Some long running aggregations failed in Arangosh because the default timeouts are 300 seconds. I tried to disable the timeouts by setting both to 0, but it's rejected because they `must be positive.`

I would argue that zero is a positive value and should be accepted.

Workaround: Set the timeouts to a very large number, such as 9999999.

[2014-12-04 23:45] CoDEmanX opened #1160 "V8 update for 2.4?"
A V8 update is scheduled for 2.4 xmas release according to the roadmap. Which version will it be, and which harmony features will be available?

I'm particularly interested template strings, which allow for multi-line string literals in backticks without end-of-line escaping:

[code]

It would allow for nicely formatted AQL query strings in JavaScript files.

[2014-12-05 00:18] CoDEmanX opened #1161 "Aardvark: Click on Import JSON imports previously uploaded file"
I created a new collection, uploaded a JSON file and went back to collections overview. Created another collection, accidentally hit _Import JSON_ and it imported the data of the previous import again - despite the fact, that the file selector has no file selected:

![arangodb_aardvark_json_import](https://cloud.githubusercontent.com/assets/1309249/5308869/62746b4e-7c1c-11e4-9944-be1acb0fd5d2.png)

[2014-12-05 00:33] #1136 closed, assigned to dothebart

[2014-12-05 10:37] stackmagic opened #1162 "Http Interface: Patching a List"
From what I can tell, when sending a Patch for a list propert, the list is entirely replaced. Is there a way to add to the list without first fetching the document? And is it possible to (optionally) trigger a Set-like behaviour where the elements sent are only added if they aren't already in the list.

[code]

Something like `ensureSet` similar to `ensureHashIndex` etc would be nice.

My use case

[2014-12-05 15:20] antokara opened #1163 "invalid fullCount value returned from AQL"
Perhaps this is intended but I feel that I should let you know in case it is not.

with the following collection named "test":

[code]

and the following AQL in shell:

[code]

we get **"stats" : "fullCount" : 3** when the actual result is only **2**.

the interesting thing is that the following AQL:

[code]

(I simply removed the **|| entry.name=='foo'** part)
returns the correct number **"stats"

[2014-12-05 17:07] seanmikalson opened #1164 "Add ability to document body responses to FoxxController HTTP methods"
There is no way currently to document the json responses for FoxxController HTTP methods and as a result, when the swagger documentation is generated, no information is provided as to what fields/data will be returned. The swagger code gen expects response classes or responses to be documented, and will not generate client sdks if this documentation is missing.

There should be the ability to docu

[2014-12-05 21:17] #1162 closed, assigned to nobody

[2014-12-05 23:55] CoDEmanX opened #1168 "Aardvark: pagination buttons jumping"
Start at page 1 and go to page 20 and watch the `<` and `>` buttons: they will change positions a lot once you reached a page number with two digits.

It can be made more stable for the low page numbers by a CSS rule something like:

[code]

[2014-12-06 04:29] baslr opened #1169 "regression? AQL UPDATE removes sub key:values"
[code]

I guess since v2.3.1 password is magically removed. With 2.3.0 it worked (afair)

[2014-12-08 11:31] stackmagic opened #1170 "More URL questions"
Sorry for the size of this issue but I think it touches several aspects of Foxx that are inter-related and needs some careful consideration/discussion.

This relates to #1146. The fix did solve my problem back there but I need a few more things. In short, I think the request url and and it's components aren't handled and exposed to the app writer in a consistent way and some information seems miss

[2014-12-08 13:11] #1157 closed, assigned to jsteemann

[2014-12-08 13:27] #1160 closed, assigned to dothebart

[2014-12-08 16:09] #1141 closed, assigned to 13abylon

[2014-12-09 14:40] #1169 closed, assigned to jsteemann

[2014-12-09 15:05] #1135 closed, assigned to neunhoef

[2014-12-09 15:45] #1147 closed, assigned to dothebart

[2014-12-09 17:17] eis-os opened #1173 "Aardvark: AQL Editor "Save current query" resets user password"
Running ArangoDB 2.3.1 (Win 64 bit) with user authentication enabled.

As soon as trying to save an AQL Snippet in a test database,
the user password is reset to empty.

First it sends an almost empty HTTP PUT to:
http://127.0.0.1:8529/_db/test/_api/user/username
{"extra":{"queries":[]}}

Then a HTTP Patch (But this results already in a 401 Unauthorized)
{"extra":{"queries":[{"value":"","name":"te

[2014-12-09 19:58] #1173 closed, assigned to jsteemann

[2014-12-09 20:13] #1163 closed, assigned to jsteemann

[2014-12-09 21:50] #1159 closed, assigned to neunhoef

[2014-12-10 02:17] oneminute opened #1174 "Error when update edges by AQL in cluster mode."
OSX 10.10
Arangodb 2.3.1
Single machine cluster

I executed the following scripts and one of the shards was shutdown.

[code]

After I ran the last command, the server was blocked. And the web interface showed as follow:
![cluster_error](https://cloud.githubusercontent.com/assets/2648944/5369870/42208886-8055-11e4-912a-47ea4f4c9bb5.png)

After a while I got error message:

[code]

And the arangod

[2014-12-10 12:44] stackmagic opened #1175 "foxx-manager exit codes"
Where can I find the exit values of foxx-manager? I'd like to script my (re)deployment and want to be sure my own exit values don't interfere with whatever foxx-manager uses.

I think this should be documented somewhere (for other commandline tools too). And/Or having a range of safe exit values that aren't used by any arango cli tool would useful too for people writing scripts.

If you could poin

[2014-12-11 03:35] oneminute opened #1179 "Problem in accessing web interface in cluster mode"
OSX 10.10
Arangodb 2.3.1

I use the following scripts to create a single machine cluster:

[code]

No errors.
But how can I access web interface of cluster dashboard in browser. I navigate to `localhost:8529`, but I got the page as follow:
![cluster](https://cloud.githubusercontent.com/assets/2648944/5388647/b9e409a4-8129-11e4-9365-05c63eabea2e.png)

[2014-12-11 07:18] oneminute opened #1180 "Sharding crashed when executing a long query."
OSX 10.10
ArangoDB 2.3.1

I execute a query as following:
[code]

And I got the error message for a long while (the arranged process allocates about 6.16G memory):
JavaScript exception in file

[code]

After that, the shard crashed. KickStarter.isHealthy() return the messages as following:

[code]

And arangod in terminal print the log:

[code]

[2014-12-11 10:59] stackmagic opened #1182 "build.h / Changelog"
build.h in the devel branch has an older version than what's currently in the master and released. and the changelog files between the two branches seem to diverge too

[2014-12-11 13:01] oneminute opened #1183 "Fulltext for asian languages"
I want to know how to use fulltext index for asian languages like chinese which has no spaces between words.

[2014-12-12 09:34] stackmagic opened #1184 "HTTP/REST error code in case of badly encoded json"
When I send some Umlaute without encoding them to the Rest Interface, I get an `1227 invalid document type` from ArangoDB. The [Documentation](https://docs.arangodb.com/ErrorCodes/README.html) says "Will be raised when there is an attempt to create a document with an invalid type", which is doubly misleading IMO because I was patching a pre-existing document and the actual problem was the bad enco

[2014-12-12 09:53] #1161 closed, assigned to hkernbach

[2014-12-12 10:05] #1168 closed, assigned to hkernbach

[2014-12-12 10:25] morsdatum opened #1185 "ArangoDB 2.3.1 won't store 2^62 or 10^18 - 1 correctly"
Try to store a document with big number as 10^18 - 1 or 2^62 , the server responded the query of that document with values of 1000000000000000000 & 4611686018427388000  in regard to excepted values of 999999999999999999 and 4611686018427387904. Either results query thru python driver or ArangoDB server web interface.

[2014-12-12 17:49] CoDEmanX opened #1187 "Arangosh: clearing of characters broken (backspace / delete keys)"
1. If you hit backspace with no character entered, `arangosh [...]> ` disappears, and re-appears if you type something in
2. If you delete characters and the code wraps to a 2nd line past the length of the string<br>`arangosh [...]> `, the last character won't be cleared and will thus appear as many times as you hit <kbd>Backspace</kbd> / <kbd>Del</kbd>. The superfluous chars are removed as soon a

[2014-12-15 09:34] stackmagic opened #1189 "Foxx Manifest: Shared mount points"
(from #1170) It would be nice to be able to mix and match controllers with the same url prefix.

    "controllers": {
        "/houses": "controllers/houses.js",
        "/owners": "controllers/owners.js"
    }

The above exposes the houses.js as /houses and owners.js as /owners.

This of course won't work, the last write wins:

    "controllers": {
        "/": "controllers/houses.js",
        "/

[2014-12-15 09:40] stackmagic opened #1190 "Foxx Controller: value of req.server.address"
(from #1170) It's debatable whether my initial thoughts on this are correct.

The field `req.server.address` contains `0.0.0.0` in my case. And that's probably from the endpoint definition in `arangod.conf` - so this may be as designed after all. Realizing that an arangod instance may expose multiple endpoints it does make sense to put this information into the request instead of the application c

[2014-12-15 10:06] stackmagic opened #1191 "Foxx Controller: exposing the actual request url"
(from #1170)

Thinking about this some more, I would like to have something along the lines of the handlers having access to essentially the full url that was used for the request, not as a single string but as an object on the request that contains all the components that make up the request.

The components I see at the moment and their sources are:

* proto (`req.headers["x-forwarded-proto"] ||

[2014-12-15 10:09] #1170 closed, assigned to moonglum

[2014-12-15 10:28] F21 opened #1192 "Cannot install arangodb and arangodb-client at the same time"
I am using ansible to install arangodb using the Ubuntu apt repo here on Ubuntu Server 14.10 64-bit: https://www.arangodb.com/download

If I do:

[code]

the installation fails, because both arangodb and arangodb-client's installers are trying to write to foxx.conf and terminates each other.

[2014-12-15 15:23] #1184 closed, assigned to jsteemann

[2014-12-15 17:06] #1192 closed, assigned to nobody

[2014-12-16 15:53] #1182 closed, assigned to fceller

[2014-12-19 09:59] #1102 closed, assigned to mchacki

[2014-12-19 10:59] #500 closed, assigned to nobody

[2014-12-19 11:00] #676 closed, assigned to jsteemann

[2014-12-19 11:07] #907 closed, assigned to nobody

[2014-12-19 11:17] #977 closed, assigned to nobody

[2014-12-19 15:09] stackmagic opened #1195 "Fulltext Index on Lists and Objects?"
I added a fulltext index on an object and it doesn't seem to do anything. Does the index support objects and lists? I'm also not sure if and when the index is built. Do I need to re-import the data for the index to be populated?

Here's a simple example of data like I store it:

[code]

I would then create an index on `name` to index them and would query like this:

[code]

But I always get an emp

[2014-12-22 08:15] hkernbach opened #1196 "Implement restartable cursors"
To download queries through the web interface, we need restartable queries. At the moment we have to execute a query twice, if the user wants to download the result of a query.

[2014-12-22 08:15] #1153 closed, assigned to nobody

[2014-12-22 10:47] stackmagic opened #1197 "make clean vs. distclean"
Is there a rule when I need to make clean or distclean?

I couldn't do a full compile with clean/setup/config/make (some error about files missing somewhere in 3rdparty) but after a distclean everything went back to normal.

[2014-12-22 11:36] #1197 closed, assigned to nobody

[2014-12-22 20:47] diegogub opened #1198 "AQL Query in AQLEditor should remain"
Hello,
It's quite annoying that when I move to other tab, the query in AQLEditor  is not kept and box is cleared.
Could be fix? It's a bug or intended behavior?
Thanks!

[2014-12-23 10:05] #1065 closed, assigned to hkernbach

[2014-12-23 10:06] #1198 closed, assigned to hkernbach

[2014-12-24 00:28] #1174 closed, assigned to neunhoef

[2014-12-24 08:59] baslr opened #1199 "AQL error: [4] Cannot unlink root node of plan. (while optimizing plan)"
This `FOR a IN test COLLECT foo = a.foo RETURN foo` works for my test collection but not for a collection that contains 78k docs created with a previous version of ArangoDB.

When I execute the query I get `[4] Cannot unlink root node of plan. (while optimizing plan)` This worked previously. I guess it was 2.3.1 / 2.3.2.

I exported and imported the collection into a testName collection. The execu

[2014-12-24 15:52] btiernay opened #1200 "Expansion operator results in "Cannot call method 'forEach' of null""
Using ArangoDB 2.3.3, the following AQL query:

[code]

produces:

```[1503] TypeError: Cannot call method 'forEach' of null (while executing)```

I tried guarding the sub-filter with `g.donor != null && d._donor_id IN g.donor[*]._donor_id` and ` g.donor == null ? false : d._donor_id IN g.donor[*]._donor_id` but this results in the same error.

[2015-01-02 12:54] jsteemann commented on #1200
Fixed right now for 2.3.5 and 2.4.
There were two issues:
* the `[*]` operator was pulled out of the original condition, so there was no short-circuit behavior for it. This was necessary in older versions of ArangoDB, but is unnecessary since 2.3. So now the subcondition that includes the `[*]` will be executed only if the previous conditions (e.g. `HAS(...) && IS_LIST(...)` are true.
* the second

[2015-01-02 12:54] #1200 closed

[2015-01-02 15:03] btiernay commented on #1200
Thanks!

[2015-01-02 17:02] jsteemann commented on #1199
Thanks. I found that the issue had to do with the number and amount of indexes created for a collection. It may have occurred if there was a collection with more than one skiplist index on the attribute that was used in the `COLLECT` statement.
The issue has been fixed in 2.3.5, 2.4 and devel.

[2015-01-02 17:02] #1199 closed

[2015-01-05 00:13] baslr opened #1201 "aardvark cant add Fulltext Index with multiple field names containing a '.'"
Request URL: http://192.168.178.22:8529/_db/_system/_api/index?collection=8570060254192

Request Payload:
{"type":"fulltext","fields":["test.pilot","rocket.master"],"minLength":0}

gives me

{"error":true,"code":400,"errorNum":10,"errorMessage":"bad parameter"}

The input in the webinterface is `test.pilot,rocket.master`

[2015-01-05 08:11] jsteemann commented on #1201
A fulltext index can only be created on a single attribute.
So even when specifying attribute names without a '.', the index will be created on a single attribute, and the index description (`fields`) attribute will also contain a single attribute only.
I'll check if there's too lax error checking if multiple attributes are specified.

[2015-01-05 08:31] freddy961 commented on #1073
Hey you should try LongPathTool for this problem..

[2015-01-05 08:42] jsteemann commented on #1201
Updated docs and added error checking.

[2015-01-05 08:42] #1201 closed

[2015-01-05 11:58] mknittig opened #1202 "Data-modification operations for graphs"
AFAIK ArangoDB currently supports only data-modification operations on documents. I would like to have data-modification operations on graphs too (like Cypher in neo4j).

My use case: I have a relationship like this:
catogory1-[:subcategory]->category2

It would be great if I could extend it to the structure with one AQL command (creating the new documents and edges):
catogory1-[:subcategory]->cat

[2015-01-05 12:33] fceller commented on #1202
Are you referring to the general-graph module? Or to AQL?

AQL supports modifications via https://docs.arangodb.com/Aql/DataModification.html This can also be used on edges and vertices. But not in command.

general-graph: Maybe it is possible touse the Fluent interface (https://docs.arangodb.com/General-Graphs/FluentAQLInterface.html) and some map operations or extend the interface slightly.

[2015-01-06 15:41] Metamist opened #1203 "System apps not shown, import error"
Apps that are said to come with ArangoDB are not shown nor do they exist in my WebUI. Reinstalling does not fix it.
Also getting an import error when trying to import from github
http://pastebin.com/qE2aszXq

[2015-01-06 15:47] jsteemann commented on #1203
It looks like the temporary directory of arangod is not writeable for arangod.
Can you check what the temporary directory is and if it is writeable by the user (uid) or group (gid) that runs arangod?

[2015-01-06 16:02] moonglum commented on #986
The development mode is described in the "First foxx app" recipe, I also created a very tiny recipe for deploying an app.

[2015-01-06 16:02] #986 closed

[2015-01-06 16:29] pluma commented on #1203
@mchacki could you look into why the system apps don't show up in the new install app dialog? Some system apps (users, sessions, etc) need to be user-mountable.

[2015-01-06 22:08] mknittig commented on #1202
I was referring to AQL. Can you give ma an example how to do that? Haven't seen this on my search for such a functionality..

[2015-01-07 07:17] jsteemann commented on #1202
Do I understand correctly that the task is to
* create two vertices (i.e. one in category3 and one in category4)
* create the connecting subcategory edges between these vertices (i.e. from category2 to category3 and from category3 to category4)
* accomplish this in one go?

I think this won't work in a single AQL query, because it would modify data in multiple collections at the same time, and AQL

[2015-01-07 14:47] stackmagic opened #1205 "Question about Foxx Model forClient"
I am trying to get models working in the 2 cases I do queries.

In the first one, I get a unique object from the repository (trough byId or any) and can easily send it to the client with only the fields I have defined in the Model: `res.json( repository.any().forClient() );`

The second case is from a query that returns multiple results.

Repository:
[code]

Now I found something with `_.map` [in

[2015-01-07 19:25] mknittig commented on #1202
Yes, that's exactly what I want. Cypher (neo4j) supports this (even with FOREACH).
I know that there are workarounds, but I think it would be a useful feature.

[2015-01-07 22:02] fceller commented on #1202
@mknittig Could you give us an example, how to write this in Cypher?

[2015-01-07 22:12] mknittig commented on #1202
http://neo4j.com/docs/stable/cypherdoc-create-nodes-and-relationships.html
Really like the cypher syntax for graphs..

[2015-01-08 07:48] stackmagic commented on #1205
Ah that's the trick! Thank you!

It makes sense having to explicitly setting the model because sometimes you may want to return something else than a model instance from your query.

[2015-01-08 07:48] #1205 closed

[2015-01-08 08:34] mchacki commented on #1203
I will look into it.

[2015-01-09 00:13] CoDEmanX opened #1207 "New website design"
I like the new header, the key feature descriptions in multiple columns without icons not so much, but most importantly, there's an issue with the navigation bar:

![arango-broken-nav](https://cloud.githubusercontent.com/assets/1309249/5673459/9ba4ce86-979c-11e4-8654-b8dbe2ef4125.png)

It seems to be in the wrong place on all sub-pages.
(Firefox 34.0.5)

[2015-01-09 00:26] CoDEmanX commented on #1160
@pluma: filed report https://github.com/arangodb/aqbjs/issues/5

@jsteemann: thanks for checking. I asked some V8 guys and they told me template string are available in the yet unstable 3.31. According to them, an upgrade from 3.29 to 3.31 shouldn't be much pain - I hope you will update V8 in ArangoDB to 3.31+ as it becomes stable.

Rest parameters, the spread operator and destructuring assignment

[2015-01-09 08:33] jsteemann commented on #1160
@CoDEmanX : interesting, thanks for sharing the info.

[2015-01-09 08:35] fceller commented on #1207
@CoDEmanX  Can you try a shift-reload? That solved the problem for me in Firefox.

[2015-01-09 14:23] CoDEmanX commented on #1207
Shift+F5 opens the Web console, Ctrl+F5 did the trick however - thanks!

[2015-01-09 14:43] 13abylon commented on #1207
Great, then this issue can be closed. Glad we could help :+1:

[2015-01-09 14:43] #1207 closed

[2015-01-09 14:45] CoDEmanX commented on #1049
Works great, and my preferred Android reading app PocketBook appears to work on Lollipop without major issues since the last update.

[2015-01-09 14:47] 13abylon commented on #1049
Thats great to hear. I'm happy the issue is solved and it works fine on your Android :)

[2015-01-09 14:50] 13abylon commented on #784
We now have a cookbook where we have an overview of problems and solutions. It is also kind of a how to for specific use cases in ArangoDB.
If there is something missing, you can write a recipe: https://docs.arangodb.com/cookbook

[2015-01-09 14:50] #784 closed

[2015-01-12 11:29] neunhoef commented on #1175
foxx-manager uses the "--javascript.execute" command line option to execute a single command and then terminate. I think it would be good to implement this: if that command throws an exception with an error code this error code is reflected in the exit code of the arangosh executable. Then foxx-manager script could report the error as well. I do not really know how difficult this.

[2015-01-12 13:03] baslr opened #1208 "arangodb.com/download Debian 7.0 .deb is missing"
Hi,

visually the Debian 7.0 .deb is missing at the download section. Its there under https://www.arangodb.com/repositories/arangodb2/Debian_7.0/amd64/

[2015-01-12 13:20] fceller commented on #1208
Fixed. Script now produces Debian 7

[2015-01-12 13:20] #1208 closed

[2015-01-12 13:31] CoDEmanX commented on #1207
Found two more flaws on the re-arrangement website:

- **technical preview** link leads to Wordpress login form: https://www.arangodb.com/download
- **pdf** manual is listed twice, *epub* not once: https://www.arangodb.com/documentation

[2015-01-12 13:33] CoDEmanX opened #1209 "Arango 2.3 / 2.4 beta online documentation"
The search feature is broken in both versions, if you enter e.g. *aql*, nothing is found.

It would be nice to have the same links like on the [documentation page](https://www.arangodb.com/documentation) to download PDF / ePUB / MOBI version of the documentation, should be above or below "Have any issues? Have any questions?"

[2015-01-12 13:37] 13abylon commented on #1207
Thank you, both problems are fixed

[2015-01-12 14:14] CoDEmanX commented on #1207
Hm, I can't see **ePub**? The exists however: https://docs.arangodb.com/manual.epub

[2015-01-12 14:17] 13abylon commented on #1207
I think now it should be in again

[2015-01-12 14:19] 13abylon commented on #1209
1. Broken Search:
Which browser are you using?

2. We will discuss about adding pdf/mobi/epub to the documentation page to download from. Thanks for the idea

[2015-01-12 16:19] CoDEmanX commented on #1209
I'm using Firefox 34.0.5

[2015-01-12 16:23] 13abylon commented on #1209
I can't confirm that bug. I've tried it with `Firefox 34.0.0` with `OS X 10.10.1` and the search feature is working fine.

Have you tried a shift reload?

[2015-01-12 16:48] CoDEmanX commented on #1209
Went to private mode, did a full reload and still broken on Windows 8, no errors in web console.

[2015-01-12 16:59] fceller commented on #1209
@13abylon We have a Windows 8 machine you can use for tests. Ask Willi

[2015-01-12 17:17] CoDEmanX commented on #1209
@13abylon: Did you change anything in last couple minutes? It works ATM, there "x" is still not showing however.

[2015-01-12 17:23] 13abylon commented on #1209
No, i did nothing at the documentation.
The "x" is not in the documentation at the moment, we had some troubles with it.
I will try to fix this in the next few days

[2015-01-13 12:57] CoDEmanX opened #1210 "Query general graph for common neighbors with more than 2 vertices?"
Consider the following example graph:

![multivert_commonneighbors](https://cloud.githubusercontent.com/assets/1309249/5720916/2bf9a6b4-9b2b-11e4-8e83-721d6a7e1f30.png)

1. Given the vertices A, B and C (creators), how to figure out their common neighbors (projects all 3 participated in)? For two vertices, I could simply use `GRAPH_COMMON_NEIGHBORS("myGraph", A, B)`, but what if I want to query fo

[2015-01-13 15:00] 13abylon commented on #1209
Does it still work in firefox? If yes, I would like to close this issue

[2015-01-13 15:03] CoDEmanX commented on #1209
Yes, it does...

I found another issue with the search however: type in something like `asd`, nothing is found. Click on the magnifier icon to close search, all items return. Click on the magnifier icon again, search field shows up again and has nothing entered. Now click any item - the previous search phrase suddenly re-appears.

[2015-01-13 15:06] 13abylon commented on #1209
Yes, this is a bug from gitbook I hope they will fix soon :)

[2015-01-13 15:37] #1209 closed

[2015-01-14 01:33] CoDEmanX commented on #1210
I believe I solved it after some sketches on paper:

1. Get edges of all start vertices `GRAPH_EDGES() `, get the INTERSECTION () of the `_to` edge attribute and get the target vertices by these IDs

2. basically same as above, but get all edges of target vertices going to start vertices to count their number. If number of edges is equal to number of start vertices, then target vertices can only b

[2015-01-14 08:20] mchacki commented on #1210
Hi @CoDEmanX i think your solutions will also work, but you can do it with COMMON_NEIGHBROS only:

    let res = (for x in (
      let nodes =  ["a/A","a/B","a/C"]
      for n in GRAPH_COMMON_NEIGHBORS("g",nodes , nodes)
        for f in VALUES(n)
          return VALUES(f)
    ) return x)
    return CALL("intersection", res[0])

Nodes is the list of vertices where you would like to find common ne

[2015-01-14 08:23] mchacki commented on #1210
Ah and according to your btw: i think this is actually a question suitable for Stackoverflow. It is not a real issue.

[2015-01-14 09:26] CoDEmanX commented on #1210
Many thanks, mchacki! I didn't realize you could pass a list of nodes to graph functions.

In terms of efficiency (memory and cpu-wise), which approach do you think is better? In a rather large graph, could be the intermediate result of your solution require more memory? Is `intersection()` optimized in some way? (start with smallest set...)

Put the question up on SO for you to copy your answer o

[2015-01-14 10:36] antokara opened #1213 "User Functions strange issue"
(ver 2.3.2)

I registered my custom function with a namespace "myFunctions::myFunction",
it worked properly for a while but then, at random times of the same exact AQL execution,
an error appeared that ..."user function runtime error: ReferenceError: myFunctions is not defined".

While this error appeared, I could see my function with
[code]
but when I tried to call it from within an AQL it failed

[2015-01-14 10:43] CoDEmanX commented on #1213
Are you running ArangoDB on a single machine? Did you or some automated process possibly change the database between the error and its resolution?

[2015-01-14 10:47] antokara commented on #1213
it is installed on a single machine.
no such change was made between the executions that failed or passed.

[2015-01-14 13:45] baslr commented on #1185
@jsteemann any update regarding the number is differently returned at different ArangoDB API endpoints?

[2015-01-14 23:38] jsteemann commented on #1213
Please leave this issue open. It looks like the function was registered on all threads but one, so was available mostly but not always. Will look into this.

[2015-01-15 11:32] yiqing commented on #846
i come from @sleepycat 's blog , an using the php client lib .
find that 'lat' or 'lng' need a double value , but in php the value will be trancated when it is too long. so want to know if these two values can be a type of String !

[2015-01-15 11:50] jsteemann commented on #846
@yiqing : on the server side, `lat` and `lng` need to be doubles.
Where exactly is the value truncated in PHP? Could you provide an example that shows it?

[2015-01-15 12:11] Achrome commented on #873
Saw this issue while upgrading to 2.4.0 through apt

[code]

Was able to fix it by running

[code]

[2015-01-15 12:14] Achrome commented on #873
I don't suppose arango could issue a database upgrade command implicitly during post-install.

[2015-01-15 12:15] fceller commented on #873
It could - but it might be safer to first create a backup and then upgrade.

[2015-01-16 08:35] jsteemann commented on #1213
I wasn't able to reproduce the issue no matter what I tried.
Is it possible that you provide the user-function code and also the AQL query that invokes it? That may help diagnose it. Thanks!

[2015-01-16 12:08] jsteemann commented on #1213
After reading the AQL function execution code for several times I think I know what the problem is/was.
There are a few situations in which unexpected things may happen:

First of all, modifying outer-scope variables from an AQL user function can cause undefined behavior. Here's an example that modifies outer-scope variables `i` and `name`:
[code]
The solution here is to use the `var` keyword to i

[2015-01-18 18:47] andredasilvapinto opened #1214 "PPA upgrade breaks arangodb on old CPU"
[code]

Ubuntu 14.04.1 LTS

Processor:

[code]

[2015-01-18 23:05] tbo opened #1215 "Can't download generated App"
I installed ArangoDB 2.4 with homebrew on Mac OS 10.10.1 and followed the "Foxx in 10 minutes" tutorial. Unfortunately I was not able to download the newly generated app. Instead an empty browser tab opened (loading indicator active) and my ArangoDBs CPU usage rose to 60%.

I checked the log, but everything seemed normal. I reinstalled ArangoDB (this time I downloaded it from the homepage) and tri

[2015-01-19 08:24] fceller commented on #1214
The newer V8 versions require SSE2. It is possible to compile V8 against a different target, but this will slow down V8 on modern hardware.

[2015-01-19 08:24] #1214 closed

[2015-01-19 09:51] antokara commented on #1213
Here is my custom function:

[code]

I declared a function inside a function because I could not find a way to call a custom function, from within another custom function. Not that I need them as two separate functions but just in case it could be reused as separate code...

I think my code does not match the situations you describe, without being 100% sure ofc.

[2015-01-19 10:43] jsteemann commented on #1213
Your custom function code does not raise any of the potential problems I mentioned (i.e. not wrapping the code into a JS function, not using `var`). It looks pretty ok.
Were there any other user functions around in your database that were prone to these issues? It think the problems may have occurred also when only a single function was problematic. Could this be the case?

[2015-01-19 10:48] antokara commented on #1213
at one point I had registered the function myFunctions::compareAttribute(attribute, operator, value) as it appears above and they both coexisted for a while, but could not use it from within myFunctions::findInAttribute, so I unregistered it and left myFunctions::compareAttribute the only custom user function in existence.

[2015-01-19 10:51] antokara commented on #1213
Also, I would like to refer to my old issue https://github.com/triAGENS/ArangoDB/issues/974
I think with a custom function similar to the one above, the issue could be resolved without adding a native AQL function for it. This way it's flexible to developer's needs. Except if a native similar function would be allot faster, but not sure if it can be made to suit all needs;

[2015-01-19 11:04] jsteemann commented on #1213
I admit I have no ideas other than above what could have caused the problems.
Let's leave this issue open because it may reoccur. If so, please post any issues here (including the ArangoDB version the problem will occur on).
I slightly refactored the user function registration code in 2.3.5 and in 2.4.1 while trying to reproduce the problem. But I think this won't help as the error will only occur

[2015-01-19 11:10] antokara commented on #1213
ok, I updated to 2.4.0. If it reoccurs I will post here along with the version, thanks!

[2015-01-19 15:42] sleepycat opened #1216 "create or return document by example"
I think a method similar to the [find_or_create](http://api.rubyonrails.org/classes/ActiveRecord/Relation.html#method-i-find_or_create_by) method in Ruby on Rails would be a good addition to AQL.
Its a really useful method because I don't have to worry about whether the document exists or about accidentially creating duplicate documents.

I had suggested this on the Google group a while back and o

[2015-01-20 04:41] yiqing commented on #846
@jsteemann sorry for my late replying
in php
[code]
and the value -75.69719309999999 saved in db is become :-75.6971931.
don't know where the truncating occurring , db or php? .  (i use the official php client driver)

[2015-01-20 07:50] jsteemann commented on #846
@yiqing : truncation may indeed occur.

When I try the above snippet and execute it in PHP, it is PHP that actually truncates the floating-point value. Here's an example:
[code]
Executing this script produces:
[code]
with the floating-point value being truncated for display reasons already.

When the PHP driver sends the value to the db, it will use PHP's `json_encode()` to serialize the value bef

[2015-01-20 09:43] jsteemann commented on #1216
A *find-or-create* operation cannot be represented in current AQL.
There are a few reasons for this:
* the `INSERT` statement needs to be top-level. It cannot be nested inside a `LET` or be part of an expression.
* an `INSERT` will either insert a document and return it or, on duplicate key, not insert it and either fail or ignore the document (depending on statement configuration).
* `INSERT` wil

[2015-01-20 14:37] baslr commented on #1185
this affects also ArangoDB 2.4
![bildschirmfoto 2015-01-20 um 14 32 01](https://cloud.githubusercontent.com/assets/1494154/5818962/b6c0663a-a0b1-11e4-8ef8-5da5178bc368.png)
![bildschirmfoto 2015-01-20 um 14 32 13](https://cloud.githubusercontent.com/assets/1494154/5818966/c30511c0-a0b1-11e4-9c9b-6b226dc96e8e.png)

[2015-01-20 21:13] bachp commented on #1215
I observe similar behaviour on Windows 8.1 and ArangoDB 2.4.0 64-bit

The difference is that when I try to download a generated app ``arangod.exe`` crashes.
Logs with ``level = debug`` shows nothing special.

[2015-01-20 21:18] fceller commented on #1215
We will release 2.4.1 tomorrow which fixes this bug.

[2015-01-20 21:21] bachp commented on #1215
Perfect. So no need to investigate further from my side ;)
Thanks for letting us know.

[2015-01-21 05:22] clintwood opened #1217 "GRAPH_TRAVERSAL: Question or Feature Request"
I use graphs a lot from AQL!  One of the things I find myself doing often is using the GRAPH_TRAVERSAL in AQL to find all **_leaf_** vertices for a given start vertex.

Is there an easy way to do this?
For me this usually requires post filtering on the results or if the depth of all leaf vertices is known then by setting the minDepth and maxDepth options... but this does not work well for arbitrar

[2015-01-21 10:10] clintwood commented on #1217
Having a quick scan through the code it appears that a slight logic/filter change to [maxDepthFilter](https://github.com/triAGENS/ArangoDB/blob/cb9c7bad42509d27615867f1e90d78760ce61f23/js/common/modules/org/arangodb/graph/traversal.js#L576) and [minDepthFilter](https://github.com/triAGENS/ArangoDB/blob/cb9c7bad42509d27615867f1e90d78760ce61f23/js/common/modules/org/arangodb/graph/traversal.js#L586)

[2015-01-21 10:39] mchacki commented on #1217
Hi, i also like this idea. Leafs are intresting for many use cases.
I think with your investigation you are right, these will be the places to be modified.
I personally do not think it is too much of an effort to enable it.

[2015-01-21 10:42] fceller commented on #1215
Please test 2.4.1.

[2015-01-21 10:42] #1215 closed

[2015-01-21 11:26] clintwood commented on #1217
Awesome!
One implementation issue I see is that the filter functions `max/minDepth` are called as the `path.vertices` are being built which means it may be difficult to do this without knowing the final `path.vertices.length` up front... But then I'm really not that familiar with this codebase...

[2015-01-21 14:49] clintwood opened #1218 "GRAPH_TRAVERSAL_TREE: Why nested results?"
When using the above graph operation why do the results come back nested in 3 levels of an array?
i.e.:
[code]
I'm finding I do `return GRAPH_TRAVERSAL_TREE(...)[0][0]` sometimes...

[2015-01-21 16:26] stackmagic opened #1219 "/_api/replication/logger-state clients field"
The endpoint `/_api/replication/logger-state` returns a field `clients` which is an empty list in my case and [the documentation](https://docs.arangodb.com/HttpReplications/ReplicationLogger.html) doesn't mention this field at all.

Could you add some documentation for this field please? I assume it's safe to just ignore whatever this field contains.

[2015-01-21 19:11] bachp commented on #1215
Just tested with 2.4.1 on Windows 8.1 64bit and it is working now. Thanks.

[2015-01-21 21:08] tbo opened #1220 "Unable to generate app with the same name twice"
The application generation fails, if another application with the same name has been generated beforehand. To reproduce this execute this step twice (with the same name of course): https://www.arangodb.com/tutorial-foxx#new-application

I found the likely reason for this in the browser console:

500 Internal Server Error
[code]

[2015-01-21 21:21] tbo opened #1221 "Missing icon in admin interface"
The "select2x2.png" icon cannot be found. The following error message is displayed instead:
[code]
It is used in the application generation dialog.

[2015-01-21 21:25] tbo opened #1222 "Outdated version of ArangoDB in the Apple App Store"
The version of ArangoDB in the Apple App Store is outdated (2.1.1).
Please update or remove to avoid confusion.

[2015-01-22 10:10] jsteemann commented on #1219
Thanks for the hint. I have updated the code comments accordingly, which are used for documentation generation.
At the moment the *clients* attribute will be an empty list in all cases, so it is safe to ignore.

[2015-01-22 10:10] #1219 closed

[2015-01-22 10:15] stackmagic commented on #1219
Perfect, Thanks!

[2015-01-22 14:54] baslr opened #1223 "question about document() in transactions / [object ShapedJson] / [object Object]"
Hi,

when it is possible to modify objects that were returned with `db.myCollection.document()`?

I have one case where objects are not mutable but in other collections I can modify objects.

The one that is not mutable is a `[object ShapedJson]`

[2015-01-22 16:08] CoDEmanX commented on #1187
Found a few command line parsers:

http://tclap.sourceforge.net/
http://www.busybox.net/about.html (was claimed to contain cmd parsing capabilities incl. utf-8 support)
http://www.boost.org/doc/libs/1_57_0/doc/html/program_options.html
http://thrysoee.dk/editline/

[2015-01-22 16:23] jsteemann commented on #1187
The command-line parsing is not the problem I think (that would be about picking about start parameters). What we are after is some readline-like functionality, with ideally identical semantics AND support for Windows. An idea would be to look at what node and the mysql client use on Windows.

[2015-01-22 17:28] CoDEmanX commented on #1187
Good thinking, NodeJS even has REPL if you start it without parameters and worked fine for me on Windows so far!

[2015-01-22 20:36] jsteemann commented on #1223
I guess you are referring to the server-side version of `db.myCollection.document()` and not the arangosh version.

When this method (or other server-side methods) returns an `[object ShapedJson]` this means produces a very light-weight JavaScript object that contains an internal pointer to where the document data are actually stored in memory or on disk. Especially this is not a full-blown copy o

[2015-01-22 21:15] jsteemann commented on #1217
I would like the feature, too. But I am not sure about a potential implementation.
The filters are executed before a vertex is visited (in pre-order traversal) and before the expander function has determined the in- or outgoing connections for the vertex. At this point, there is no way to determine whether the vertex is a leaf node, or how long the path will become. So filtering here with a regula

[2015-01-23 10:48] mchacki commented on #1220
Should be fixed in next 2.4 release.

[2015-01-23 10:48] #1220 closed

[2015-01-23 11:04] jsteemann commented on #1187
NodeJS uses libuv for all its console I/O and printing. The Windows part of it is a 2000+ line file solely for the tty parts.
MySQL client uses conio on Windows, and some hand-crafted read/write functions for the REPL.

So there seems to be no drop-in replacement for readline as Windows and Non-Windows tty handling is very different.

[2015-01-23 13:40] baslr commented on #1223
Hi Jan,

first thanks for this really good explanation. It helped me a lot to understand the behavior.
Yes I referred to the transaction that can be invoked via the http API.

For me this isn't a real problem that has to be fixed. You just have to know this "pitfall".

My suggestion would be to have a "Good to know" or something like this in the for new users section in the documentation to mentio

[2015-01-26 06:54] clintwood commented on #1217
@jsteemann, the `expandVisitor` sounds like a good solution!  As per my post, agreed that `minDepth / maxDepth` would not work...

I'm assuming `expandVisitor` would be usable from AQL via `options` (like `followEdges`, `filterVertices`, etc.)?

[2015-01-26 09:10] stackmagic opened #1224 "delete .mk files in devel build"
When I do my usual monday morning devel branch update:

[code]

after everything is compiled again, my git status shows this:

[code]

Maybe they shouldn't be deleted or they shouldn't be in the git tree?

[2015-01-26 10:01] dothebart commented on #1224
Yes, these are autogenerated by the V8-build. I've deleted them & added them to .gitignore.
Thanks for reporting.

[2015-01-26 10:01] #1224 closed

[2015-01-26 10:18] jsteemann commented on #1217
Just another idea that @mchacki had: do not use a separate visitor (like the expandVisitor), but pass the connections determined by the expander function to the visitor function as an optional argument. This way everything could be done with a single visitor function (that could determine the leave nodes or anything else). If this is the way to go, then we would make this available from AQL via sp

[2015-01-26 11:05] clintwood commented on #1217
@jsteemann, @mchacki, ok great, would be nice to have this feature... If I get to figure out how to do this I will post a gist...

[2015-01-26 11:12] kevinprotoss opened #1225 "Naming Conventions for attribute names in ArangoDB"
Hi,

I found one limitation in the documentation.

[code]

I need to make sure whether could we use `@` in the attribute names. Certainly, it's supported now in the db. However, if it won't in the future version, that would be a problem.

Why can not use other character for future use cases? As I know `@` in JSON is much more important than other reserve keywords. e.g., JSON-LD uses always attribu

[2015-01-26 15:27] fceller commented on #890
@minnownoir sorry, we have no release date for this. Currently, we are concentrating on auto failover.

[2015-01-26 16:54] pluma commented on #1225
I'm not aware of any plans to give special semantics to attributes starting with `@`. I'm not sure whether that line in the documentation is still accurate. Maybe @fceller or @jsteemann could chime in with a more normative opinion?

[2015-01-26 23:03] pekeler opened #1226 "arangod log issues"
using 2.4.1 on a mac

I was running `arangod --javascript.dev-app-path foxx db` to develop a new Foxx app. At some point I made a mistake (I forgot to require a model in my controller) and my page didn't load anymore (`{"error":true,"code":404,"errorNum":404,"errorMessage":"unknown path 'dev/arango_react/index.html'"}`). This brings me to my first point: it would be nice if this error message was

[2015-01-27 07:30] jsteemann commented on #1225
I remember we discouraged the usage of `@` in the docs, and we planned to use `@`-prefixed attributes in future versions for special purposes.

That was long ago already, and we did not come up with any concrete plans about such attributes yet. From my point of view, this point of the documentation is outdated and can be changed so any `@`-prefixed attributes can be used, and will not have special

[2015-01-27 07:56] jsteemann commented on #1226
Thanks for the feedback! I think you pointed us at two things which can be confusing for users.

I think there are a two issues to sort out:
* 404 errors are showing when a route that was called is not available. Among other things, non-availability can be caused by an issue in the JavaScript file that defines the routes. For example, if the file defining the routes contains a parse error, there i

[2015-01-27 07:56] jsteemann commented on #1223
Totally agree!

[2015-01-27 07:57] jsteemann commented on #1223
@13abylon : can you take over and put this into the docs in the appropriate place?

[2015-01-27 08:18] jsteemann commented on #1217
I think we first need to do something in the traversal code to made this work. I think I can give it a try tonight.

[2015-01-27 09:52] kevinprotoss commented on #1225
Thx a lot for your feedback. Then I can use that now.

[2015-01-27 10:19] mchacki commented on #1226
To 1)
I totally agree with @jsteemann . Right now we are improving the foxx core for release 2.5 that also includes a much better error logging and also includes the fix described by @jsteemann . I have now backportet it to 2.4 and it will be shipped with the next bug-fix release.
To 2)
I also think it should make a difference if i start arangodb as a service in background or as a foreground task

[2015-01-27 10:21] mchacki commented on #1210
I think we can close it now.

[2015-01-27 10:21] #1210 closed

[2015-01-28 05:55] clintwood commented on #1217
Great... I haven't time to look at it yet...

[2015-01-28 08:54] jsteemann commented on #1217
It should now be possible to use a custom AQL function as a visitor.
I have also added a new traversal order `preorder-expander` that passes the connecting edges into the visitor function. This should allow returning only leaf nodes, though there isn't yet a built-in, ready-to-go function to do it. I might extend this in the course of the next days and write some examples.

[2015-01-28 09:46] clintwood commented on #1217
Awesome... is there a win x64 nightly build?

[2015-01-28 09:59] jsteemann commented on #1217
Not yet.
But currently it looks like the changes will not be intrusive so I can hopefully backport them into 2.4.

[2015-01-28 10:11] antokara opened #1229 "lost collections and documents after update"
System is CentOS release 6.6 (Final) 64 bit

Not sure how helpful this issue can be,
but perhaps it might "click" something...

I did a yum update from arango 2.4.0 -> 2.4.1
the service was running when I issued the update -as always,
then as usual, after the update was complete, I started the service.

To my surprise around 5 collections were gone and some documents from other collections as well

[2015-01-28 10:15] antokara commented on #1229
Here is the /var/log/arangodb/arangod.log the day of the update
http://pastebin.com/c7TGCDms

and the /var/log/arangodb/arangod.log.daemon had only these two lines on day of update...
[code]

[2015-01-28 12:07] clintwood commented on #1217
Even better!  Thanks @jsteemann!

[2015-01-28 12:55] neunhoef commented on #1225
I cannot think of a good usage for these attribute names. One question: Would the existence of these attributes pose difficulties in AQL? For example in
  FOR x IN coll
    FILTER x.@name == "Max"
    RETURN x
Would this work? Or would AQL take @name as a query parameter?

[2015-01-28 14:39] jsteemann commented on #1225
Attribute names can be used outside of AQL, e.g.:
`{"foo":"bar","@name":"bla"}`. In this case, `@name` would be a regular attribute name.
In AQL, a literal `@` can still be used inside an attribute name if the attribute name is enclosed in backticks.

[2015-01-29 14:13] fceller commented on #1226
I've changed the behaviour in devel as follows:

If arangod is start on a terminal in non-daemon mode, it will always log to stderr.

If you start arangod with "--help" it will print both the default and the current value, e. g.

    Logging Options
      --log.file <string>             log to file (default: "+", current: "emil")

[2015-01-29 14:13] #1226 closed

[2015-01-29 15:57] pekeler commented on #1226
Nice. Thanks!

[2015-01-30 05:33] clintwood commented on #1217
@jsteemann, [Thanks for great post on this custom visitor extension!!!](http://jsteemann.github.io/blog/2015/01/28/using-custom-visitors-in-aql-graph-traversals/)

[2015-01-30 10:38] fceller commented on #1225
I would not encourage the use of '@'

[2015-01-30 10:46] jsteemann commented on #1217
Thanks. It is now merged into 2.4, too, so it can be included in 2.4.2.

[2015-01-30 10:46] #1217 closed

[2015-01-30 11:08] jsteemann commented on #1225
To clear the confusion that may have arisen, I just discussed that with @fceller:
- attribute names starting with `@` are supported by ArangoDB and should work, so they can be used by end users if required
- the section about them being reserved for future use cases has been removed from the manual (at least in the source code, the online manual will be updated eventually).
- we still do not encou

[2015-01-30 11:08] #1225 closed

[2015-01-30 19:41] baslr commented on #1185
@jsteemann @fceller dont want to annoy, but any update?
This is a read consistency issue.

[2015-02-02 01:59] andyhu commented on #1183
It would be really nice if ArangoDB supports full text search in all the major languages including CJK ( Chinese, Japanese and Korean) since they don't have a space between different words. OrientDB embedded lucene to do such kind of job. I'm interested that if ArangoDB can integrate with something like Sphinx Search to provide the similar functionality.

[2015-02-02 11:13] weinberger commented on #1183
Have you seen the Elasticsearch River?
https://github.com/arangodb/elasticsearch-river-arangodb

[2015-02-02 11:43] andyhu commented on #1183
@weinberger Thanks for the link, I have actually seen it before. However it requires an elasticsearch server being set up and saves a duplicated set of records in ElasticSearch ( and it uses Java ).
But anyway, it might be the best choice if we want to do such kind of jobs. ElasticSearch is very powerful and flexible. It doesn't make sense to duplicate these features in ArangoDB

[2015-02-02 14:08] baslr opened #1230 "API: document/col-name/_key and cursor return different floats"
Hi,

the api endpoint to retrieve a document based on its key returns incorrect floats.

[code]

In the Web Interface:

/_db/_system/_api/cursor (collection overview)

![bildschirmfoto 2015-01-20 um 14 32 01](https://cloud.githubusercontent.com/assets/1494154/5818962/b6c0663a-a0b1-11e4-8ef8-5da5178bc368.png)
response
{"result":[{"_id":"test/2223512501955","_key":"2223512501955","_rev":"22235184001

[2015-02-02 17:21] ThorstenFuehring opened #1231 "bug xor feature in AQL: LENGTH(null) == 4"
I came accross a behaviour which I find a bit strange: The query

    FOR x in [null] RETURN { "x" : x, "length": LENGTH(x) }

returns: `[  { "x": null, "length": 4 }]`.

The description says: "LENGTH(array): Returns the length (number of array elements) of array. If array is an object / document, returns the number of attribute keys of the document, regardless of their values."

`null` is not an

[2015-02-02 17:43] fceller commented on #1231
It is a feature - but the documentation is incomplete. It should read:

If array is neither an array nor an object, than it is converted into a string and the string length is returned.

[2015-02-02 18:35] CoDEmanX commented on #1231
Can't this lead to hard to track down follow-up errors? I would actually expect it to return 0 if it's `null` or `undefined` - which are very possible results of sub-queries etc. (typos, missing attributes, failed functions, ...). Implicit casting can do a lot of harm.

[2015-02-02 19:13] ThorstenFuehring commented on #1231
It was this kind of hard to track error CoDEmanX mentioned which lead me to the reported finding.

I agree that the conversion to string for items other than objects and arrays makes sense: but *if and only if* there is some kind of value which can be reasonably converted. Another exception is I/O where you need something to denote a `null` value.

I do not agree with the concept of converting a `

[2015-02-02 22:31] fceller commented on #1231
The manual describes the behaviour for array / object / string, but not for null (or boolean or number). So I agree, that null should better be interpreted as "empty" and therefore LENGTH(null) = 0. I would also define LENGTH(true), LENGTH(false) and LENGTH(number) as 0. For number there is no easy way to determine the number of characters because of rounding issues and "e" notation.

[2015-02-03 08:20] jsteemann commented on #1231
Any non-array/non-object value passed into `LENGTH()` will be converted into its string presentation, and then the string length will be determined and returned. The to-string value of `null` in AQL is `"null"`, so the return value is 4.

This is in line with some other languages, e.g. JavaScript and PHP.
I know `null` has a different meaning in other languages and also in SQL, but in SQL `LENGTH(

[2015-02-03 09:44] jsteemann commented on #1230
These are all rounding issues.

ArangoDB uses IEEE754 floating point numbers internally, and these cannot exactly represent each possible value. `0.000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

[2015-02-03 09:45] jsteemann commented on #1185
This has the same root cause as issue #1230.

[2015-02-03 09:47] jsteemann commented on #1152
Thanks for the pointer. I used that as an inspiration to implement a prototype for AQL, too:
http://jsteemann.github.io/blog/2015/02/03/using-dynamic-attribute-names-in-aql/

Note that this has not been committed yet, but it seems to work in general and might be a good way to go ahead.

[2015-02-03 12:24] fceller commented on #1187
Fixed in 2.4.2

[2015-02-03 12:24] #1187 closed

[2015-02-03 12:30] fceller commented on #1187
There still is an issue with the history. Sometimes the line is garbled. I. e. first a "5 line command", then a "2 line command". Scrolling in the history breaks the output.

[2015-02-03 17:10] jsteemann commented on #325
I don't see a way to make the optimizer use an index on `displayDate` here.
Indexes will only be used if the collection data are accessed directly using a `FILTER` or a `SORT`.

In the above query, `displayDate` is not accessed directly by reading the relevant docs from the collection `canSee` and then sorting them by `displayDate`.
Instead, an attribute `displayDate` is accessed on the result of

[2015-02-03 17:42] wirtsi commented on #325
Thanks for your detailed response, very much appreciated :)

So I guess storing sorting values on the edge collection is not such a good idea.

So what I'm trying to do is: Posts are mapped to users ... but all user get an individual sorting for them. So the critical call is: Get me this user ID and all the posts linked to it sorted by the displayDate in the edge. The edge collection will become q

[2015-02-03 21:58] jsteemann commented on #1054
@pluma haven't you added the `request` module recently? I think it serves exactly this purpose.
If what I guessed is true, can you provide some pointers on its documentation and close this issue?

[2015-02-03 22:07] jsteemann commented on #963
This feature has been implemented since 2.4.0.
The syntax is slightly different than suggested above, but it should solve the mentioned problems anyway:

A regular AQL `INSERT` query still does not return any documents:
[code]
However, adding a bit a the end will make it return the created document(s):
[code]
This will also work if a query has inserted more than one document, e.g. the following `I

[2015-02-03 22:07] #963 closed

[2015-02-03 22:09] nvdnkpr commented on #963
Very cool. Thank you guys for your awesome work

[2015-02-03 22:43] jsteemann commented on #987
Revisiting this one with ArangoDB 2.4.2 and 2.5/devel:
The query with the `COLLECT` clause needs to process all documents from the collection in sorted order, with `user.level1` being the sort criterion. If there is a sorted (skiplist) index present on this attribute, the sort will be optimized away and the `COLLECT` will process the documents in already sorted index order. This will be far better

[2015-02-03 23:50] jsteemann commented on #1155
Bind parameters can now (as of today in 2.5/devel) be used as keys/attribute names in object literals.
That means your example query does now work:
[code]
It is now also possible to use calculated attribute names using arbitrary expressions enclosed in `[` and `]`:
[code]

I've also come to conclusion regarding extra types of bind parameters, for example, a special bind parameter type to would all

[2015-02-04 07:55] pluma commented on #1054
2.5 will bring the `org/arangodb/request` module, which provides a similar API to the `request` module for Node.js.

The module is documented in the 2.5 docs (in the JavaScript modules chapter).

[2015-02-04 07:55] #1054 closed

[2015-02-04 08:43] jsteemann commented on #325
I think the graph traversal approach is not the best solution here. It would find the connecting edges between a given user and his/her posts efficiently, but the edges will be returned in more or less random order. So an extra sorting by date will still be required.

This is not necessarily a problem, e.g. if the number of posts returned for a given user is low, then the extra sorting will hardly

[2015-02-04 09:35] mchacki commented on #1203
The system apps have been added to the App Store. and should now be visible.
@Metamist have you checked if there is problem with writablity of the temporary directory?

[2015-02-04 15:28] wirtsi commented on #325
Thanks again for the help!

You were right about the assumption that the number of posts linked to an user via the graph is rather limited (~ 200-400). So sorting the results in memory shouldn't cost too much.

I had the wrong idea that Arango needs to sort all of them, but this is not the case.

One last thing, in the example query you've given above,the filtering by userID and then sorting by it

[2015-02-04 15:37] jsteemann commented on #325
Specifying the indexed attributes in the order in which they appear in the index definition is currently required to use the index for sorting, even if all documents have the same value in the first indexed attribute.
A fix for this is on our to-do list already and I can post here when it is available.

[2015-02-04 18:42] pekeler opened #1232 "IIFE necessary for Foxx apps?"
It seems like scoping in Foxx works like commonjs, i.e. everything is private to a file unless explicitly exported, so wrapping the whole file content in Immediately-Invoked Function Expression shouldn't be necessary. However, I keep seeing example code that does use IIFEs. Can you please clarify if IIFEs should be used, or if your examples should be updated?

For instance:
https://github.com/aran

[2015-02-04 19:31] pekeler opened #1233 "2.4.2 breaks my Foxx app"
making a request against my controller against returns a 500 with the following trace:
[code]

When I switch back to 2.4.1, my app works again.

Even if I reduce my app to a bare minimum of code, it still breaks with 2.4.2.

[2015-02-04 19:32] fceller commented on #1233
Is fixed in the current 2.4 branch. We will release 2.4.3 shortly.

[2015-02-04 19:32] mchacki commented on #1233
Hi Christian, thanks for reporting.
This issue has already been reported to us in person and is already fixed.
We will build a 2.4.3 version containing the fix.

[2015-02-04 19:33] pekeler commented on #1233
Thanks guys :)

[2015-02-04 19:48] fceller commented on #1232
It is not necessary. However, a lot of people prefer to use

    "use strict";

having a IIFE makes that trivial. Otherwise you need to put the "use strict" in each and every function.

[2015-02-04 19:48] #1232 closed

[2015-02-04 21:31] CoDEmanX opened #1234 "601 - superfluous URL suffices?"
I just stumbled upon this error code in the docs, but have no idea what it means.

It doesn't seem to be raised anywhere in the code, but still, how would such an URL look like?

[2015-02-04 22:22] pekeler commented on #1232
I don't think that's true. As long as you put `'use strict'` at the top of the file, it applies to everything in that file. AFAIK the only reason people are used to putting it into IIFEs is so that their scripts can be concatenated with non-strict scripts, but that doesn't happen with Foxx apps.

Let me take this one step further: V8 has a --use_strict option to enforce strict mode globally. I'd v

[2015-02-04 23:49] pluma commented on #1232
Having `'use strict'` globally (i.e. at the top of the file) was broken in earlier versions of ArangoDB. @fceller fixed it in (I think) 2.3. A lot of the examples that use IIFEs pre-date that change.

You don't have to use use IIFEs in 2.4 and later. I prefer not using them and try to remove them where they occur in ArangoDB and the officially maintained Foxx apps.

We can't use `--use_strict` bec

[2015-02-05 05:30] pekeler commented on #1232
Great. OK - Thx!

[2015-02-05 08:36] jsteemann commented on #1234
It is actually used as an error code, e.g. when executing this command:

[code]
There are other places that use this error code, too:
* arangod/RestHandler/RestDocumentHandler.cpp: retrieving/saving documents
* arangod/RestHandler/RestEdgeHandler.cpp: retrieving/saving edges
* arangod/RestHandler/RestImportHandler.cpp: importing data
* arangod/RestHandler/RestReplicationHandler.cpp: replication co

[2015-02-05 08:40] mchacki commented on #1232
Just an update.
We are using JSHint to evaluate our Javascript files.
The default configuration of JSHint does not like having "use strict"; in the first line of your file outside of your internal function.
[code]
will not pass JSHint

[code]
will pass it

or

[code]
will pass as well.

For arangodb either version is fine, so if you do not use JSHint you are free to use whichever version you prefe

[2015-02-05 09:31] #1233 closed

[2015-02-05 15:44] pekeler commented on #1232
@mchacki I haven't tried it, but running JSHint with the `node` option should help with that issue. http://jshint.com/docs/options/#node

[2015-02-05 15:47] pluma commented on #1232
@pekeler Sadly, that flag does a lot more than just that. It also whitelists a lot of globals ArangoDB does not provide.

[2015-02-06 05:06] StatLaw opened #1235 "Use of two controllers in Foxx shows problem in generation of Swagger docs"
When using two controllers in a Foxx application, the documentation associated with the first controller somehow leaks into the Swagger doc with respect to the second.

I've verified this behaviour using a test application in 2.4.1 and 2.4.2. Here is the screenshot:

![2015-02-06_1189x1048](https://cloud.githubusercontent.com/assets/10876819/6074574/7ef944aa-adb9-11e4-9147-8d794e394b3c.png)

The t

[2015-02-06 11:39] mchacki commented on #1235
Hi,
thanks a lot for reporting this. And for creating the minimal example.
I can reproduce it and start bug hunting.
I will keep you informed.

[2015-02-06 14:22] mchacki commented on #1235
I fixed this bug in 2.4 and the upcomming 2.5.

[2015-02-06 14:22] #1235 closed

[2015-02-06 17:56] CoDEmanX opened #1236 "registerTask() with period + offset ignores offset"
The following code will start printing "bar" to the server console after 3 seconds, ignoring the offset.

    arangosh [_system]>
    tasks.register({
        id: "foo",
        period: 3,
        offset: 60,
        command: "require('console').log('bar');"
    })

It would be a nice feature, if an optional delay would be honored for the first run (wait 60 secs, then run the task every 3 secs). I

[2015-02-06 19:47] pluma commented on #1236
I think this is a limitation of the underlying V8 API. @jsteemann ?

[2015-02-06 20:06] jsteemann commented on #1236
No, the offset is passed correctly from the JS code to into the code that registers the periodic timer event.
I just re-read the event library's documentation and it says that for periodic timers,

This means `offset` cannot be greater than `interval`, which is why the above code currently does not wait 60 seconds before firing. So the library doesn't support it, and the only way I see to get this

[2015-02-07 06:17] StatLaw commented on #1235
Excellent. Thank you.

[2015-02-07 21:57] a-s-o opened #1237 "Are multiple bodyParams allowed in Foxx route?"
Hello,

I am trying to do as follows in a Foxx controller:
[code]
I have `rootElement` set to true in the `manifest.json`

The error I am getting is:
[code]
Is there an alternative way of getting additional attributes in the body of the request?

[2015-02-08 23:16] nlac commented on #711
Hi guys,
i've just tried the same command `foxx-manager update` on Win8 with ArangoDB v2.42, and got the same "download failed" error as above. I've read this and the related tickets, but still couldn't make it.

I made sure that
* the default temp directory of arangodb (c:\Users\USERNAME\AppData\Local\Temp\) does exist + has the /downloads, /zip, /uploads subdirs
* inserted a row `temp-path = @RO

[2015-02-09 12:04] obadasemary commented on #841
not working with me

[2015-02-09 12:08] obadasemary commented on #1192
in 2.4.3 i can`t install arangodb and arangodb-client at the same time on ubuntu

[2015-02-10 00:46] visualjeff commented on #1069
FYI: Raw link is gone again from the Pet demo.

[2015-02-10 08:33] jsteemann commented on #1069
I think it is still available, but it is now named "Download API" (should be on the right in the **Links** section) after clicking on an app in the **Applications** tab.

[2015-02-10 08:47] mchacki commented on #1069
Which version of ArangoDB are you using?
In my 2.4. both links are available:
![swaggerdocumentation](https://cloud.githubusercontent.com/assets/2317920/6124012/c5a6efee-b109-11e4-9853-23b6a18e2713.png)

[2015-02-10 08:53] jsteemann commented on #841
@obadasemary : what exactly is not working? can you provide any details?

[2015-02-10 10:30] dothebart commented on #1192
@obadasemary thats the intended behaviour - the client package is only there for machines where you don't want to install the server. The server package also contains the client. So the fix here basically is, that the package manager won't let you do this, rather than complaining about duplicate files during installation.

[2015-02-10 12:25] obadasemary commented on #841
when i run this on termenal : arangod
2015-02-10T12:23:05Z [11593] FATAL failed to create logfile '/var/log/arangodb/arangod.log'. Please check the path and permissions

[2015-02-10 12:26] obadasemary commented on #841
if i run it by sudo

obada@obada:~$ sudo arangod
[sudo] password for obada:
2015-02-10T12:25:30Z [11649] FATAL cannot start server: database directory is locked
More error details may be provided in the logfile '/var/log/arangodb/arangod.log'

[2015-02-10 12:27] obadasemary commented on #841
v 2.0.9

[2015-02-10 12:35] obadasemary commented on #1192
ok
now after i install it

i have this problem

2015-02-10T12:25:30Z [11649] FATAL cannot start server: database directory is locked
More error details may be provided in the logfile '/var/log/arangodb/arangod.log'

[2015-02-10 12:36] zdebeer99 commented on #841
It could be that arango is already running, you can test it by opening the link http://localhost:8529/ in your browser.

[2015-02-10 12:41] rotatingJazz opened #1240 "Foxx App keeps asking for password"
`ArangoDB 2.4.3` on Ubuntu

I am trying to follow this cookbook: https://docs.arangodb.com/cookbook/FoxxFirstSteps.html

The server is set up with authentication being enabled. I have enabled the dev-app mode via the config file, restarted the server.

I log in to the web interface as a **non-root** user, go to the Applications tab and creat a new one. The application then lists up on the page.

I

[2015-02-10 12:43] dothebart commented on #1192
Is locked -> another arangod is already running.
stop it by issuing
sudo /etc/init.d/arangodb stop
start it by issuing
sudo /etc/init.d/arangodb start

check for evenualy running arangods by issuing
ps -eaf |grep arangodb
or check for its active ports by issuing
sudo netstat -aplnt |grep arangodb

[2015-02-10 13:23] obadasemary commented on #841
yes it is work
now
thank you

[2015-02-10 13:26] obadasemary commented on #1192
ok thank you
it start now :+1:

[2015-02-10 13:26] obadasemary commented on #841
:+1:

[2015-02-11 15:24] baslr commented on #1230
`to pass the numbers through the same to-string conversion and rounding mechanism in all places in our code`
this would be a very good step. Is it possible to use the converter from the cursor call? Because this converts back to `4e-262` instead of `0.0...`

[2015-02-11 15:30] sleepycat opened #1241 "Wildcards in examples"
As mentioned on this [this SO question](http://stackoverflow.com/questions/28438633/arangodb-examples-match-anything-with-a-key-of-x/28439515#28439515) there is currently no way to specify a wildcard in examples.

Jan suggested the following:

[code]
Registering a custom function to use as a visitor in graph functions is great and should absolutely exist.
I totally agree with the last part of the

[2015-02-11 21:45] newoga opened #1242 "Foxx named route / reverse routing"
It would be cool from within a FoxxController to be able to:
(1) Define a name for a particular route, and
(2) From the named route, be able to re-build (reverse route) the url by passing the name of the route and an object. For example:

[code]

Or

[code]

A few considerations/concerns to implementing this:
1. How to handle passing in a model object vs a standard javscript object into the url fu

[2015-02-11 21:54] newoga commented on #1237
@a-s-o:

A request only has a single body. In your example, it looks like you are trying to document query parameters (not the body) since you are calling `req.params('document')` and `req.params('user')`. In that case, use the `.queryParam()` instead of `.bodyParam()` to appropriately document the query parameters.

The documentation spells it out pretty well here: https://docs.arangodb.com/Foxx/

[2015-02-12 11:17] pluma commented on #1242
CC'ing @mchacki @moonglum @fceller

This is something I've thought about before as it would drastically simplify app-internal redirects and URL references.

How does the ongoing effort to re-write Foxx's routing affect this?

[2015-02-12 13:32] mchacki commented on #1240
Hi @rotatingJazz

i am not able to reproduce this bug, i am pretty sure you do not miss something but it is some strange browser behaviour we do not react to yet. (All browsers handle Authentication differently ;( )

So i could need a bit more information:
1) Which browser are you using to access the WebInterface
2) Which Operating System are you using? (Windows, Mac or any Linux?)
3) Are you work

[2015-02-12 13:51] rotatingJazz commented on #1240
Hi @mchacki

Thank you for looking into this!

1) Opera Next (I will try with another browser and update the issue)
2) It's another database, not `_system`, owned by the non-rot user
3) Yes but I had also tried it by opening the web interface in "private mode" with one tab

One other thing that may (or not) be relevant, because I host multiple versions on the same machine using `Docker`, I make th

[2015-02-12 15:22] mknittig opened #1243 "Support copy & rename of databases"
Arangodb should support copy & rename operations of databases. It should look something like this on the console:
[code]

[2015-02-12 15:38] diegogub commented on #1243
+1

[2015-02-12 19:06] CoDEmanX opened #1244 "Generated Foxx app invalid?"
I updated to 2.4.3, created a new foxx app in Aardvark with two collections (*objects*, *projects*) and uploaded the resulting zip to install the app.

All I get is a disabled `Open` button, `unknown path` json responses at the mount path and this:

    Sorry the code is not documented properly
    "Please specify the protocol for /_db/_system/_admin/aardvark/docu/1576415447351?api_key=false"

Mor

[2015-02-12 19:28] diegogub opened #1245 "Small bug in Tools -> API (auto-created documentation) -"
Hello,
While trying out the API tabs. At the tasks/{id} endpoint. {id} is optional, but cannot execute the test request without a Id.
Thanks!
Diego

[2015-02-13 08:19] jsteemann commented on #1245
Thanks. I have pushed a fixed for this.

[2015-02-13 08:50] mchacki commented on #1240
Hi @rotatingJazz ,

i managed to reproduce your behaviour, it seems nginx is not doing anything funky.
We have alrady fixed this issue in 2.4 branch, as a side effect of sth. else (the documentation was loaded from _system always).
It will be included in 2.4.4 and 2.5

If you want to patch your own arangodb edit the file:
`js/apps/system/aardvark/frontend/js/templates/applicationDetailView.ejs`

a

[2015-02-13 11:23] CoDEmanX commented on #1244
The documentation error also occurs with foxx-aye-aye, the app itself appears to be functional nonetheless.

[2015-02-13 17:58] CoDEmanX commented on #1241
If the proposed visitor became a built-in one, you would be able to just do something like:

    RETURN GRAPH_NEIGHBORS("movies", { movie: "Scarfies" }, {
        visitorReturnsResult: true,
        visitor: "hasAttributes",
        attributes: ["actor"]
    })

@jsteemann: Is it possible for visitors to define `visitorReturnsResult` themselves (at least for built-in visitors)? Would slim down abo

[2015-02-14 15:53] rotatingJazz commented on #1240
@mchacki Superb! :beer: It works perfectly, thank you very much!

[2015-02-14 15:53] #1240 closed

[2015-02-16 11:33] #1245 closed

[2015-02-16 11:41] #1213 closed

[2015-02-16 11:43] 13abylon commented on #1230
Duplicate of #1185

[2015-02-16 11:43] #1230 closed

[2015-02-16 11:44] #1234 closed

[2015-02-16 13:04] mchacki commented on #1244
Hi @CoDEmanX
we are revisting all apps in the Store in preparation for 2.5. They should all be functional by the release.
The failing template is fixed now and will be included in the next bugfix release.
In 2.5 a major upgrade of Foxx will be released.

[2015-02-16 13:04] #1244 closed

[2015-02-16 14:12] CoDEmanX commented on #1244
Thanks mchacki. Is the references commit the only one required to fix the issue? I'd like to test it before 2.5 comes out (is end of February still realistic?)

[2015-02-16 14:16] mchacki commented on #1244
Hi @CoDEmanX yes i think it is the only commit necessary to fix the App generation.

2.5 by end of February is still realistic, we are right now building and testing a technical preview version containing most of the improvements.
We would be very happy to get some feedback through this version ahead of the final 2.5 release.

[2015-02-16 16:21] LongLiveCHIEF opened #1246 "Default Config file for packaged install incorrect"
The docs say that the default config directory is:

    /usr/local/etc/arangodb/arangod.conf

However, having installed from the downloadable .rpm from the downloads page (for RHEL 6), the directory does not exist.

Actually, none of the stated default install directories exist.

[2015-02-16 16:23] fceller commented on #1246
Yes, you are right. This directory is valid for MacOSX, but not valid. Need to update the documentation.

[2015-02-16 16:27] razvanphp opened #1247 "debian init script problems"
I identified two problems with the wheezy init script, we are using the latest version 2.4.3.

First one is that it is not checking if it is run by root, so a lot of nasty access denied errors appear instead.
[code]

Second, is that sometimes the database is still locked when restarting the service, so it cannot start without a sleep:
[code]

This can also be seen in the ansible script [here](http

[2015-02-16 16:29] LongLiveCHIEF commented on #1246
Thanks Frank! I think I've found that it's `/etc/arangodb`.  Quick Question, what's the difference between `arangob.conf` and `arangod.conf`?

If I start with `/etc/init.d/arangodb start`, will it use any configs specified in `/etc/arangob.conf`, and the other conf is for when arango is run as a daemon?

[2015-02-16 16:32] fceller commented on #1246
The config files correspond to the executables:

- arangod: the database server
- arangob: a benchmark tool
- arangosh: the shell
...

/etc/init.d/arangodb will start the server arangod, therefore it will only use `arangod.conf`. Independent of the daemon mode: arangod will always use arangod.conf.

[2015-02-16 16:35] LongLiveCHIEF commented on #1246
gotcha. Thanks!

[2015-02-17 03:23] LongLiveCHIEF opened #1248 "Chrome Defect: Aardvark Applications Type Selector"
When using Chrome 40.0.x (Mac Yosemite), on the arango web interface, applications tab:

Clicking the settings icon opens up the checkboxes for displaying the various types of applications available to install.  However, clicking any of the options sends the user back to the main page.

[2015-02-17 09:15] hkernbach commented on #1248
fixed

[2015-02-17 09:15] #1248 closed

[2015-02-17 10:47] pluma commented on #1237
I can not reproduce this problem in the current development version. The problem was probably fixed during the changes to Foxx in the upcoming 2.5 release:

[code]

Note that the API explorer doesn't handle multiple body parameters properly, though.

[2015-02-17 10:47] #1237 closed

[2015-02-17 11:43] a-s-o commented on #1237
Okay, thanks for checking.

[2015-02-17 13:00] CoDEmanX commented on #1234
So it can be interpreted as "extra arguments in request". The word "suffices" confused me, I believe it should be "suffixes" ("satisfies" vs. "additions at the end")

[2015-02-17 13:02] CoDEmanX commented on #1207
One more thing: I really miss the icons on the [documentation page](https://www.arangodb.com/documentation). Did you remove them on purpose?

They gave the page a delightful look, and wasn't as overloaded with information as the new page.

[2015-02-17 13:30] pluma commented on #1234
You are right, it should be "suffixes". The use of "suffices" throughout the docs is probably a case of hypercorrection (via "index" -> "indices").

[2015-02-17 23:43] p1tz opened #1249 "tinkerpop stack"
I am currently evaluating graph databases because the death of the titan database.

I am lookup from a java perspective and I am wondering why support for the tinkerpop stack is deprecated (https://docs.arangodb.com/Blueprint-Graphs/Blueprint-Graphs/README.html)?

Are there any plans to reimplement it? Is it gone for good? The reason is, we will not switch the database to some propriety query lang

[2015-02-17 23:47] p1tz commented on #1249
also, are there any options to do full graph analytics, meaning, the whole graph (like map-reduce)?

[2015-02-18 07:52] CoDEmanX commented on #1249
Regarding graph traversal: Pregel is on the roadmap

https://www.arangodb.com/2014/11/18/intro-pregel-module

[2015-02-18 08:53] fceller commented on #1249
We are switch to a different graph API and are adapting the TinkerPop2 adaptor to it.

However, it is unclear if we will support TinkerPop3. With the acquisition of Auerlius people, it is unclear to me what direction the project will take.

Some thing are very complex in TinkerPop3 (like the property model). ArangoDB supports arbitrary documents with lists, while TinkerPop3 tries to emulate someth

[2015-02-18 09:14] p1tz commented on #1249
thank you for your time and clarification :)

I'd rather shoot myself and my whole team in the head than switch to javascript on the server side. If there are no other options I will look into switching to another standard, but as I said, I don't want to invest into writing an abstraction which still ties me into some particular produt because of exactly what happened to the aurelius people (still

[2015-02-18 09:14] #1249 closed

[2015-02-18 09:42] fceller commented on #1249
I agree, if you are a Java company, then switch to Javascript will not be an option.

On the other hand, I currently do not see an alternative. TP2 is too limited, the data model of TP3 is currently to strange to be used (IMHO).

It would be interesting to hear, if you find a standard which fits your needs.

[2015-02-18 10:30] nathraQ opened #1250 "Readonly mode for non users"
I know this is mentioned in the faqs, but the "all-or-nothing fashion" is really a bummer. Please add a readonly mode for non-users and a CRUD mode for users. As this would make it a fully working backend for small projects. Anything like assigning documents only to specific user or so would be an icing on top for a further away future

[2015-02-18 13:15] dothebart commented on #1229
hm, to be able to proceed here we would need a complete copy of database directory, plus the name of the collections that missing.

[2015-02-19 07:35] CasperCLD opened #1251 "Memory issues with big import"
Hello. I was testing ArangoDB to see if it could hold up with large datasets. I loaded a data set of 2 million nodes and 5 million edges with the following script:

	var fillNetwork = function() {
	  var _ = require("underscore");
	  var fs = require("fs");
	  var Graph = require("org/arangodb/graph").Graph;
	  var gName = "graph_wiki-talk";
	  var g;
	  try {
	    g = new Graph(gName);
	  } catch

[2015-02-19 10:00] antokara commented on #1229
Unfortunately I did not keep track of the missing collections, I just restored everything to get back to an operational state. If the problem occurs in the future I will try to copy the "corrupted" database directory and provide more information.

I guess this issue should be closed since it can't be more helpful.
Thanks!

[2015-02-19 10:18] dothebart commented on #1229
ok, Reopen if you find the situation again.
the stage before & after the upgrade would be usefull.

[2015-02-19 10:18] #1229 closed

[2015-02-19 20:29] fceller commented on #1250
Collection Level security is on the road-map.

Document Level security could be simulated using Foxx, https://www.arangodb.com/foxx for an intro

[2015-02-20 10:03] antokara opened #1253 "graph TRAVERSAL with custom visitor and filter"
This functionality looks very useful and promising but I think there is a case where some optimization could happen.

So I have a graph for hierarchy of lets say, Directories.
These directories are also "connected" with another collection of Files or other attributes.

Now I want to write an AQL that will traverse the graph from a starting/parent point/directory
and retrieve it's children director

[2015-02-20 11:42] jsteemann commented on #1253
Understood.
For pre-order visitation traversals, the visitor function is currently invoked directly after the visitor. That means one could gain efficiency by combining the two.
For post-order visitation, this will not work, as the filter is executed first, and the invocation of the visitor is deferred until later.
Giving filter functions access to `result` might work, especially as we cannot use

[2015-02-20 14:01] jsteemann commented on #1251
I just tried to run the import myself.
The above script took about 1000 seconds to complete when run inside ArangoDB. It will take even longer when started from the ArangoShell (please refer to http://jsteemann.github.io/blog/2014/08/30/understanding-where-operations-are-executed/ for an explanation).

There are numerous ways to improve this:

* the above script will always try to create the verti

[2015-02-20 14:50] jsteemann commented on #1241
can now do the following in 2.4.4:
[code]
and also
[code]

[2015-02-20 15:30] CasperCLD commented on #1251
Hi Jan, thanks for your reply! I wasn't aware that you could import data that way.

The value 3,97GB comes from the Activity Monitor in Mac OS X (on the tab memory).
![screen shot 2015-02-20 at 16 28 01](https://cloud.githubusercontent.com/assets/6095436/6289026/8c1807ce-b91d-11e4-8cdb-a7b0a4e297da.png)

I think this was pretty accurate because my system was unresponsive after the 4 hours import.

[2015-02-20 16:15] jsteemann commented on #1251
I think the resident value shown in the web interface is what `task_info()` reports for the server process:
[code]
I think this should be correct. I am not sure if this is also the amount that activity monitor shows, as I have no access to a Mac and no idea how its tools work.

Obviously ArangoDB uses not only resident memory, but also virtual memory. When an ArangoDB instance starts, the amount o

[2015-02-22 20:36] a-s-o opened #1254 "Error starting in development mode"
Hello, I am getting the following error with ArangoDB 2.4.3

[code]
With the `--upgrade` flag I get the following additional logging:
[code]
The directory `E:\Arango\apps\databases\_system` exists but it appears Arango is thinking that it does not. I don't see any other logs in the ArangoDB folder.

Thank you; any help is appreciated.

[2015-02-23 03:31] a-s-o commented on #1254
Hello, just to follow up. I downgraded to Arango 2.4.2 and I am getting the same error. I performed a system format prior to upgrading to 2.4.3, however, before the format I was not getting this error in 2.4.2, which makes me think this is being caused by me not triggering the initiation properly.

I am using the following command (under Windows on an admin level command prompt)
[code]

[2015-02-23 07:41] CasperCLD commented on #1251
Ah oke. Shouldn't be there any kind of warning of this happening ? Like if you exceed 80% of your memory, you should get a memory warning in the console or any (Java/Javascript) listeners. This would be nice, since it is hard to find the documentation of what you just told me.

[2015-02-23 11:06] stackmagic commented on #1243
+1

[2015-02-23 16:52] hkernbach commented on #1035
You have a progress window for requests to the server now. If the server should crash, you simply can close the progress window and continue interacting with the interface.

[2015-02-23 16:52] #1035 closed

[2015-02-24 08:35] wirtsi opened #1255 "Admin-Interface has issues with non _system apps"
Hello

I'm following the guesser tutorial but I want to save the collections in my own database.

So instead of creating a symlink from
databases/_system/guesser -> ../../
I created
databases/cms/guesser -> ../../

When selecting the db in the web interface and then going to Apps, I can see that arango has picked up the app (dev mode), but it fails to properly load it there
[code]
Accessing the ap

[2015-02-24 08:37] mchacki commented on #1255
Hi Wirtsi,

thanks a lot for reporting this.
Which version of ArangoDB are you using?

[2015-02-24 10:47] wirtsi commented on #1255
Hi .. i'm using 2.4.3

[2015-02-24 10:57] mchacki commented on #1255
I will have a look into it.

[2015-02-24 11:09] jsteemann commented on #1230
The *it returns different floats* issue should be fixed in 2.5.

[2015-02-24 11:17] jsteemann commented on #1185
The *it returns different floats* issue should be fixed in 2.5.

The limited precision of IEEE754 binary floating point numbers will remain. That means there still won't be arbitrary precision for values such as `10^18 - 1` (which will still have the same representation as `10^18`).

[2015-02-24 11:17] #1185 closed

[2015-02-24 11:54] mchacki commented on #1255
I can confirm it is broken in 2.4.3, it is already fixed in our  2.4 branch and will be included in 2.4.4.
Thanks a lot for reporting.

[2015-02-24 11:54] #1255 closed

[2015-02-25 02:19] oneminute opened #1256 "agency binary not found"
When I launch a cluster on OS X with ArangoDB-CLI 2.4.3 using k.launch(). It return the errorMessage "agency binary not found at '/Applications/ArangoDB-CLI.app/Contents/MacOS/opt/arangodb/bin/etcd-arango".
And I do not found etcd-arango in that path.

[2015-02-25 08:54] fceller commented on #1256
It seems the etcd got lost. Will check.

[2015-02-26 06:57] pekeler opened #1257 "Auto-register Foxx Model lifecycle events in Foxx Repository"
I’m trying to add an updatedAt field to my model and have a couple of questions.

[code]

I think the model should be responsible for setting updatedAtTimestamp. I tried overwriting the model’s `set` method, but it seems that the repository calls `set` too late for my purpose.

Next, try it with a `beforeSave` hook. But where? The documentation for Backbone’s extend suggests to define an `initiali

[2015-02-26 07:00] pekeler commented on #1257
Consider an implementation of Repository.update like this
[code]
It would allow me to implement my model like
[code]

[2015-02-26 10:41] fceller commented on #1256
@oneminute can you please test with 2.4.4 (which will be released today)

[2015-02-26 10:41] #1256 closed

[2015-02-26 12:15] hkernbach commented on #1222
We've updated the Apple App Store version of ArangoDB to 2.4.3.

[2015-02-26 12:15] #1222 closed

[2015-02-26 12:44] oneminute commented on #1256
OK, I'm trying.

[2015-02-26 13:00] oneminute commented on #1256
It worked very well in cluster mode.

[2015-02-26 13:21] hkernbach commented on #1221
I can confirm the error. An image was missing if a higher resolution display was used. Now fixed in devel.  Will also be fixed in the next App Store release.

[2015-02-26 13:21] #1221 closed

[2015-02-26 23:36] pluma commented on #1257
For context: see #1096 for the original discussion of the lifecycle events.

[2015-02-27 12:12] baslr opened #1258 "http pipelining not working?"
Hi,

I wrote a short test to try http pipelining:

This will send 2 GET requests in a row without waiting for the response.
[code]
[code]
But I only get one response. Something wrong with my test? Issue #774 does not have an example.
Server is arango 2.5.0-beta2 on OS X

Thanks for your help.

[2015-02-27 16:50] jsteemann commented on #1258
Your test code looks good.
We found an issue on our end. The pipelining did work for some types of requests (the ones that are executed directly) but not for others (the ones that are put onto an async task queue inside ArangoDB). It should be fixed with the above commits.
I'll leave this issue open though because I still want to add further tests before closing.

[2015-02-27 17:34] pekeler commented on #1257
Thanks @pluma - I've read the PR and the discussion on Google Groups. Doesn't really change any of my questions/feedback, though.

The original Google Groups discussion mentions emitting events from Repository.replace and Repository.replaceById. I wonder why this wasn't included in the implementation.

@moonglum @sarhugo do you have any feedback?

[2015-02-27 17:43] pekeler commented on #1257
Here's my latest model
[code]
which I think demonstrates that the beforeUpdate usecase is a bit inconsistent with beforeCreate. And this only works as long as my controller only uses repository.save and repository.update (because replace, replaceById, and updateById don't emit events).

Or am I doing this all wrong? :)

[2015-02-28 01:15] pluma commented on #1257
@pekeler That wasn't really intended as an answer, just as additional context for this issue.

I agree that having an event emitter per-instance isn't exactly super useful for most use cases.

[2015-03-02 09:06] CoDEmanX opened #1259 "ArangoDB 2.5 Beta"
Installed Windows beta 2 64bit for all users to my usual folder, but it refuses to start. It seems like it expects a conf file to be in Program Files (x86), even if it wasn't installed there (but it is concatenated with cwd):

    C:\Users\Public\Documents\ArangoDB\bin>arangod
    2015-03-02T09:00:34Z [13736] INFO no system init file 'C:\Users\Public\Documents\ArangoDB\C:\Program Files (x86)\arang

[2015-03-02 09:15] fceller commented on #1259
That looks like a bug. Will check.

[2015-03-02 09:24] CoDEmanX commented on #1259
It also refuses to start if some other options aren't specified. It asks me to provide `--server.endpoint`, `--javascript.startup-directory` and `--javascript.app-path`.

If I supply relative paths for the parameters it asks for, a JS exception will be raised (possibly unrelated):

    2015-03-02T09:18:17Z [13452] ERROR stacktrace: Error: cannot use '..' to escape top-level-directory, prefix = '',

[2015-03-02 09:34] CoDEmanX commented on #1259
In Aardvark, there seems to be an issue with permissions:

![arangodb_2 5_dashboard](https://cloud.githubusercontent.com/assets/1309249/6438219/6c5464f8-c0c7-11e4-99cd-f19da10b3ba8.png)

I can see the dashboard just fine for `_system`, but if a switch to another database, it won't let me see it or change database again (see the broken dropdown in above screenshot).

[2015-03-02 09:41] CoDEmanX commented on #1259
If I try to generate a Foxx app, it fails because it can't find `repository.js.tmpl`:

    Error: 2. File exists: while reading c:\Users\Public\Documents\ArangoDB\share\arangodb\js\server\modules\org\arangodb\foxx\templates\repository.js.tmpl: system error

The actual path is

    C:\Users\Public\Documents\ArangoDB\share\arangodb\js\apps\system\aardvark\templates\repository.js.tmpl

[2015-03-02 09:41] mchacki commented on #1259
Hi @CoDEmanX the behaviour of the web-interface is intended.
Only the _system database is collecting the information required for the dashboard.
So if your are using authentication and you have database _system with userA and database test with userB where userB has no access to _system it is not possible for him to see the statistics at all.

Also switching Databases is restricted to Databases yo

[2015-03-02 09:45] mchacki commented on #1259
Thanks a lot for all the feedback so far. *thumbs up*

We will work through all of it and fix it.
Good work!

[2015-03-02 09:48] CoDEmanX commented on #1259
Ok, I see. But I disabled authentication altogether, shouldn't every user see everything? (Is there even a user if auth is off?)

[2015-03-02 09:53] mchacki commented on #1259
You are totally right. If auth is off, every user should see everything.
I can confirm it is broken then will fix. Thanks a lot.

[2015-03-02 10:31] clintwood commented on #1259
I aborted 2.5 Beta for same reasons above...

BTW, I tried `--configuration` switch to get it to look at the correct `arangod.conf` then got the permissions issues in web UI (as above)!

[2015-03-02 12:11] dothebart commented on #1259
2.5 Beta 3 has the directory issue fixed - installing it in Random locations should work again.

[2015-03-02 12:32] clintwood commented on #1259
Great! Thank you! Will give it a try!

[2015-03-02 12:59] clintwood commented on #1259
On 2.5 Beta 3, I can confirm that the path issue is resolved but the permissions issue as mentioned by @CoDEmanX still persists.

[2015-03-02 15:10] dothebart commented on #1259
@clintwood wfm on 8.1-server (service and ctrl+c in the console), can you give some more details?

[2015-03-03 04:29] clintwood commented on #1259
@dothebart, for all tests it was a clean install of 2.5 Beta with only _system DB (no user created DBs).

For the shutdown issue, Ctrl+c in a console window running as Administrator, I tested on Windows Server 2012 and there was no issue. In this case shutdown took about 8 seconds (which is longer than it used to but i don't think an issue).

However on Windows 8.1 (high spec machine i7 etc.) in A

[2015-03-03 04:36] clintwood commented on #1259
@dothebart, the permissions issue as mentioned by @CoDEmanX still persists on both Windows 8.1 and Windows server 2012 that I used in the previous post.

[2015-03-03 09:24] dothebart commented on #1259
we started the doing beta3 release on friday; so the path issue was already identified and fixed the time you reported it. @mchacki is working on it.
Regarding the shutdown, do you see whats it actually doing in that time? cpu usage? disk io?
The logfile issue has to be researched; it should be appended, maybe another windows api weirdness..

[2015-03-03 12:48] clintwood commented on #1259
@dothebart, sorry for the delay, had to reinstall 2.5 Beta 3...

No cpu usage, and no disk IO - looks idle to me from process explorer.
I set the log level to `debug` and here is where the delay is in the logs:
[code]
FYI: `version 2.5.0-beta3 [win64]` on Windows 8.1

[2015-03-03 14:02] jsteemann commented on #1258
Tests for both direct and indirect request handlers have been added.
Issue should be fixed in 2.4, 2.5 and devel branches and shipped with next releases.

[2015-03-03 14:02] #1258 closed

[2015-03-03 19:11] weinberger commented on #1258
Ich leider auch nicht.

[2015-03-03 19:42] pluma commented on #1259
I've fixed the problem with the authentication error when authentication is disabled in e8f3ab9. But the logic in the frontend for determining which databases a user may access is still broken.

[2015-03-03 21:23] Linicks commented on #1259
I'm also seeing the permissions bug with 2.5 Beta3 on Ubuntu 14.10 x64.   When I create a database, I use the default root user with no password.  It creates the database, but doesn't activate it.  If I click on it, I get the permissions error, and the manage DB drop-down breaks.

[2015-03-04 11:46] razvanphp commented on #1054
Hey, what about `multipart/form-data` POST requests?

I tried it, but the `Content-Length` is wrongly calculated and appended. What I'm trying to do, is upload an image to the CDN. If I manually add the length header, it gets duplicated and the request ends up in a loop...

[2015-03-04 12:21] pluma commented on #1054
The request module currently does not provide built-in support for multipart/form-data.

Could you try sending your POST request to the apropriate endpoint on http://httpbin.org/ and describe the issue you are seeing?

[2015-03-04 14:54] razvanphp commented on #1054
Hmm, it seems ok, the multipart data is returned... but I get 500 from our CDN.

Here is the code snippet:
[code]

I tried with both `application/octet-stream` and `image/png`, no luck.
`file` variable is something like:
[code]

[2015-03-05 06:18] StatLaw opened #1260 "Question about Foxx repository extension and defining custom queries"
I am trying to use the repository functionality for a Foxx application in 2.4.4. My most basic `repositories/response.js` file reads as follows:

    var Foxx = require('org/arangodb/foxx'),
        Query,
        Response;

    Query = Foxx.createQuery(
      'FOR response IN responses FILTER response.results > "" RETURN response'
    )

    Response = Foxx.Repository.extend({
      getResults: Q

[2015-03-05 10:05] StatLaw commented on #1260
Ah. It works if I use `parameters` instead of `params`. Looks like the documentation needs to be changed to reflect reality. Implementation of the whole word is better anyway.

[2015-03-05 10:05] #1260 closed

[2015-03-05 11:35] fceller commented on #977
@duralog is that something, you are allowed to talk about? Would be nice, if you could contact hackers (at) arangodb.org

[2015-03-05 11:36] fceller commented on #1247
We need to test this when 2.5.0 beta3 is out.

[2015-03-05 11:40] razvanphp commented on #1247
Thank you! What about 2.4?

[2015-03-05 11:54] fceller commented on #1247
If it works, I will cherry-pick it.

[2015-03-06 08:57] fceller commented on #1259
Beta 4 is available for testing:

https://www.arangodb.com/download-beta

[2015-03-06 17:09] CoDEmanX commented on #1259
Default paths work again in beta 4 as far as I can tell. I can also create a new Foxx app and the interactive documentation operates as expected. There's an error however if I try to download it:

    {"error":"[ArangoError 3009: App not found at /foxx-test-1]"}

The mount point is `/foxx-test-1` in database `test `, the database parameter is missing in the URL however:

    http://localhost:8529/

[2015-03-06 20:17] jimac commented on #1259
Installed windows beta 4 as a service in Windows 7.

* Web interface OK.
* Add Application from web interface generates only the new paths, the manifest, the setup and teardown scripts. Nothing else, though I entered a collection to create (not existent at that time). Shouldn't create any files in controllers, models & repositories dirs?
* I then tried to use foxx-manager. It prompt for a password

[2015-03-08 14:15] fceller commented on #1259
I've created a new installer package, @jimac can you please check if this fixes the problems?

https://www.arangodb.com/repositories/Windows7/x86_64/ArangoDB-2.5.0-beta4b-win64.exe

Thanks

[2015-03-08 17:30] pekeler opened #1262 "aardvark logout not working"
arangod.conf:
[code]
but Logout doesn't seem to clear the hot-auth credentials, i.e. once logged in, always logged in. (tested on v2.4.4 running in production mode, in Safari and Firefox).

[2015-03-08 23:05] jimac commented on #1259
@fceller nice done. The new installer for windows 7 seems that fixes all the before mentioned  problems.

Thank you,

[2015-03-09 04:29] clintwood commented on #1259
@fceller, on my system with `version 2.5.0-beta4b [win64]` on Windows 8.1 I am still experiencing the 80 second delay before shutdown as [mentioned here](https://github.com/arangodb/arangodb/issues/1259#issuecomment-76885417) and [here](https://github.com/arangodb/arangodb/issues/1259#issuecomment-76939115).

[2015-03-09 08:35] fceller commented on #1262
Currently we are using HTTP Authentication, which does not logout reliable.
We are currently working on a better solution. Please stay tuned.

[2015-03-09 11:53] fceller commented on #1247
@razvanphp could test if it works with

https://www.arangodb.com/download-beta

[2015-03-09 11:57] dothebart commented on #1259
@clintwood I've added some more debug log lines, could you retry and post them again?
I still can't reproduce this...
Since it seems to be the garbage collection of V8 we're suspecting something still to be active; do you have a foxx app installed, or a browser window opened with the admin interface?

[2015-03-09 15:21] clintwood commented on #1259
@dothebart, will try now. No, clean install, literally run either as a service in which case SCM complains about service not shutting down in time or install into a folder and from command line run `arangod.exe` no changed settings.

[2015-03-09 15:38] clintwood commented on #1259
@dothebart, here are the offending entries in the log output:
[code]
I can send you the complete log but I'm not sure that is required (if it let me know) as there are no errors just DEBUG & INFO entries.

[2015-03-09 17:36] zanerock opened #1263 "Cannot complie 2.4.4 with nix 1.8"
Not sure this is an issue with Arango, but I'm not sure what to do next to debug further.

I'm trying to compile the 2.4.4 release within Nix (on Linux/openSUSE 13.1, though that shouldn't matter). It finds the opensll library, but then complains about 'CRYPTO_get_ex_data'. I grepped the nix installed openssl libs (1.0.1k), and that function is defined (see below).

Is there another library I need

[2015-03-09 17:54] dothebart commented on #1263
I've experienced similar things with the most recent .debs, they disable SSLv3 which 2.4 doesn't yet treat as optional; CRYPTO_get_ex_data also seems to be deprecated. Right now our configure searches for it; its not used in the code itself.
The quick trick is to edit m4/external.openssl and replace it by CRYPTO_set_id_callback ; then run make setup to regenerate configure and configure again.

[2015-03-10 15:58] dothebart commented on #1263
fixed with #989eb5fc6e17b129c31ce377ac7c34be5f337692

[2015-03-10 15:58] #1263 closed

[2015-03-10 17:08] sleepycat opened #1265 "arangod crashed with SIGSEGV"
I'm not sure what exactly is going on, but Arangod has crashed twice, each time while I was running a query with COLLECT.
This is the query that brought it down last:
[code]
The Ubuntu apport bug reporter shows the error as "arangod crashed with SIGSEGV" and has a field called SegvReason which says "reading NULL VMA".

Arango seems to restart itself with no problems and after reconnecting with ara

[2015-03-10 20:20] sleepycat commented on #1241
Hi Jan,
I tried out the visitor, and it does not seem to give me any results. Am I doing something wrong here?

[code]

[2015-03-11 09:25] jsteemann commented on #1241
Your example looks correct. I think there was some mixup in some part of our code and variables were set in incorrect order. Should be fixed with the above commits in 2.4, 2.5 and devel.

[2015-03-11 09:27] razvanphp commented on #1247
We can't test beta right now, since we are about to deploy 2.4 in production and we need similiar staging environment, but I just replaced the whole init script in our 2.4 installation and it looks good.

The only thing is that it takes a lot of time to restart, and the display says arangod instead of dots I guess:
[code]

[2015-03-11 10:42] fceller commented on #1247
@razvanphp perfect, I will merge the init scripts to 2.4 soon.

While shutting down ArangoDB flushes the WAL file. This might take a while.

[2015-03-11 10:45] fceller commented on #1247
@razvanphp we have a list of companies using ArangoDB in production (www.arangodb.com at the end). It would be awesome if you could contact info (at) arangodb.com

[2015-03-11 10:52] razvanphp commented on #1247
Our teams already met I guess, we had a presentation from you in Hamburg few weeks ago :) If everything goes OK in production today, of course we would love our logo there.

About the output while waiting, I would still use dots each 2 secs like mysql does `. . . . . ` instead of $NAME, because it looks like an error at first.

[2015-03-11 10:58] fceller commented on #1247
I see. It was not obvious from your github account :-)

Will change to dots.

[2015-03-11 11:20] jsteemann commented on #1265
Thanks for reporting this.
The issue has been fixed in 2.4, 2.5 and devel (previous versions not affected).

[2015-03-11 11:20] #1265 closed

[2015-03-11 12:11] baslr opened #1267 "aql / http api - update root object ignores mergeObjects:false"
The document:
[code]
aql:
[code]
does not remove `a:4`

If its intended this should be documented:

[code]

[2015-03-11 12:55] jsteemann commented on #1267
If you want to wipe all existing attributes, then there is `REPLACE`.
`UPDATE` will really update the individual attributes in the object specified after the `WITH` clause. It works on a per-attribute basis, and in the above example, it won't update any attribute as none was specified. So it is intended.

I have added the `documentation` label for this issue so the docs can be updated if non-appro

[2015-03-11 15:51] sleepycat commented on #1259
The [download page](https://www.arangodb.com/download-beta) has a section on installing 2.5b4 on Ubuntu 14.04. Unfortunately 2.5 depends on libstdc++6 4.9 which is only available in 14.10+. I have backports enabled but it seems it is not in there:

[code]
The libstdc++ versions for each Ubuntu release are listed [here](http://packages.ubuntu.com/search?keywords=libstdc%2B%2B6).

[2015-03-11 21:12] sleepycat commented on #1241
Running the same script in 2.5 b4 still gives no result:
[code]

But you're right, pulling straight from master works:
[code]

But even from the tip of master, it turns out that the _AQL::HASATTRIBUTESVISITOR  is returning the {foo: null} vertex. Same output from above +formatting:
[code]

[2015-03-11 22:52] fceller commented on #1259
@sleepycat can you check if you downloaded the 14.10 by accident? I've tried the 2.5.0 and it only happened when I tried to install the 14.10 version.

[2015-03-12 07:33] jsteemann commented on #1241
Correct, the change is not contained in 2.5.0b4. b4 was built on March 5, and I committed the fix only yesterday. It is contained in the 2.5 branch, however, and in master as master was set to the tip of 2.5 yesterday.

And yes, with configuration `{ data: {attributes: ["foo"], type: "any"}}`, the visitor will return the document `{ foo: null }`, because it contains the attribute `foo` (even if it

[2015-03-12 12:32] sleepycat commented on #1241
So I am now correctly testing for the presence of the absence of a value... :smiley:
OK, I can work with that.
Thanks Jan!

[2015-03-12 12:42] jsteemann commented on #1241
Should we add one more default visitor for testing whether an attribute is present and has a non-null value?

[2015-03-12 13:11] sleepycat commented on #1241
Yeah, I think that would probably be useful. I'll be using it for sure.

[2015-03-12 15:29] jsteemann commented on #1241
I have just added an `allowNull` attribute for the configuration. It defaults to `true`, so attributes set but `null` will be included. Setting it to `false` will exclude such attributes / vertices.
It is committed in 2.4, 2.5 and devel, but is not yet in any release nor master.

[2015-03-12 16:05] sleepycat commented on #1241
Nice! I like that.
Thanks!

[2015-03-13 00:46] F21 opened #1269 "dpkg init script should upgrade the database"
I just upgrade to 2.5.0 today using the apt repository for Ubuntu 14.10 64-bit.

When upgrading, I received this error:

[code]

This is because the server was previously `2.4.4` and the database files required an update.

To fix it, I had to manually stop the server and upgrade the database, then rerun dpkg:

[code]

The dpkg init script should automatically upgrade the database if required to av

[2015-03-13 01:01] neunhoef commented on #1269
I think this is intentional behaviour: In case of a major version upgrade (2.4->2.5) we must not automatically upgrade the database contents. This must only be done via an explicit administrator command. The reason for this is that in such cases there might not be a migration path back to the old database format.
However, just doing
  sudo service arangodb stop
  sudo service arangodb upgrade
  su

[2015-03-13 01:35] sleepycat commented on #1259
I'm was running 14.04 and was pulling from the repo at https://www.arangodb.com/repositories/arangodb2/xUbuntu_14.04
I'm pretty sure all I did was replace arangodb2 with unstable in that URL and then update/upgrade and that's when things went pear-shaped.

I ended up upgrading to 14.10 and everything is working nicely.

[2015-03-13 01:53] johnvcoleman opened #1270 "arangod 2.5.0 not starting on Raspian"
I installed 2.5.0 on a fresh install of Raspian (February 2015, RP1 B) and arangod won't start.  I did a apt-get upgrade to make sure the OS was all up to date, and I also did a apt-get install -f to make sure all the deps are present...  I'm not sure how to resolve this one.  Here's the output from the install:

[code]

Thanks!

[2015-03-13 01:59] diegogub opened #1271 "Arangodb 2.5 - model schema not updated in test interface"
Hello,
I'm starting a foxx app with the new arangodb 2.5. It' really great! I think I found a little bug, when I change my model schema, it's not updated into the test interface. I attach an screenshot.
Thanks!
Diego
![model](https://cloud.githubusercontent.com/assets/2489012/6631838/61b0e3cc-c90b-11e4-94e3-ccb1e5e03e09.png)

[2015-03-13 06:54] morsdatum opened #1272 "ArangoDB 2.5 fail to compile by clang 3.4"
Try to compile at FreeBSD 10.1 using Clang 3.4 but stuck at huge link error following:(
/usr/bin/ld: /home/nodba/Downloads/arangodb25/3rdParty/V8-3.31.74.1/out/x64.release/obj.target/cctest/test/cctest/gay-precision.o: invalid string offset 596161 >= 10 for section `'
/usr/bin/ld: /home/nodba/Downloads/arangodb25/3rdParty/V8-3.31.74.1/out/x64.release/obj.target/cctest/test/cctest/gay-precision.o:

[2015-03-13 07:57] mchacki commented on #1271
Hi Thanks for reporting this i will have a look at it now.

[2015-03-13 08:19] jsteemann commented on #1272
Can you try compiling & linking with a newer clang version? I saw clang is at 3.6.0 already, and there is FreeBSD version available (http://llvm.org/releases/download.html#3.6.0).
I have no idea whether this will help as we don't have a FreeBSD instance available here.

[2015-03-13 08:50] dothebart commented on #1270
The packages are intended to be run on a debian jessie;
**/etc/apt/sources.list:**

    deb http://mirrordirector.raspbian.org/raspbian/ jessie main contrib non-free rpi

    gcc (Raspbian 4.9.1-19) 4.9.1
    Copyright (C) 2014 Free Software Foundation, Inc.

The required libc:

    ii  libc-bin                              2.19-13                            armhf        GNU C Library: Binaries

[2015-03-13 09:30] fceller commented on #1259
@sleepycat good to hear. Will close the ticket.

[2015-03-13 09:30] #1259 closed

[2015-03-13 10:18] morsdatum commented on #1272
Tried both Clang 3.5 and 3.6 , unlucky it still blaster the screen with the huge link error messages...

[2015-03-13 10:26] #1271 closed

[2015-03-13 10:28] mchacki commented on #1271
Thanks a lot for reporting this. In my tests i was lucky enough not to hit this bug

[2015-03-13 10:33] jsteemann commented on #1272
Probably related:
https://code.google.com/p/v8/issues/detail?id=2478
https://llvm.org/bugs/show_bug.cgi?id=8515

[2015-03-13 10:46] jsteemann commented on #1272
Again I have no idea whether it will help, but maybe disabling building V8's cctest suites helps.
I have created a Gist to patch V8's gyp file:
https://gist.github.com/jsteemann/6875f2f7a9c4443ebc59

I applied the patch locally and rebuilt V8:
[code]

This skips building the files for which the linker error occurred.
Again, I have no idea whether this will help on FreeBSD.

[2015-03-13 11:15] #1247 closed

[2015-03-13 13:14] nlac opened #1273 ""None of your Coordinators is reachable" while clustering multiple servers (arangodb v2.5)"
Hi guys,
i faced some problem when tried to setup an 1 coordinator + 2 dbserver clustering, each server runs on separate virtual machine/ip in a vpn, all ports are enabled. All machine runs Ubuntu 14.04, all arangodb instances has its own IP set in arangod.log as `endpoint = tcp://ip.of.the.machine:8529` and set the first two cluster option to "no".
Given that i can reach each machine's web interf

[2015-03-13 17:44] dagarwal82 opened #1274 "https://docs.arangodb.com/beta/Foxx/FoxxQueues.html Not working"
I am trying to read out the foxx queue documentation but the link is broken.

[2015-03-13 19:01] jsteemann commented on #1274
Can you try https://docs.arangodb.com/Foxx/Develop/Queues.html ?

[2015-03-13 19:16] jsteemann commented on #1274
I sent a PR to the Cookbook repository to have the link fixed there.

[2015-03-13 19:16] #1274 closed

[2015-03-13 19:18] jsteemann commented on #1241
Done in 2.4.5 & 2.5.1

[2015-03-13 19:18] #1241 closed

[2015-03-13 19:38] johnvcoleman commented on #1270
Thank you!  I'll update to Jessie and try again.

[2015-03-13 19:38] #1270 closed

[2015-03-13 23:01] baslr opened #1275 "https://docs.arangodb.com include jquery local, not from jquery cdn"
Chrome Reports:
"Ihre Verbindung zu docs.arangodb.com ist durch moderne Kryptografie verschlüsselt. Diese Seite enthält jedoch andere, nicht sichere Ressourcen. Diese Ressourcen können während der Übertragung von anderen Nutzern angezeigt und von Angreifern bearbeitet werden, die das Layout der Seite verändern."

The connection is encrypted but some resources are delivered via http.

[2015-03-14 01:55] morsdatum commented on #1272
Thanks, it's up and run. Look great!+

[2015-03-14 01:55] #1272 closed

[2015-03-14 14:33] jsteemann commented on #1275
Fixed the link: @13abylon : please rebuild the docs because otherwise jquery is blocked and the site is not functional if jquery is used.

[2015-03-15 01:52] anjanrao opened #1276 "Folder Name "app" creates loading issues in 2.5"
Any folder with the name "app" say under a directory "frontend/js/app/somecode.js" creates issues. Directory "frontend" contains html/js for frontend of the application and is mapped to "/" in manifest.json for the app under the "files" key.

ERROR LOG
======================================================================
2015-03-15T01:31:31Z [3788] ERROR Cannot find manifest file '/home/devuser/n

[2015-03-16 08:19] mchacki commented on #1276
Hi @anjanrao ,
This seems to be a bug, i will take a look.

[2015-03-16 08:42] nlac commented on #1273
Another info, after got the message "None of your Coordinators is reachable ...", checking the services on the Coordinator's system got that:

![image](https://cloud.githubusercontent.com/assets/1221191/6662774/d1108db0-cbbf-11e4-8a5f-a534ed31313f.png)

May that 0.0.0.0 be the issue? If that is, what action should i take to get an real IP there?

[2015-03-16 09:31] mchacki commented on #1276
Fixed it in 2.5 and Devel (could not occur earlier)
Thanks for reporting it.
The fix will be contained in the next 2.5 bugfix release.

[2015-03-16 09:31] #1276 closed

[2015-03-16 13:17] 13abylon commented on #1275
Docs are rebuild and jquery isn't blocked anymore. Thanks for fixing!

[2015-03-16 13:17] #1275 closed

[2015-03-16 17:42] pekeler opened #1277 "upgrading to 2.5 fails due to use of harmony features"
I'm using some ES6 syntax in my 2.4.3 app, which I'm typically launching with
[code]
I've just installed 2.5 and tried to upgrade with
[code]
which can't seem to handle arrow functions anymore and fails
[code]
...
[code]

[2015-03-16 18:04] jsteemann commented on #1277
I quickly compared `arangod db --javascript.v8-options="--help" | grep harmony` for 2.4 and 2.5, and it seems that the meaning of V8's internal options has changed.

In the previous version (2.4, V8 3.29.59), V8's `--harmony` options had the meaning:
`enable all harmony features (except proxies)`.

In the current version (2.5, V8 3.31.74.1), according the help text it now means:
`enable all comple

[2015-03-16 19:43] pekeler commented on #1277
Thanks @jsteemann `--javascript.v8-options='--harmony --harmony_arrow_functions'` made it work for me.

[2015-03-16 19:43] #1277 closed

[2015-03-17 01:55] dagarwal82 opened #1278 "Dashboard doesn't open over ssl in 2.5.0"
I installed the fresh 2.5 version and tried to open the dashboard over ssl. It tries to open but then shows an error in developer console of browser with incomplete javascript. It works fine with tcp. It was working before with 2.2.6 version.

[2015-03-17 05:07] pekeler opened #1279 "`foxx-manager install` deletes local source file"
`foxx-manager --server.disable-authentication false install /tmp/funkytown.zip /funkytown` deletes /tmp/funkytown.zip. It even deletes it if the install fails, for example due to an auth failure.

Only tested with 2.5 on Ubuntu.

[2015-03-17 07:45] jsteemann commented on #1278
I just tried accessing the URLs myself with versions 2.2, 2.3, 2.4 and 2.5.
I do not get any error in any of these versions. I am using a server-side SSL setup with a self-signed certificate and TLSv1.
I tried accessing the dashboard using Firefox 36.0.1, and no errors were reported.
Can you let us know how to reproduce the issue and in which environment (OS, browser etc.)?

[2015-03-17 07:58] jsteemann commented on #1277
Thanks. I have added a hint in the *upgrading* section of the docs.

[2015-03-17 12:41] fceller commented on #1273
@nlac "0.0.0.0" is fine, it will bind to all interfaces. Can you check if there is a firewall?

I. e. go to machine 192.168.2.85 and check if you can reach 192.168.2.88 on port 8530 (or port 8529 for the dispatcher)?

    telnet 192.168.2.88 8530

should show something like "connected".

[2015-03-17 13:53] dagarwal82 commented on #1278
I am using Protocol value 2

On Tue, Mar 17, 2015 at 3:45 AM, Jan <notifications@github.com> wrote:

--
Deepak Agarwal
9501190044

[2015-03-17 14:53] nlac commented on #1273
Thanks Frank,
just tried all the below, all connected:
telnet 192.168.2.88 8530 from 85
telnet 192.168.2.89 8530 from 85
telnet 192.168.2.85 8529 from 88
telnet 192.168.2.85 8530 from 88

Today i've find an interesting workaround: if i've checked the "coordinator" checkbox for the two dbServers (so having 3 coordinators and 2 dbServers on 3 machines), the cluster launches!

![image](https://cloud.

[2015-03-17 15:18] dothebart commented on #1278
SSLv2 has been deprecated for a while now, you shouldn't use it anymore.
Even SSLv3 is phased out nowadays, and subsequently removed by more and more linux distributions - thus its also optional for ArangoDB

Which OS and which package do you exactly use?

[2015-03-17 15:25] pluma commented on #1278
For more on why you shouldn't be using SSLv3 see the recent [CVE-2014-3566](http://www.cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-3566) aka [POODLE](https://www.openssl.org/~bodo/ssl-poodle.pdf). For SSLv2 also check out [this explanation](http://www.rapid7.com/db/vulnerabilities/sslv2-and-up-enabled).

[2015-03-17 16:04] mchacki commented on #1279
Thanks a lot for reporting.
Fixed it a minute ago. Will be contained in 2.5.1

[2015-03-17 16:05] #1279 closed

[2015-03-17 16:07] #1203 closed

[2015-03-17 16:42] pekeler commented on #1279
:)

[2015-03-18 15:16] dagarwal82 commented on #1278
I was using protocol value 1 and 2 and therefore it was breaking. Once I switched to 4 it started working correctly.

Thanks, appreciate your help.

[2015-03-18 15:16] #1278 closed

[2015-03-19 11:35] kevinprotoss opened #1280 "AQL Replace statement with autoCreate option"
Hi,

Is it possible to automatically create a document during `update` or `replace` if this document is not found by given `_key` or given filter statement? I can not find this feature in the documentation.

If it's not possible so far, is it possible to implement this feature in the future, such as providing an option `autoCreate`, or something else

Best regards,
Kevin

[2015-03-19 12:05] fceller commented on #1280
Hi Kevin, can you read our minds? An upsert or findOrCreate is currently indeed missing. But Jan has just begun to implement it. It is expected to by available in 2.5.2.

[2015-03-19 12:12] kevinprotoss commented on #1280
That's great. Thanks for your answer.

[2015-03-19 16:19] pekeler opened #1281 "JavaScript code needs access to env variables"
to follow up on http://stackoverflow.com/questions/29133229/access-environment-variables-from-foxx
@dothebart

[2015-03-19 23:21] razvanphp commented on #1269
I agree, actually after an unwanted dist-upgrade, we could downgrade from 2.5 to 2.4.4 because of this. I think this should not be added unless there is a possibility to downgrade the db too.

[2015-03-20 03:24] neandrake commented on #317
Would supporting BSON as storage type be beneficial here? That format supports defining date fields as well as binary (Issue #107) in addition to other types which might be beneficial such as 32/64bit integers, 64bit floating point (Issue #555) and regular expressions.

I imagine getting BSON to work with the v8 engine might be tricky, since it supports more things than the javascript language its

[2015-03-20 08:20] #1269 closed

[2015-03-20 11:12] razvanphp commented on #1054
OK, so the problem is that the upstream CDN accepts only `application/octet-stream` as upload. I managed to have the image base64 encoded in Foxx, but I don't know if (how) I can craft a POST request with boundaries and Buffer object containing binary data. Any idea?

[2015-03-20 12:22] pluma commented on #1054
Do you mean multipart boundaries? You can just base64 encode the buffer (`buf.toString('base64')`) and then wrap it in a multipart message [following the spec](http://www.w3.org/Protocols/rfc1341/7_2_Multipart.html).

I assume you've seen the [request docs](https://docs.arangodb.com/ModuleRequest/README.html)? You can just specify your own `content-type` header and pass the encoded message as body

[2015-03-20 12:29] razvanphp commented on #1054
Yes, something like that, but the other way around: from base64 TO binary buffer. I will try and post here there results. Thank you!

[2015-03-20 12:30] mchacki commented on #1054
Hi,

i have just tried it locally:

[code]

On httpbin it seams to work, i do not know about your internal API

[2015-03-20 13:01] dothebart commented on #1281
implemented with 7190fb879d826e69f7b4c34f24a2f4f8e448c648, 9ec243eef477f3c84be631dc702dadfabd4e9a69 and 185429767742791f21eb19f83638859adddf1d90

Will be visible in the node like fashion
process.env[]

[2015-03-20 14:00] razvanphp commented on #1054
Nope, it does not work..

What I tried:
[code]
If I concatenate `buffer` (Buffer object in binary) to `bodyString` then I always get Content-Length: 0 in headers.

I think what I want is provided by the NodeJS request module:
https://github.com/request/request#multipartform-data-multipart-form-uploads

[2015-03-20 14:07] 13abylon commented on #1254
Is this still an issue with ArangoDB 2.5.0 or ArangoDB 2.4.5?

[2015-03-20 14:55] dothebart commented on #1054
I tried it using these:

fs=require("fs")
var buffer=fs.read("Installation/Windows/Icons/arangodb.ico");

and monitored whats on the line using ngrep: (wireshark may also work for you)
ngrep -Wbyline host httpbin.org |less

Here are the relevant parts of the conversation on the wire:

POST /post HTTP/1.1.
Host: httpbin.org.
Connection: Keep-Alive.
User-Agent: ArangoDB.
Accept-Encoding: deflate.
co

[2015-03-20 14:57] razvanphp commented on #1054
So, I made it work. For the record, here is the solution:

[code]

Anyway, I think what would be nice to have is already provided by the NodeJS request module:
https://github.com/request/request#multipartform-data-multipart-form-uploads

[2015-03-20 15:46] amines713 opened #1282 "Geo WITHIN_RECTANGLE for nested lat/lng"
The WITHIN_RECTANGLE function only seems to work if the geo index is not on a nested attribute. When the lattitude and longitude are nested inside a "location" attribute, NEAR and WITHIN work, but WITHIN_RECTANGLE fails.

--- un-nested lattitude and longitude ---

JSH> db._create('geo1')
==> [ArangoCollection 239708486365, "geo1" (type document, status loaded)]

JSH> db.geo1.ensureGeoIndex('lat',

[2015-03-20 16:53] pekeler commented on #1281
:)

[2015-03-20 21:02] jsteemann commented on #1282
Indeed, it didn't seem to work with nested attributes.
Should be fixed now in 2.4.7, 2.5.2 and devel.

[2015-03-20 21:02] #1282 closed

[2015-03-21 13:44] pluma commented on #1054
@razvanphp request uses an npm module to handle the multipart body generation. Sadly there doesn't seem to be any module that can build multipart bodies synchronously using buffers, so we'll probably have to implement this ourselves.

It's definitely an issue we're aware of and planning to address (either via npm or with a built-in function). Sorry about the inconvenience.

[2015-03-22 22:30] terrybleger opened #1283 "Unique Hash Index can't have null field value?"
I've got [ArangoError 1210: cannot create document, unique constraint violated] after I upgraded to v2.5.1. I've never had this problem before with null value.

So my question is, is v2.4.4 would be the last version that doesn't have that behaviour?
If yes, then since I can't upgrade to higher version this would be goodbye for me to arangodb.
if no, what other options that I can do?

[2015-03-22 22:53] terrybleger commented on #1283
I just read the change log. So, in order to allow null values the index must be set as sparse now? I assume that this should be the fix.

[2015-03-22 22:53] #1283 closed

[2015-03-23 07:11] jsteemann commented on #1283
Exactly. The index should be declared sparse, otherwise the `null` value will count as a regular value and can occur only once.

[2015-03-23 16:31] razvanphp opened #1284 "Foxx Model Joi schema default with function"
Consider the following model:
[code]

Trying to save this model will always fail, because the default is never interpreted, but kept as JS function:
[code]
This is the object just before save:
[code]
If I would pass `new Date()` there, it will be the same date all the time, as long as the file is kept in memory. Here is the Joi documentation about this:
https://github.com/hapijs/joi#anydefaultvalu

[2015-03-24 00:52] pluma commented on #1284
I recall having a WIP branch that rewrote the attribute initialisation behaviour in a way that would avoid this problem, but either I never pushed it or it vanished.

Either way, I'll look into this.

[2015-03-24 11:49] a-s-o commented on #1254
Hi, I am unable to test at the moment as I am not using arangodb as primary for my application anymore. I plan on adding arangodb as a secondary db for graph work. I will retest once I get to that point and re-open the issue if I encounter the error again.

Thanks for looking into the issue.

[2015-03-24 11:49] #1254 closed

[2015-03-24 12:30] dothebart commented on #1082
http://stackoverflow.com/questions/12311203/how-to-pass-the-smart-screen-on-win8-when-install-a-signed-application
Signing the installer packages seems to be required.
Next it seems there is the concept of "reputation" to mark an app as commonly used

[2015-03-24 12:31] dothebart commented on #1071
This should be fixed with the 2.5.1 installer; @CoDEmanX can you revalidate that?

[2015-03-24 12:36] dothebart commented on #1051
Fatal error messages are now written to the windows eventlog. Does this fix this incident also?

[2015-03-24 12:42] diefans opened #1285 "syntax error, unexpected $undefined near '@_to RETURN obj"
I don't know if this is intended, but when a bind var name starts with an underscore ``_`` in a cursor query, I get the following error:

[code]

my query looks like this:
[code]

[2015-03-24 12:42] dothebart commented on #684
Its currently possible to keep the old version installed during the new installation and then uninstall the old.
Does this fix this issue?

[2015-03-24 12:49] jsteemann commented on #1285
Looks like the bind parameter name starting with an underscore (`_`) is causing the parse error.
The flex rule for matching bind parameters currently is:
[code]

Changing the parameter name from `@_to` to `@to` should thus work.
I'll look into whether the rule can be adjusted so leading underscores will work, too.

[2015-03-24 13:28] dagarwal82 opened #1286 "Job execution doesn't work on multiple database"
Here is the sequnce:

1) Deploy the application under _system.
2) Push a job to the queue
3) job executes successfully

4) Add a new database, restart the arangodb and deploy the application there
5) Push a job to the queue to either _system or newly created database
6) Job gets added to the queue but never executes.

7) Delete the newly created database
8) Push the job to the queue of _system.
9)

[2015-03-24 13:37] razvanphp commented on #1284
Just wanted to mention, that this works:
[code]
but this does not:
[code]

For me, it seems inconsistent and I don't understand why are not the functions run, instead of having to specify them as String object?

Also for some reason, after all those tries, I always get the `Error: <data> cannot be converted into JSON shape: could not shape document` all the time when I replace the document, even i

[2015-03-24 14:16] pluma commented on #1284
The "could not shape document" message typically indicates that the object contains functions, which matches your original problem.

[2015-03-24 14:55] razvanphp commented on #1284
Ok, so I figured it out with the date, but I found something else:

[code]

The first save of the document works, puts the data string there, but when constructing the model again it fails somewhere in `moment.js`

[code]

[code]

If I remove `.iso()` from the schema, it works correctly.

[2015-03-24 15:21] razvanphp commented on #1284
Ok, about the function inside of the object, it is this `_PRINT` prototype function from `shaped-json.js:60` as you can see in my previous comment.

This function appears in the attributes of the object, and if I remove it with `delete customer.attributes['_PRINT'];` before saving the document back, it works perfectly fine.

[2015-03-24 17:45] jsteemann commented on #1285
Changed in 2.5.2 and devel.

[2015-03-24 17:45] #1285 closed

[2015-03-24 18:30] razvanphp opened #1288 "Outdated Joi version included"
Hey,

Today I came across this bug, hapijs/joi#518, that is fixed in Joi version 5.0.2, but not included with the latest ArangoDB (that includes Joi 4.9.0).

The same test script throws the exception:
[code]

[2015-03-24 18:38] razvanphp commented on #1280
+1

Today I just used this:
[code]
but I was thinking that there is a race condition in this case, when it might fail. I hope the implementation takes care of this as an atomic operation.

[2015-03-24 19:04] razvanphp commented on #1284
Unfortunately I cannot reproduce this with a new collection, just with one that I exported and imported from ArangoDB 2.4.6, before upgrading to 2.5.1.

Here is the strange thing:
[code]
Both lines are executed in the same time, just that one is through the repository, where the bug must be. Also, the _rev is the same, so that function is clearly not in the document. If I change anything in this d

[2015-03-24 19:35] pluma commented on #1284
I can confirm that the `_PRINT` method is exposed in 2.4 and 2.5 but PR #1287 seems to remove that behaviour.

[2015-03-24 19:51] pluma commented on #1288
The devel branch (which 2.6 will be based on) is at `6.0.8` at the moment (as of 1d5bc53 via #1266). As `6.x` and `5.x` are both major version updates, I don't think it's a good idea to update joi in a patch release for ArangoDB 2.4 or 2.5.

If you need a different version, you can try installing your own version of joi locally in your Foxx app (just `npm install joi` inside your app folder and ma

[2015-03-24 19:51] #1288 closed

[2015-03-24 20:02] pluma opened #1289 "Foxx models from DB contain ShapedJSON artefact"
See the discussion in #1284. Apparently `_.clone` is a bit too eager and copies inherited methods as well.

[2015-03-24 20:05] diefans commented on #1285
wow! I am very impressed...

[2015-03-24 20:07] #1289 closed

[2015-03-24 20:07] CoDEmanX commented on #1280
So this would be a replacert(), like upsert() for inserts?

[2015-03-24 20:15] pluma commented on #1289
@fceller are we planning another patch release for 2.4? I've added the fix to the 2.4.8 changelog in the 2.4 branch, but I'm not sure whether a 2.4.8 is planned at the moment.

I also added the fix to 2.5 and devel with the 2.5.2 target.

[2015-03-24 20:15] pluma commented on #1284
#1289 should do the trick until 2.6.

[2015-03-24 20:29] razvanphp commented on #1289
Thank you for the fast fix.

What I don't understand, is why this happens only sometimes, and only for some collection. Also after one save with this "attribute" removed, that particular document is ok for all future requests.

[2015-03-24 20:42] pluma commented on #1289
No idea why it only happens for *some* collections. I was able to replicate the bug passing a raw document directly to the Foxx.Model constructor. The culprit seems to be underscore's `clone` method, which for some reason copied the prototype's `_PRINT` method.

The code triggering this bug only runs if you pass a raw document directly to the constructor (as Foxx.Repository do) iff the model has n

[2015-03-24 22:39] pluma commented on #1289
I've found an even simpler fix: make `ShapedJson#_PRINT` non-enumerable so `_.clone` (and its friends) don't see it. I've updated the three branches accordingly.

[2015-03-24 23:18] razvanphp commented on #1040
I found other 2 (summary and notes):
https://github.com/arangodb/arango-cms/blob/master/cms.js#L29

[2015-03-24 23:53] razvanphp opened #1290 "BasicAuth protected Foxx API"
For the context, we developed a small Foxx app that needs authentication, and BasicAuth is enough.

Here is the current solution:
[code]

As this endpoint will be only accessed by another system, and not real users, cookie authentication, sessions or oAuth are definitely an overkill, so maybe native BasicAuth is easy to implement as @mchacki mentioned.

The code snippet works ok when the database

[2015-03-25 00:27] pluma commented on #1290
Foxx apps are currently covered by the database's basic auth if authentication is enabled. We're planning to change that so Foxx apps can have their own auth mechanisms even when the remaining HTTP API is restricted. See #1268 for the ongoing work for the admin app. Once the PR lands, it should be applicable to other apps, too.

[2015-03-25 07:45] moonglum commented on #1040
summary and notes are internal :smile:

[2015-03-25 07:57] jsteemann commented on #1280
@razvanphp : the following code will work fine when there is no concurrent access to the collection:

[code]
But as you pointed out it will be problematic when there are concurrent write accesses to the collection. The upsert method we're working on will be atomic. And it covers both update and replace. As you can also update with `{ }` in case the document exists, it also covers the findOrCreate

[2015-03-25 09:21] galan commented on #1243
ui should support this as well

[2015-03-25 09:49] pluma commented on #1040
@moonglum is it? The docs mention the auto-magical summary comments, though. See https://docs.arangodb.com/Foxx/Develop/Controller.html

[2015-03-25 11:20] razvanphp commented on #1290
I saw that PR, but it will probably land in 2.6. Is it not a simpler solution for this? The same problem is when I want to give the respective team access to the generated documentation, they must have a valid database account (since it resides in aardvark), that would allow them to read and modify all the collections..

[2015-03-25 12:41] pluma commented on #1290
Okay, sorry about the misunderstanding. I wasn't fully aware of the `authenticate-system-only` flag's behaviour.

As far as I understand it, ArangoDB shouldn't interfere if you enable that flag. If the browser sends the same credentials for the two different realms, I don't think there's much we can do to prevent that. The PR would probably help because it would let you use the API with cookie aut

[2015-03-25 13:33] razvanphp commented on #1280
As a suggestion, `exists` method should also be included in the Repository.

It is strange that `byId` throws an exception when document is not found instead of just returning null, but at least in this case you could check beforehand without accessing the (private) collection of the repo directly, as in my previous example.

[2015-03-25 13:51] razvanphp commented on #1290
Ah, my bad, you are right, it works with `--server.authenticate-system-only true`. Browsers should implement this correctly, as [RFC2617](http://tools.ietf.org/html/rfc2617) states that:

Thank you for your time regarding the documentation. I just showed it in a meeting and the logical question I got was: where can I see and test this? Then I realized I cannot give away the db password.. which def

[2015-03-25 15:09] pluma commented on #1290
I've written a simple documentation browser based on [swagger-ui 2.0](swagger-api/swagger-ui). It's available in the Foxx app store as "swagger" and on [GitHub](https://github.com/arangodb/foxx-swagger).

Let me know if this solves your problem.

[2015-03-25 15:59] razvanphp commented on #1290
It looks good, but probably I'm doing something wrong, because I can only get the `/_admin/aardvark` documentation. For some reason, changing the path and version in `manifest.json` has no effect. The app is in dev mode. Probably I will have to include it somehow inside my app, and not mount it in the same path, because I need common authentication.

[2015-03-25 16:09] pluma commented on #1290
You need to change the path in the app's configuration. Apparently the configuration dialog is no longer shown when mounting an application in 2.5 and later, so you need to open the app in the admin frontend's "applications" tab and then click the cog icon in the top right. It should let you enter an arbitrary mount point as "appPath".

[2015-03-25 16:13] pluma commented on #1290
Oh, and make sure to open (e.g. via the big "Open" button on the left) the actual app when you're in the admin's application detail view. I confused myself for a second because the application detail view *also* shows an API documentation ;)

[2015-03-25 16:16] razvanphp commented on #1290
Yeah, I got that, but the appPath configuration is not changing. I can see the PATCH request, but probably it's not saved, after refresh I have the admin link back there. Is it the same in 2.5.1 for you?

[2015-03-25 16:20] pluma commented on #1280
I've added the exists method in devel and 2.5, see 142182d.

[2015-03-25 16:25] pluma commented on #1290
I'll look into that and get back to you as soon as I know more.

[2015-03-25 16:41] pluma commented on #1290
Apparently the PATCH endpoint expected a different format. I've adjusted it in devel and 2.5. In the meantime you can manually adjust the apps via the system collection `_apps` (just filter by `mount`, make sure to wrap the value in quotes). The fix will be in 2.5.2.

[2015-03-25 16:58] razvanphp commented on #1290
The bastard did not want with editing `_apps` collection either, he would revert it. I replicated your fix in my `foxxes.js` file and now the PATCH works. The only problem with it now is that host endpoint is `0.0.0.0:8529` so the Try me out! functionality does not work.

Again, it looks good, kind of ruff, but it's better than nothing. I think this should be somehow integrated in any app, to be a

[2015-03-25 17:15] razvanphp commented on #1289
Very strange, I tested it again, that specific repository has no model, so no schema. If I create a new document inside this collection and try to replace it, the _PRINT function is not there. The same with a document that has it, I can delete that property before replace, and then that document will not trigger the error again. The same if I save the document once in the web interface.

I also te

[2015-03-25 17:22] pluma commented on #1290
I guess we could add something like a "documentation" method to the controller (like the destroy-session method for creating logout routes). That would allow developers to expose the documentation any way they want. The bigger problem is that the assets Swagger depends on would have to be exposed somehow, too.

I'll look into the `0.0.0.0` thing. I presume your ArangoDB instance is listening globa

[2015-03-25 17:26] razvanphp commented on #1290
Yes, in the config I have:

[2015-03-25 17:29] pluma commented on #1289
Yes, the problem only occurs if the model is created by `_.clone`'ing or `_.extend`ing a ShapedJson object. Those objects are intended to be an implementation detail and only exist for performance reasons. Also, as @jsteemann pointed out to me, not all documents loaded from the database are returned as ShapedJson objects (e.g. if you read a document you just inserted, it may come back as a regular

[2015-03-25 17:38] pluma commented on #1290
I've updated the swagger app to 1.0.1 and it now relies on the "Host" header. This isn't optimal in terms of security, but as it's only used to generate the "host" field in the Swagger response, I don't think this has any security implications. There's no sane way to determine what the public hostname of the app should be.

[2015-03-25 17:40] razvanphp commented on #1290
Then probably it should be a configuration field. But if you integrate this somehow, the controller should know where the endpoint is, like the admin interface does.

[2015-03-25 17:48] razvanphp commented on #1290
As I said, if you don't specify the host, it will use the same host as now, using the host header.

But still this is not working, for example:

// swagger frontend
http://domain.dev:8529/_db/bi_stage/app_follow/docs/index.html

// address where he tries to do the query
http://domain.dev:8529/app_follow/user/123

// the correct one
http://domain.dev:8529/_db/bi_stage/app_follow/user/123

[2015-03-25 17:52] pluma commented on #1290
Removed the host, added the db to the base path and updated to 1.0.2.

[2015-03-26 09:28] razvanphp commented on #1290
Works great now, Thank you! Looking forward for the integrated version :)

[2015-03-26 11:08] agomezalvic opened #1292 "remote 'foxx-manager upgrade app_path_or_zip_file' fails"
Hello,

Running windows 2.5.0 arangodb server (Windows 7 Professional 64 bits).
Client computer is Windows 8.1 PRO 64 bits, with ArangoDb 2.5.1 64 bits (although testing with same version of server in client gives the same error)
Remote arangodb has authetication enabled, both on _system and actual database used to deploy foxx application.

When trying to upgrade an already installed foxx applicat

[2015-03-26 11:11] dothebart commented on #1292
Can you try to have a look at the logfile of arangod so we can find out whether this is in arangosh/foxmanager or the server itself?
Most probably you should also see this error in the windows eventlog (if)

[2015-03-26 11:32] agomezalvic commented on #1292
Hello dothebart,

arangod logfile show nothing (at least i cant find anything that points to a problem on the server).
also windows eventlog show nothing about this.
logfile is being generated with default options.

I have tried to inspect tcp data sent/received comparing install vs upgrade, and it seems that foxmanager does not send the zipped file to the server (install does), but can not asure

[2015-03-26 11:48] dothebart commented on #1292
ah, 2.5.0 on the server, 2.5.1 on the client - misread that.
2.5.1 has lots of windows polishing - the eventlog too.
if you copy the zip file to the current directory where you call arangosh - does it fix the issue?

[2015-03-26 12:22] agomezalvic commented on #1292
i'm now upgrading server to 2.5.1
will report in some minutes, just see

[2015-03-26 12:46] agomezalvic commented on #1292
sadly after upgrading server to 2.5.1 problem remains...
now:
- client 2.5.1
- server 2.5.1
foxxmanager install local_zip_o_folder /mountpoint   is ok
foxxmanager upgrade local_zip_o_folder /mountpoint   fails

have re-checked arangod.log (now with 2.5.1 server) and windows eventlog, nothing there

[2015-03-26 15:35] dothebart commented on #1292
Ok, problem confirmed & reproduced; its a windows only problem that somehow didn't occur on our windows CI; fix will be part of the next release 2.5.2

[2015-03-26 16:43] agomezalvic commented on #1292
thankyou !!!

[2015-03-27 12:06] CoDEmanX commented on #1051
Well, I wouldn't had checked the Windows log in the described case. My request is to add additional info about the modus operandi to the client.

[2015-03-27 13:34] dothebart commented on #1051
given the multithreadded nature of arangod I don't see any good way to wait for the user to acknowledge the panic and stop the other threads from continuing to work - so its probably not going to change.

[2015-03-27 13:39] jsteemann commented on #1051
Wasn't the question about being able to show the server operation mode in the ArangoShell?
That means, there should be an API that returns whether the server is running as a Windows service or something else?

[2015-03-27 15:52] jsteemann commented on #1051
Added 6959f9f63b6cfd55a25bd7b40db04484b31bb380 in devel.
This will make the ArangoShell now print either `service` or `standalone` when it connects.

[2015-03-27 15:52] #1051 closed

[2015-03-28 10:23] CoDEmanX commented on #1051
That's right Jan. Thanks for implementing!

[2015-03-28 13:47] CoDEmanX commented on #1071
There's an error dialog popping up, that tells me executable X is not writable and whether I'd like to abort, retry or ignore. So I guess it's fine, a running server in the background won't go unnoticed.

[2015-03-28 13:47] #1071 closed

[2015-03-28 13:50] CoDEmanX commented on #1073
Just want to inform you, that it's still present in 2.5.1 setup.

[2015-04-01 16:07] dagarwal82 opened #1293 "Frequent disconnect and Crash"
![1](https://cloud.githubusercontent.com/assets/1272570/6945440/bddddd4c-d867-11e4-85b1-9410f3c7cf88.png)
![2](https://cloud.githubusercontent.com/assets/1272570/6945441/bddde3e6-d867-11e4-90ec-32843377ecb4.png)

I have been testing large number data on arangodb. I am seeing a frequent disconnect while making ssl connections and finally getting the arangodb application crash.

1) I attached 2 imag

[2015-04-01 18:01] fceller commented on #1293
You are on a Windows machine? Which version of Windows and ArangoDB are you using?

[2015-04-01 18:03] dagarwal82 commented on #1293
Windows Server 2012 R2
8GB RAM
64Bit
2 Core CPU

ArangoDB -> arango 2.5.1

[2015-04-04 05:24] F21 opened #1294 "Documentation broken"
The documentation appears to be broken. For example the replication docs link here, but the page is broken: https://docs.arangodb.com/Replication/README.html

[2015-04-04 06:19] diegogub commented on #1294
Try with: https://docs.arangodb.com/Replication/index.html

[2015-04-05 06:31] OlafRadicke commented on #1294
the link to the First Steps in ArangoDB ist broken too.  (https://docs.arangodb.com/FirstSteps/README.html)

[2015-04-05 11:39] fceller commented on #1294
The new gitbook generates "index.html" instead of "README.html". I've added a symbolic link.

[2015-04-05 11:39] #1294 closed

[2015-04-05 11:47] F21 opened #1295 "Unable to start replication using http api in 2.5.1"
I have ArangoDB 2.5.1 running on Ubuntu 14.10 64-bit.

ArangoDB is installed using the apt repositories.

Once ArangoDB is installed on the master and slave, I attempt to start replication on the slave for a database called "graphs" like so:

[code]

[code]

[code]

However, when I get the applier status, it's not running:

[code]

The interesting thing is that if I setup the replication using the

[2015-04-05 22:49] F21 commented on #1295
Solved my problem after reading the docs more carefully and looking at how the JS Shell starts the applier in the web interface.

To start the applier, the "from" parameter is not sent as part of a JSON request body, but as a query string:
[code]

[2015-04-05 22:49] #1295 closed

[2015-04-07 14:23] kevinprotoss opened #1298 "Bulk import if data already exists"
Hello,

I used bulk import for uploading quantity data for once, but I found it doesn't work if some data already exist.

[code]
I believe this bulk import method should use your new upsert method as well, shouldn't it? #1280
Or the bulk import is only designed for creating, not for updating?

Bg,
Kevin

[2015-04-07 16:04] dagarwal82 commented on #1293
Hey fceller,

Is there any update on this.

[2015-04-07 22:53] pekeler opened #1299 "unintended errors in documentation examples"
version 2.5.1
in chapters 8 and 13.1.

[2015-04-07 23:56] #887 closed

[2015-04-08 01:12] pluma commented on #1299
@13abylon Some of the arangosh output contains error messages.

[2015-04-08 01:23] #1284 closed

[2015-04-08 01:34] F21 opened #1300 "Make arangodump not fail if directory exists but is empty"
I am currently working on an ArangoDB source for [sebastianfeldmann/phpbu](https://github.com/sebastianfeldmann/phpbu) to allow easy automated backups.

The problem is that phpbu allows users to define where the backups will be placed and will need to first create the destination folder for the backup. This creates a problem because `arangodump` will see that the destination folder exist and fail.

[2015-04-08 07:03] neunhoef commented on #1300
I think this is a good idea. I believe that nobody can possibly be disturbed by an empty directory being filled when he did an arangodump.
It would be cool if ArangoDB would be one of the targets of  sebastianfeldmann/phpbu .
If you send a pull request we can quickly approve it.

[2015-04-08 07:05] F21 commented on #1300
I am currently working on an arangodump target for phpbu (just waiting on https://github.com/sebastianfeldmann/phpbu/issues/9#issuecomment-90824423).

[2015-04-08 08:48] fceller commented on #1293
My colleague is currently trying to setup a test environment in Azure.

[2015-04-08 12:27] hkernbach opened #1301 "ArangoDB Windows Installation"
When installing ArangoDB and enabling the checkbox "Create desktop shortcut", no shortcut is created.

Used Setup-File: ArangoDB-2.5.1-win64.exe
Tested on Windows 2012 R2

[2015-04-08 16:35] dagarwal82 opened #1302 "Getting "Unknown job type" after the restart of the arangodb"
Steps to reproduce

1) Push several events to arangodb
2) Stop the arangodb
3) Start the arangodb
4) logs keep showing "WARNING Unknown job type for job 3541095535592: myCustomFunction

[2015-04-08 21:38] pekeler opened #1303 "Collection Method Insert documentation"
Chapter 7.2 Insert
- "It must not contain attributes starting with _." seems to be outdated since _key can be specified.
- "insert is an alias for save" but there's no documentation for save.

[2015-04-08 22:29] pluma commented on #1302
@mchacki @fceller I think the changes to Foxx in 2.5 may have delayed the registration of Foxx.queue job types until the first time the app's mount point is accessed. This would result in the above behaviour.

@dagarwal82 As a temporary workaround, could you try accessing the Foxx app(s) that defined the job type (e.g. via the admin interface)?

[2015-04-08 23:31] dagarwal82 commented on #1302
I did try that. I had tried registering in setup.js (not sure if that is right or not) and going into the admin interface and executing setup.js

[2015-04-09 01:44] lovedder opened #1304 "Can't use Joi.array.items method in Foxx"
When I try to use Joi.array.items in my Foxx model I get: TypeError: undefined is not a function.

[2015-04-09 06:23] yammelvin opened #1305 "Single Machine Cluster Setup in Windows"
I tried to follow the cluster setup according to the documentation in Windows 7.

However I encounter the following error when launching the cluster:
flag provided but not defined: -initial-cluster-state

I'm using ArangoDB version 2.5.1

Can anybody help?

Thanks.

Melvin

[2015-04-09 06:56] fceller commented on #1305
This is a bug. The installer contains a wrong ETCD version.

[2015-04-09 07:16] pluma commented on #1304
The version of joi bundled with 2.5 and earlier is a bit out of date. The method `items` used to be called `includes`.

An updated version will be shipped with 2.6.

In the meantime, if you need features not supported by the older version of joi, you can just install the module locally in your Foxx app (go to your Foxx app's folder and `npm install joi`).

[2015-04-09 07:16] #1304 closed

[2015-04-09 07:18] pluma commented on #1302
The setup script will only be executed in a single thread. So unless your copy of ArangoDB only uses a single V8 thread (default is several), that won't work.

Try putting them either in the exports or controller. Preferably the exports.

[2015-04-09 09:14] kevinprotoss opened #1306 "Parallel request for auto creating collection returns duplicate name error"
Hello,

I used js API to make some requests parallel for getting collection with `autoCreate` true and I got responses with duplicate name error (1207) from some of them. Of course, it's reasonable, one request create a collection automatically if it doesn't exists, and others create failed because of existing collection name.

However, it's not logical. I think if this case happens, the other par

[2015-04-09 12:24] 13abylon commented on #1303
- "It must not contain attributes starting with _." seems to be outdated since _key can be specified.

Thanks for reporting. Will be fixed!

- "insert is an alias for save" but there's no documentation for save.

You can find documentation for save in the old documentations (2.1 and previous). If you want to check for older version, just go here: https://docs.arangodb.com/2.1

[2015-04-09 13:24] 13abylon commented on #1299
Yes, something went wrong with the build of the documentation. This will be fixed.

Thanks for reporting!

[2015-04-10 13:32] hkernbach opened #1307 "ArangoDB Windows Services Management"
When stopping arangodb instance, a error message appears:

![error_msg_win](https://cloud.githubusercontent.com/assets/1244163/7088757/aa11ba50-df96-11e4-9b74-ba3c3a7ab36d.png)

Used Version:
Windows Server 2012 R2 Datacenter
ArangoDB Version 2.5.1 (exe-installer as service)

[2015-04-10 13:56] sbakiu commented on #1138
Is this feature implemented till now?
I need something like:
[code]
but i get: ` [1542] invalid argument type in call to function 'AQL_FULLTEXT()' (while executing)`

[2015-04-10 14:16] dagarwal82 commented on #1293
I did a fresh installation and I don't see the ssl disconnect problem anymore. Also, the most of the crashes are happening because of the high memory utilization. Most of the memory was taken by foxxlog, it had millions of entry. Once I started truncating the foxxlog (db._foxxlog.truncate()) memory utilization is decreased dramatically.

[2015-04-10 14:20] fceller commented on #1293
Strange, what kind of messages are logged in this collection? Millions seems way too many. Are these messages from your Foxx app?

[2015-04-10 14:26] dagarwal82 commented on #1293
Yes. my foxx app was using console.log. I have disabled all the logs. But
from the functionality point of view arangodb may choose not to keep all
the logs in memory. Most of the logs (95%) are :

{
    "_id" : "_foxxlog/8497830242595",
    "_rev" : "8497830242595",
    "_key" : "8497830242595",
    "levelNum" : 0,
    "time" : 1428618532057,
    "mount" : "/evc",
    "level" : "INFO",
    "messag

[2015-04-10 14:45] fceller commented on #1293
That is indeed a lot of unnecessary stuff. Are these entry produced by your application?

It should be possible to restrict the number of entry by defining a cap constraint:

db._foxxlog.ensureCapConstraint(1000)

[2015-04-10 15:09] hkernbach opened #1308 "ArangoDB Foxx Install via ZIP Frontend"
Installation of a foxx application via zip-file is not possible when those steps are done:

1. Open Web-Interface
2. Go to tab "Applications"
3. Click Button "Add Application"
4. Click Zip
5. Drag&Drop or select zip-file
6. Now enter mountpoint
7. Then click install

Nothing happens. It works when mountpoint is entered first.

[2015-04-10 19:20] dagarwal82 opened #1309 "Performance of querying the edge collection"
I have an edge collection with 120K documents. It holds field properties sig1 and sig2

{
 "sig1" : "xyz",
 "sig2": "abc"
}

I am executing following query:
FOR e in edgecol FILTER e.sig1=="abc"  || e.sig2=='abc' RETURN e

It takes more than 600 msec or sometime 1 sec. Indexing is done on sig1 and sig2.

Is it expected behaviour or is there a better way to query. I tied traversing as:

FOR e in GR

[2015-04-12 08:39] OlafRadicke opened #1310 "Documentation: Example is not worked for my"
Hi!

I experimented with the HTTP/REST-API of arangodb. For tests I used this docker container: https://registry.hub.docker.com/u/frodenas/arangodb/

When I did the command from the documentation (https://github.com/arangodb/arangodb/blob/devel/Documentation/Examples/RestDatabaseCreate.generated) to create a new database, I`ve got no answer from the server:. the comand come not back. It was hangin

[2015-04-12 09:20] OlafRadicke commented on #1310
Now I found a way, but it's different of the documentation:

And the next issue is:

Other try:

Other try:

{"result":["_system","networkcookbook","newrestdb","restdb","testdb"],"error":false,"code":200}

How can I get more information about my new database? I can't fount this in the documentation?

[2015-04-12 11:11] neunhoef commented on #1310
As far as I know this container image has ArangoDB 2.2 and the published documentation is for V 2.5.

Am 12. April 2015 10:39:33 MESZ, schrieb Olaf Radicke <notifications@github.com>:

[2015-04-12 11:23] fceller commented on #1310
BTW there is 2.5 available as arangodb/arangodb.

If i do the command from the documentation (https://github.com/arangodb/arangodb/blob/devel/Documentation/Examples/RestDatabaseCreate.generated) to create a new database, i gen no answer from the server:. The comannd cam not back. It's hang up:

    curl -v -u arango:IFFr60y13oxMkdhc -X POST --data-binary @- --dump - http://fuerth.fritz.box:8529/_a

[2015-04-12 14:03] OlafRadicke commented on #1310
It is version 2.2.4:

in the documentation chaper "HTTP Interface for Databases" section "Address of a Database" it is written:

but it's wrong. For my it's the url http://localhost:8529/_api/version

I use the ebook form of the documentation and there has no version in the title. In the chapter "What's new?"  it's talk a bout 2.5. Okay but i can'd find note about  in (It is version 2.2.4:

It is

[2015-04-13 09:31] jsteemann commented on #1298
Yes, bulk imports are actually performing inserts, and they will fail when there are unique constraint violations. Currently bulk imports are not meant for updating existing documents, or, insert or update depending on whether a document already exists.

[2015-04-13 09:38] 13abylon commented on #1299
The examples are fixed and the documentation is up to date. Thanks again!

[2015-04-13 09:38] #1299 closed

[2015-04-13 09:52] jsteemann commented on #1300
Fixed in 2.5 and devel.

[2015-04-13 09:52] #1300 closed

[2015-04-13 10:03] jsteemann commented on #1309
I expect that an EXPLAIN for the above query will indicate that the query won't use an index. This is because of the logical or (`||`) on two different attributes, which would require using two different indexes on the same collection and merging the results. This is currently not supported by the optimizer (though of course the feature is on our wishlist).

A fix might be to split the one conditi

[2015-04-13 10:22] jsteemann commented on #1138
No, this is not implemented yet, because of the [above concerns](https://github.com/arangodb/arangodb/issues/1138#issuecomment-66351728).

Note that you could use a bind parameter for the collection name, but that also requires the collection name to be known already when executing the query. So it won't be dynamic in the sense that the collection name is calculated from intermediate query results

[2015-04-13 10:29] CoDEmanX commented on #1309
I assume if there are too many results, they all need to fit into memory, right? Wouldn't this issue be resolved by lazy evaluation?

[2015-04-13 10:32] jsteemann commented on #1306
The database has no idea that you are issuing parallel requests to create a collection. So the first request will create the collection and the other ones will be responded to with error 1207 (duplicate name). I think this is unavoidable, because the server does not have the `autoCreate` option that the driver offers.

From my point of view, the driver should be adjusted so it checks for error 120

[2015-04-13 10:34] jsteemann commented on #1309
I think not in this case, because the uniqueness check requires all results to be present anyway.

[2015-04-13 10:51] kevinprotoss commented on #1306
Hi jsteemann,

I agree with you.

Best regards,
Kevin

[2015-04-13 10:54] kevinprotoss commented on #1298
Is this feature possible in the future? Or any other methods? I'd like to insert or update bulk data.

[2015-04-13 10:55] pluma commented on #1306
This is an error in the JS driver, not ArangoDB itself.

[2015-04-13 10:55] #1306 closed

[2015-04-13 13:29] neunhoef commented on #1298
What do you exactly mean with "this feature"? Currently, if you have a document with
  "_key": "xyz"
(say) in the collection and then import another one with the same _key, you always get a unique constraint violation. What we could offer relatively easily is that in that case the old revision is replaced or even updated with the newly imported document. If this is what you need we could implement

[2015-04-13 13:36] hkernbach commented on #1308
Fix confirmed (devel), closed.

[2015-04-13 13:36] #1308 closed

[2015-04-13 13:39] kevinprotoss commented on #1298
Hello,

well I mean import document with given `_key`. Suppose a bulk of data which have definite `_key` in the json file. I'd like to create or update them all together.

Do you think whether this case is possible?

I believe the second one you mentioned is completely correct. DB should always throws error for case of unique constraint.

Best regards,
Kevin

[2015-04-13 14:28] pekeler commented on #1299
:)

[2015-04-13 14:46] neunhoef commented on #1310
I am one of the developers of ArangoDB. We publish the docker container arangodb/arangodb ourselves (see download page) and we will always keep it updated with releases. In that sense we recommend it.
You are right, the online version of the manual should state the version it refers to. I will see to it that this is changed.

[2015-04-13 14:51] neunhoef commented on #1298
OK, I will see what we can do, this is a reasonable request and should not be a very difficult feature. I leave this one open for now.

[2015-04-13 14:52] neunhoef commented on #1298
See also
  http://stackoverflow.com/questions/29105660/arangodb-aql-update-single-object-in
-embedded-array/29124327#29124327
(just for reference).

[2015-04-13 19:05] OlafRadicke commented on #1310
Now I have run the docker image arangodb/arangodb and here is my feedback:

1.) On site https://registry.hub.docker.com/u/arangodb/arangodb/ I miss a note about the password. No password is not the best option, I think. Remember the MongoDB-Disaster (http://www.heise.de/security/meldung/Studenten-entdecken-Tausende-offene-Firmen-Datenbanken-im-Internet-2545183.html). frodenas/arangodb can show you

[2015-04-14 10:04] jsteemann commented on #1298
The feature has been implemented in devel.

This change extends the HTTP REST API for bulk imports as follows:

When documents are imported and the `_key` attribute is specified for them, the import can be used for inserting and updating/replacing documents. Previously, the import could be used for inserting new documents only, and re-inserting a document with an existing would have failed with a

[2015-04-14 10:04] #1298 closed

[2015-04-14 13:43] nlac commented on #1273
In the meantime, let me ask is that load on the cluster normal, with the scenario above? (no app is communicating with the cluster, the only app uses it is the ardwaark gui)

![image](https://cloud.githubusercontent.com/assets/1221191/7137851/c30ddf6a-e2bc-11e4-9a16-50bedcea50ce.png)

On one data node (Pavel) there are 25-30 request/sec..

[2015-04-14 14:33] razvanphp opened #1311 "AQL unexpected LENGTH(null) = 4"
So today we stumbled upon this, when evaluating why some statistics are not right.

The full example is something like:
[code]

This will also return all the customers that don't have the property `size` defined in preferences, probably because the returned length is 4.

[2015-04-14 15:08] CoDEmanX commented on #1311
Duplicate of https://github.com/arangodb/arangodb/issues/1231

[2015-04-14 15:27] #1311 closed

[2015-04-14 15:29] razvanphp commented on #1231
+1

really strange, at least in the example from my bug, when you want to check a subfield of a document for existence. In PHP, we have `empty` function, that checks all cases, if it's 0, null, empty array, empty string etc.

[2015-04-14 15:45] fceller commented on #1231
Yes, that behaviour is currently: LENGTH(list) returns the length of the list, LENGTH(obj) returns the number of attributes, LENGTH(x) returns the length of string representation of x - which is not what one expects for null.

We propose the following change:

LENGTH(x) return

the number of characters if x is a string
the length of the list if x is a list
the number of attributes if x is a object

[2015-04-14 15:53] razvanphp commented on #1231
Seems logical to me :+1:

[2015-04-14 17:28] jsteemann commented on #1231
"fixed" (i.e. changed) in devel/2.6 as proposed by @fceller .
Cannot backport this into 2.5 because it is not downwards-compatible and a change in behavior.

[2015-04-14 17:30] jsteemann commented on #1231
In devel/2.6, `LENGTH(null)` is now `0`.

[2015-04-14 17:30] #1231 closed

[2015-04-15 17:48] #1281 closed

[2015-04-16 14:22] razvanphp commented on #331
`JavaScript exception: ReferenceError: SYS_SAVE is not defined`

Is there a new way now? @frankmayer syntax looked good to me.

[2015-04-16 14:27] jsteemann commented on #331
The global functions (including `SYS_SAVE`) have been moved out of the global scope a few years ago. The write-data-to-file function is now available in the `fs` module:

[code]

[2015-04-16 14:53] razvanphp commented on #331
Worked like a charm, thanks!

[2015-04-20 06:11] pyros2097 opened #1312 "Implement Redis like Sorted Sets/Leaderboards?"
Is is possible to create redis like sorted sets using skip list indexes? Or is it better to use the key value store (I can't seem to find the documentation on the key/value store)? And will its performance still match for huge sorted sets?

[2015-04-20 18:17] jsteemann commented on #1312
There is no direct equivalent to a Redis sorted set in ArangoDB, but the same can be achieved using a unique skiplist index. Here's an example, using a collection named `highscores`:
[code]
I have used the `_key` attribute for storing the user id, because `_key` is always present and unique, making it ideal for storing unique user ids. Using the `_key` attribute for storing user ids ensures that n

[2015-04-21 14:11] dagarwal82 opened #1313 "Wrong metric calculation at dashboard"
Just after it was showing 18GB in Resident size , when I refreshed I don't see correct utilization anymore.
I am running 2.5.2 on Linux box (Ubuntu)
![wrongmetrics](https://cloud.githubusercontent.com/assets/1272570/7254087/cb5b49c6-e80e-11e4-9fbc-5f33c619ef9d.png)

[2015-04-21 15:56] jsteemann commented on #1312
If you're interested, there's now also a blog article about the subject:
https://www.arangodb.com/2015/04/creating-multi-game-highscore-lists/

[2015-04-22 05:15] pyros2097 commented on #1312
Nice blog post comparing redis and arangodb. So we plan to use transactions to update the highscore list but checking the docs each transaction locks the collection so wont it make it non-scalable for a huge number of games. So I thought why not create a new collection for every game but then what are the collection limits in arangodb?

[2015-04-22 15:46] razvanphp commented on #1313
Yeah, we had this too few times, donno exactly how to reproduce.

[2015-04-22 15:49] razvanphp opened #1314 "Foxx apps manifest configuration not in documentation"
For example:
https://github.com/arangodb/foxx-swagger/blob/master/manifest.json#L25

We wanted to have different type of configuration values, like object or json, textarea, but don't know exactly what is possible and what not. Would be great to have it well documented, as it is a very cool feature for automatic deployments.

[2015-04-23 09:20] agomezalvic commented on #1292
any news about this, did it got resolved with 2.5.2?
did see nothing in 2.5.2 changelog about this (can not upgrade to 2.5.2 at the moment, at least not before a few days).
thanks in advance

[2015-04-23 15:32] OrKoN opened #1315 "Queries to a collection fail with an empty response if the collection contains specific JSON data"
Hi,

We've found a problem that some queries fail if collections contain some specific JSON data. I don't know what exactly in the data causes the failure.

Steps to reproduce:

1. Create a new collection e.g. `test`
2. Import the following json file https://www.dropbox.com/s/roael6lv15gu9ip/data.json?dl=0 which contains a list of countries with translated names
3. Open the API tool and create a P

[2015-04-23 16:15] jsteemann commented on #1315
I was able to reproduce this with 2.5.2. Interestingly the server returns a proper JSON when I use the devel version. Will try to figure out what causes this.

[2015-04-23 16:45] jsteemann commented on #1315
Found the reason: the response is assembled in the server correctly and then UTF-8 normalization of the response kicks in. This seems to expand the response string slightly so a target buffer cannot hold it. Normalization therefore returns with an error and no response string.

Will need to investigate how to properly fix this.

[2015-04-23 18:24] jsteemann commented on #1315
The issue has been fixed in 2.5 and devel now. The fix will be included in the next releases (e.g. 2.5.3).

I'd like to incorporate the JSON test data you linked into our test suite and would like to ask your permission for doing so. Are you ok with that?

[2015-04-23 19:14] OrKoN commented on #1315
Thanks for the quick fix. Sure, you can use the data that I provided. It's taken originally from http://sws.geonames.org/ and licensed under a Creative Commons Attribution 3.0 License

Could you estimate when the next release will happen? Or maybe if there is a way to get the fix before the release? or maybe do you know which part of the data exactly causes the problem so I can remove it temporari

[2015-04-23 21:02] jsteemann commented on #1315
I think a 2.5.3 release can be built next week.

The problems seem to be caused by the `alternateName` attribute, specifically for the `@language` with value `bn`.

I tried copying the original data into a new collection with the `bn` language removed, and that seemed to work when running the original query. Here's my copy function for reference:
[code]

[2015-04-23 22:25] jsteemann commented on #1312
AFAIK there is no hard-coded limit for the number of collections in the ArangoDB code.

However, each collection will require at least one active file descriptor while the server is running, at least when the collection is loaded and contains any data. Collections containing documents may need extra file descriptors.
The operating system will probably limit the number of file descriptors by defaul

[2015-04-24 13:42] nlac commented on #1273
Finally i found the possible reason of the issue: there were some zombie arango processes stuck on the nodes. After i killed those, i was able to start the cluster in a 1 coordinator + 2 dbserver form on 3 nodes.
Unfortunately other issues came up with the cluster, i close this one and will start another.

[2015-04-24 13:42] #1273 closed

[2015-04-24 14:49] #1303 closed

[2015-04-24 15:00] 13abylon commented on #1267
From the documentation:
"The REPLACE keyword can be used to completely replace documents in a collection."

"An update operation will only update the attributes specified in document and leave other attributes untouched"

In my opinion that should be enough! :)