[2015-04-24 15:00] #1267 closed

[2015-04-24 15:36] ifcologne commented on #1267
To get rid of attributes in an update operation, set them to null and provide the keepNull option:

FOR t IN test
FILTER t._key == '123'
UPDATE t WITH { t: null } IN test OPTIONS { keepNull: false }

[2015-04-24 16:32] flosse opened #1316 "external v8"
Is it possible to use an external v8 build? Are there any config flags? (same question for zlib etc.)

[2015-04-24 16:42] sbakiu opened #1317 "Version '2.5.2' for 'arangodb:i386' was not found"
I am getting `Version '2.5.2' for 'arangodb:i386' was not found` error when downloading ArangoDB for Ubuntu 14.04.

[2015-04-26 01:05] AzuraMeta opened #1318 "Inconsistent db._create() syntax"
I attempted to use the third form of db._create:
db._create(collection-name, properties, type)

Example:
db._create("test", {}, "edge");

This works fine from arangosh.
However, if I try to use it in a Foxx App (setup script), I get the following error:
[ArangoError 3005: failed to execute script File: scripts/setup.js Error: [ArangoError 10: usage: _create(\<name\>, \<properties\>)]]

Note: The o

[2015-04-27 05:00] F21 opened #1319 "Ubuntu 15.04 repository"
It would be awesome if a repository for Ubuntu 15.04 can be built. Using the binaries from 14.10 didn't allow the server to start using `sudo service arangodb start`. I think this is because 15.04 changed their init system to systemd and that broke things.

[2015-04-27 07:52] jsteemann commented on #1316
Short answer: no

Long answer:
We previously had an optional to build using an external V8 library. We removed it in ArangoDB 2.4 because ArangoDB required an exact match V8 version and not just any V8. On many systems the default V8 packages were far too old, and building with the system packages therefore failed. We got several tickets opened because of the system V8 version not matching the one

[2015-04-27 07:57] jsteemann commented on #1317
How are you downloading that package?

I just tried it manually by going to the website (https://www.arangodb.com/download/, **Download** tab), selecting Ubuntu and then downloading the 14.04 package for i386. This seems to download fine.

Here's the direct link for the package:
https://www.arangodb.com/repositories/arangodb2/xUbuntu_14.04/i386/arangodb_2.5.2_i386.deb

Did you try to install it by

[2015-04-27 08:53] flosse commented on #1316
@jsteemann Thx for your answer.
The reason I'm asking: I'm going to pack arango for [nix](http://nixos.org/nix/) / [nixos](http://nixos.org/) where every dependency can be described uniquely (checked with sha256), so there wouldn't' be a "maybe it works" but a reproducible build :-)
So if there is a trick to use external dependencies, it would be nice to build it in a nix-way otherwise I'll pack i

[2015-04-27 08:54] jsteemann commented on #1318
It turned out that the 3-parameter version of `db._create()` was only supported from the ArangoShell. Because it was mentioned in the manual, I have now added the 3-parameter version for the server-side as well, meaning it can be used from within a Foxx app etc.

The fix will become available with 2.5.3.

[2015-04-27 08:54] #1318 closed

[2015-04-27 08:58] jsteemann commented on #1316
@flosse: I see this would be working if all the required dependencies would be built with the correct version, too. But at the moment there is no way to tell ArangoDB's configure to use any external libraries. So it's probably better to go with the all-in-one blob.

And by the way, many thanks for building a nix package of ArangoDB!

[2015-04-27 08:58] #1316 closed

[2015-04-27 09:01] jsteemann commented on #1319
Our build service is now able to build Ubuntu 15.04 packages, and I think we will add 15.04 to our builds soon. I cannot give a definitive date now, but we'll be working on it.

[2015-04-27 09:21] sbakiu commented on #1317
I was trying to use `apt-get`

[2015-04-27 09:49] jsteemann commented on #1317
I can see the i386 version of 2.5.2 is online so I am a bit surprised it doesn't download.
Can you confirm the `sources.list` on your system is up-to-date? The file `/etc/apt/sources.list.d/arangodb.list` should contain the following line:
[code]

[2015-04-27 11:57] nlac opened #1320 "arangob benchmarking in mode "aqlinsert" fails and destroys the cluster (v2.5.2)"
Hi guys,
i tested the following scenario on Windows 8.1, with a newly installed arangoDB:
- created and started a single-node cluster on localhost with 1 coordinator + 2 dbserver
- ran the following benchmark:
```arangob --server.endpoint tcp://127.0.0.1:8530 --collection "aqlinsert_test" --async true --concurrency 4 --log.level "debug" --test-case "aqlinsert" --requests 50000```

As a result, the

[2015-04-27 13:20] nlac commented on #1320
sorry the link to the logs was wrong, the correct one is  http://nlacsoft.net/public/arango/benchmark_fails.zip

[2015-04-27 13:43] sbakiu commented on #1317
Now it is working. I cannot really tell what was happening on Friday but today it seems to be fine. I will close the issue.

[2015-04-27 13:43] #1317 closed

[2015-04-27 13:52] jsteemann commented on #1317
Maybe it wasn't there on Friday and the version got uploaded by now. I really don't know, but I am glad it works now.

[2015-04-27 14:09] dothebart opened #1321 "generalGraphDistanceTo2 not working anymore"
While closely watching the results of the documentation samples this was uncovered:
The Documentation snippet named generalGraphDistanceTo2 from the file js/server/modules/org/arangodb/aql.js:

    arangosh> var examples = require("org/arangodb/graph-examples/example-graph.js");
    arangosh> var g = examples.loadGraph("routeplanner");
    arangosh> db._query("FOR e IN GRAPH_DISTANCE_TO("
    ....

[2015-04-27 23:13] diegogub opened #1322 "strange AQL result ArangoDb 2.5.2"
Hello,
I'm having quite an strange result with a query. I attach some screenshots.
![screen shot 2015-04-27 at 8 09 13 pm](https://cloud.githubusercontent.com/assets/2489012/7359817/af3efcf0-ed19-11e4-9df6-97fef2ce8cc8.png)
![screen shot 2015-04-27 at 8 09 25 pm](https://cloud.githubusercontent.com/assets/2489012/7359819/b19ad9b0-ed19-11e4-8e93-b272b754b0d2.png)
![screen shot 2015-04-27 at 8 09 35

[2015-04-27 23:16] diegogub commented on #1322
I notice that removing skiplist indexes solve the problem, but I don't see why it should not work. Thanks.

[2015-04-28 09:24] jsteemann commented on #1322
This was indeed a bug when querying a unique, multi-attribute skiplist index with just a prefix of the index attributes and an equality condition. It is fixed now in devel, 2.5 (2.5.3) and 2.4 (2.4.8).

[2015-04-28 09:24] #1322 closed

[2015-04-28 14:07] diegogub commented on #1322
:)

[2015-04-28 19:13] mchacki commented on #1321
It should now be fixed alongside with some other issues rooted in the same reason.

[2015-04-28 19:13] #1321 closed

[2015-04-28 22:55] neunhoef commented on #1320
Problem confirmed and reproduced. Is not Windows specific. I am on the case.

[2015-04-29 06:43] nlac commented on #1320
Thank you! It's good to hear that it could be reproduced.

[2015-04-29 07:48] neunhoef commented on #1320
I just committed a fix in the devel branch which fixes the immediate problem. A deadlock in the cluster happened. However, now there is another one, which has to do with locking in the individual shards. I believe that I understand the problem and am now thinking and discussing with my colleagues to how to fix this. I wll post progress here.

[2015-04-29 16:02] nlac commented on #1320
I much appreciate your effort and can't wait to test the next release on our environment!

[2015-04-30 05:11] neunhoef commented on #1320
Second problem had to do with locking on thee shards. I have solved this as well in the devel branch. Then I got a little thread-explosion (>1000 threads). Now there are in the cluster two independent Dispatcher queues, one for the standard queries and one for the cluster-internal AQL queries. This is also in devel.
All these changes will go into the next minor release, which is due later this wee

[2015-04-30 05:15] neunhoef commented on #1320
One more comment: When you do "--async true" in arangob, then it creates lots of queries and the server comes back with a result directly after it has put it into the input queue. This leads to the outcome that at some stage the queues are completely full. Once this happens, the server (rightfully) returns an HTTP 500 result. This is why you will still see some warnings if you run arangob as you s

[2015-04-30 06:56] nlac commented on #1320
That's great!! I would have some questions about the last comment: is the input queue's size fixed or is it configurable (or maybe auto-sized depending from the available memory)? May that HTTP 500 (due to overfilling the input queue) case occur in a practical case of production use?

[2015-04-30 07:44] neunhoef commented on #1320
The queue size can be configured with the command line option (or configuration file)
   --scheduler.maximal-queue-size <int32>
and the default is 8192. I would imagine that this is plenty for any practical case in production. If one really sends so many asynchronous requests, there is probably some other problem underlying.

[2015-04-30 08:33] nlac commented on #1320
Clear, thanks!

[2015-05-01 17:56] armatys opened #1323 "Foxx: Repository.byExample vs Repository.firstExample"
Hello,
I encountered an issue, while developing a Foxx app. The observed behavior seems incorrect, but forgive me if it's not, as I've started using Arango just today.

[code]
The issue is when I try to find a user which does not exist in the databse. The first method `byExample` correctly returns a list with 0 element, but `firstExample` method actually returns an object - it has some default att

[2015-05-02 21:59] pekeler opened #1324 "generated Foxx controller should include Patch action"
Currently, controllers support the PUT action for replacing documents. I think it would be great if it also supported the PATCH action for updating documents.

There are two ways of implementing PATCH. One is the json-patch (Content-Type of the request needs to be 'application/json-patch+json'). It's a bit complex and http://jsonpatch.com has more info.

The other one is the merge-patch (Content-T

[2015-05-02 22:49] pekeler opened #1325 "Foxx model schema validations"
I keep running into problems with my models’ schemas and I’m starting to believe now that the default way a generated Foxx app handles the schemas can only work for the simplest of use cases.

Problem 1: model.set() doesn’t catch validation problems if the schema defines attributes based on the value of other attributes like:
[code]
Now if the controller action gets called with {foo: ’baz’, bar: n

[2015-05-03 13:51] pluma commented on #1325
I agree that the current implementation has its problems.

Personally I'm unhappy with the repository/model architecture altogether and would instead prefer just dealing with fancy collections-with-schemas and plain objects. In practice validation seems to be a concern of the context (i.e. how data is used) rather than the data itself, other than "computed values", models don't seem to bring anyth

[2015-05-03 13:56] pluma commented on #1323
I agree that it shouldn't return anything (i.e. `null`), but I'm sure changing that behaviour would be a backwards-incompatible change and break some code.

+1 on fixing this. @fceller there's no way to gracefully introduce a change here, can we just be bold and fix this in 2.6?

[2015-05-03 15:44] fceller commented on #1323
I agree that "firstExample" should behave like the collection version and return "null".

If we fix this, we should introduce it only in 2.6 (not the 2.5 branch).

[2015-05-03 17:35] pekeler commented on #1325
I still kind of like the idea of models as a place for my businessy logic, constants, etc. And I like having a Repository - but I wish the repository was purely a repository of models (replaceById(), replaceByExample(),  updateByID(), updateByExample() are not model related, and update() has a weird signature and does too much).

[2015-05-03 18:48] pekeler opened #1326 "problem running tests"
I wanted to try out the latest devel version (on OS X 10.10.3):
[code]
so far so good, but then `make unittests` results in
[code]

Did I do anything wrong?

[2015-05-03 20:08] fceller commented on #1326
Seems like the config file is not created. Have to check.

[2015-05-03 20:39] fceller commented on #1326
The target causes the conf file to be named arangodx86_64-apple-darwin-.conf

[2015-05-04 05:55] pekeler commented on #1326
Seems like all the .conf files need to be renamed
[code]
Now it works for me. Thanks!

[2015-05-04 05:58] pekeler commented on #1326
https://docs.arangodb.com/Installing/Compiling.html should probably mention this.

[2015-05-04 08:27] jsteemann commented on #1280
I think the original issue is covered by the new `UPSERT` operation in 2.6. I have written a short introduction about this feature a while ago:
http://jsteemann.github.io/blog/2015/03/27/preview-of-the-upsert-command/

[2015-05-04 08:27] jsteemann commented on #1280
Closing as done.

[2015-05-04 08:27] #1280 closed

[2015-05-04 08:28] jsteemann commented on #1312
Closing as answered.

[2015-05-04 08:28] #1312 closed

[2015-05-04 21:50] fceller commented on #1326
Ok, you need to add

   --program-suffix=""

as well. Then it should work.

[2015-05-04 21:50] #1326 closed

[2015-05-04 21:53] fceller commented on #1326
Add hint to the documentation.

[2015-05-05 09:49] dothebart commented on #1292
The fix is part of 2.5.3

[2015-05-06 10:02] jsteemann commented on #1315
Should be fixed in 2.5.3.

[2015-05-06 10:03] #1315 closed

[2015-05-06 10:04] pluma commented on #1060
This has been implemented in devel.

[2015-05-06 10:04] #1060 closed

[2015-05-06 10:11] pluma commented on #1190
We could probably implement something like `req.protocol` and `req.host` (or something to that effect) in the request object and have it behave the way you described (i.e. use the proxy headers or the defaults).

I'm not sure whether allowing proxy-headers to override this is a security concern. Some web frameworks have a flag to toggle this behaviour but others seem to just use them by default.

[2015-05-06 10:16] pluma commented on #1257
Fixed via #1287.

[2015-05-06 10:16] #1290 closed

[2015-05-06 10:21] #1137 closed

[2015-05-06 11:23] razvanphp commented on #1290
What about the integrated version? Do you need another ticket?

[2015-05-06 12:05] pluma opened #1327 "More flexible API documentation integration"
Via #1290:

Currently the API documentation is part of the admin frontend using a modified version of Swagger 1. There is now a standalone Foxx app for per-app documentation that uses Swagger 2.

It would be neat if documentation could be mounted on a per-app level similar to the standalone version but maybe (optionally) guarded by app-specific authentication mechanism.

@razvanphp Could you descr

[2015-05-06 12:21] razvanphp commented on #1327
The use case is pretty general I think, in my company, I presented the documentation for a foxx app I wrote in the admin frontend to other teams (the ones that are supposed to use those endpoints) and of course the logical question was where can they consult this documentation. At this point, I realised I cannot provide them with access because this would mean I have to give them auth credentials

[2015-05-06 12:34] pluma commented on #1327
My biggest concern is handling the assets required by Swagger. The documentation is really made up of three parts: 1. the static page itself, 2. the endpoint producing the JSON for swagger, 3. additional assets like stylesheets and frontend code.

I could imagine something like this:

Add a method `documentation` to the Foxx.Controller that takes a URL and a function (like the `destroySession` met

[2015-05-06 12:38] razvanphp commented on #1327
Making the documentation an integrated system app that is used both internally and externally would solve your problem with the assets?

[2015-05-06 12:58] pluma commented on #1327
We could have the assets reside at a central location (e.g. `/_admin/docs/`), but then they would no longer be in the path of your app (e.g. `/my-app/`), which impacts the use case where you only want to use a reverse proxy to expose a single Foxx app (e.g. treat all incoming request paths as relative to `/my-app/` so `www.example.com/api/foo` becomes `localhost:8529/_db/_system/my-app/foo`).

The

[2015-05-06 13:12] pluma commented on #1327
I had a chat with Jan and I think this could work. We could store the common assets in aardvark and just `fs.read` them from there internally. The only problem would be if for some reason you don't have the admin frontend app installed but if you go around deleting system apps, you're already asking for trouble.

So the plan would be as follows:

* add a `documentation` method to the Controller as

[2015-05-06 13:13] pluma opened #1328 "Replace API docs generator (Swagger 1) with Swagger 2"
Via #1327: replace the admin API docs (Swagger 1) with the implementation from the stand-alone Swagger 2 app.

[2015-05-06 13:19] razvanphp commented on #1327
Sounds great. Just a funny question, is the documentation URL going to be in the `swagger.json` ? something like inception :)

Swagger 2 must be tweaked a little bit, for example it has a remote validator that does not work for private, interval URLs.

[2015-05-06 13:24] jsteemann commented on #1195
I just committed a few changes in `devel` (2.6) that make the fulltext index also include text values that are contained in direct sub-objects of the index attribute.

Previous versions of ArangoDB only indexed the attribute value if it was a string. Sub-attributes of the index attribute were ignored when fulltext-indexing.

Now, if the index attribute value is an object, the object's values will

[2015-05-06 13:24] #1195 closed

[2015-05-06 14:24] jsteemann commented on #484
Indexing sub-objects and array is now supported in 2.6:
a brief example can be found in #1195

[2015-05-06 14:27] #1314 closed

[2015-05-06 14:30] pluma commented on #1327
I think the documentation endpoint itself may end up in swagger.json, but not the individual sub-routes (like swagger.json itself).

[2015-05-06 15:26] #1040 closed

[2015-05-06 15:29] #1323 closed

[2015-05-06 15:39] #1324 closed

[2015-05-06 16:17] pekeler commented on #1257
@pluma I don't quite understand how making the Repository emit the same events as the model is helpful. Are you suggesting the model should subscribe to the repository events instead of its own?

[2015-05-06 16:23] pluma commented on #1257
@pekeler If you want to listen to all models, you can just listen to the repository. The repository emits lifecycle events for all models.

In other words: instead of doing `this.on('beforeSave', fn)` in the constructor you can do `repo.on('beforeSave', fn)` once. Listening to yourself is a bit of an anti-pattern, especially if you have to do it in the constructor. Because there's no sane way to h

[2015-05-06 16:36] sarhugo commented on #1257
Sorry the delay of my response, I was with another projects. The Repository as an emitter for its models (as @pluma suggested and implemented in #1287 ) was the needed step and I think solves the problem mentioned by @pekeler .
I agree than having the model listen to himself is an antipattern but every improvement may start with some wrong implementation ;)

[2015-05-06 16:46] pekeler commented on #1257
Sorry, I'm still a little confused. The event handlers, for example beforeCreate for setting calculated default values on new model instances, belong to the model's responsibility. I think what you're suggesting is that somewhere in my model's module I do `repo.on('beforeCreate', someStaticMethodInTheModelsModule)`. I agree that this solves the problem of listening to itself, but the cost is that

[2015-05-06 16:55] pluma commented on #1257
You can put `repo.on('beforeCreate', someStaticMethodInTheModelsModule)` wherever you want. I would recommend putting it in the code that also tells the repo what model to use.

I guess the coupling could be further reduced by having static methods on the model and auto-registering them with the repo when the repo is initialized. At initialization, the repo already needs to know about the model ty

[2015-05-06 17:14] pekeler commented on #1257
@pluma yes, auto-registering would be ideal IMO. So, all I'd need to do is add a beforeSave method to my model and it'll be automatically called before every save. This would be similar to what I suggested in my second comment from Feb 26 on this issue.

[2015-05-07 08:16] pluma commented on #1327
`controller.apiDocumentation(path, beforeFn)` has landed in devel and works as planned.

@razvanphp you can try the feature in the devel branch. Basically it works as described (`path` will be interpreted as a directory, so no trailing `*` wildcard suffix is needed, e.g. `/my/dox` or `/my/dox/` both work). If you don't want the route to be resolved as normally, you can return `false` from your `be

[2015-05-07 09:40] agomezalvic commented on #1292
Have just upgraded my system to 2.5.3 (Windows x64 binaries, both client PC and server PC) and the problem persists.
I guess that the problem fixed is not really the one reported.
Can this be re-opened?

To get in touch, the problem is that we can not upgrade (via foxx-manager cmd line) a foxx application on our development ArangoDb server from neither of our personal development computers.

We tr

[2015-05-07 10:02] pluma commented on #1191
Note to self:

Given a route `/qux/:baz/*` in a controller at `/bar` of an app mounted at `/foo` in a database `mydb` on a server listening on `localhost:8529` (HTTP), an absolute URL would look like this:

`http://localhost:8529/_db/mydb/foo/bar/qux/hello/world/etc?x=y`

with the following parts (in devel):

* **applicationContext.mount**: `/foo`
* **req.absoluteUrl()**: `http://localhost:8529/_d

[2015-05-07 10:14] razvanphp commented on #1327
Sorry but why do we need another before function? I thought the `controller.before` is applied too?

[2015-05-07 10:37] pluma commented on #1327
@razvanphp you can use `controller.before`. The additional `beforeFn` is just there so you can add custom logic specifically to that sub-path (analogous to `destroySession` and so on). It's entirely optional and just a convenience.

[2015-05-07 11:22] pluma commented on #1190
This will be addressed in the 2.6 release. Currently there's an `absoluteUrl` method on the request object in devel that performs the logic you described. Any further improvements will be addressed via #1191.

[2015-05-07 11:22] #1190 closed

[2015-05-07 11:23] pluma commented on #909
This has been solved via the mocha integration.

[2015-05-07 11:23] #909 closed

[2015-05-07 11:33] pluma commented on #1262
Fixed via #1268.

[2015-05-07 11:33] #1262 closed

[2015-05-07 13:31] pluma commented on #1328
Fixed in devel.

[2015-05-07 13:31] #1328 closed

[2015-05-07 13:31] pluma commented on #1327
Fixed in devel.

[2015-05-07 13:44] #1257 closed

[2015-05-07 13:45] pluma commented on #1257
@pekeler Can you try the devel version and see whether that solves your problem? The example I proposed should work now.

[2015-05-07 16:06] pekeler commented on #1257
The latest devel doesn't build for me right now (undefined symbols for RestSimpleHandler). So I just looked at the implementation of the latest repository.js and it looks good :+1:

[2015-05-07 20:14] nlac commented on #1320
Hi @neunhoef,
does v2.5.3 contain all the fixes related to the bug? By my first test the original issue is still recent.

[2015-05-08 00:36] pekeler commented on #1205
I just ran into a similar problem. Unless I'm missing something, Foxx.createQuery is not documented anywhere. This issue and the source are the only place to find out about the `model` option.

[2015-05-08 08:27] nlac commented on #1320
Actually, the benchmark script in the first comment fails for a *non-cluster case also*, running it right after a clean installation of 2.5.3.
Output:
[code]

In the _system/aqlinsert_test collection, there are 30667 documents inserted, can be browsed on http://127.0.0.1:8529.

[2015-05-08 08:44] jsteemann commented on #1320
Maybe this is because of `--async true`. Setting it to `true` means that the operation is queued on the server. The server will only queue up to `--scheduler.maximal-queue-size` operations. If the queue is full, further requests will be rejected by the server, leading to operations failing. Can you check whether it is working when setting `--async` to `false` and if it is, increase the queue size?

[2015-05-08 09:22] nlac commented on #1320
Thanks, just tried the case with increasing the maximal-queue-size to 131072 (set it in arangod.conf, in [scheduler] section). The benchmark in non-cluster mode has been succeeded, everything was fine, no errors, GUI worked, that's nice!

In single-server cluster (1 coord. + 2 dbserv.) the benchmark didn't reported any error on the console, but the cluster shut down.

Then i decreased the --reques

[2015-05-08 09:27] jsteemann commented on #1320
Thanks for confirming non-cluster works fine with adjusted queue size. @neunhoef : any idea about the test results when running in cluster?

[2015-05-08 09:53] CoDEmanX commented on #1073
This is a known issue of NSIS:
https://github.com/dynamorio/drmemory/issues/1029
http://nsis.sourceforge.net/Environmental_Variables:_append,_prepend,_and_remove_entries

There is a special build with long string support:
http://nsis.sourceforge.net/Special_Builds

[2015-05-08 11:22] pluma commented on #1205
It's documented: https://docs.arangodb.com/Foxx/Develop/Queries.html

[2015-05-08 16:11] pekeler commented on #1205
Ah - thanks.
Using the search functionality on https://docs.arangodb.com to search for "createQuery" doesn't bring up anything.

[2015-05-09 19:16] pluma commented on #1205
Thanks for the heads up.

@13abylon Can you look into why `createQuery` isn't showing up in the search?

[2015-05-11 02:56] mbejda opened #1331 "Allow full Github URLS or provide an option for x-oauth-basic tokens so private Github repositories can be pulled into the applications."
Feature Request:
Allow full Github URLS or add an input text box for x-oauth-basic tokens so private Github repositories can be pulled into the application.
The *add application modal* only has the option to pull Github repos from public repositories. If I could add a full Github URL or have the option to add an x-oauth-basic token ArangoDB would be able to pull my private repository apps. This is

[2015-05-11 10:02] moonglum commented on #909
:bow:

[2015-05-11 12:41] rotatingJazz opened #1332 "Collection used as expression operand - how to avoid?"
I am getting this warning (2.4.3):

[code]

I have a set of filters that may be optionally applied and I am doing something like this:
[code]

The query works but how can I restructure this to avoid the warning?

[2015-05-11 14:53] pluma commented on #1331
The install-from-github logic uses the zip file generated by GitHub, not the git repository itself. I'm not sure how GitHub deals with access to these files for private repos.

[2015-05-11 15:29] dothebart commented on #1292
Ok, the error message is not helpfull at all.
Running the server in console mode with debug log gave the real failure; adding the path to the zip file fixed the incident.
running it with ``` .\updated.zip ``` instead of ```updated.zip``` fixes the incident for me.

[2015-05-11 16:45] agomezalvic commented on #1292
Hello,

I have tried using `.\updated.zip` as stated, but had the same error.

Even used full path (although local to foxx-manager binary computer), and i'm not sure what do you mean when talking about `path has to be relative to the running arangod server`, `updated.zip` and `.\updated.zip` are both relative, on the other hand, how can i tell from client computer what the full path will be on rem

[2015-05-11 19:17] mbejda commented on #1331
@pluma  It would work the same as .git repos. Here is the url format :
https:/<token>:x-oauth-basic@github.com/username/repo/master.zip

[2015-05-11 19:46] pekeler opened #1333 "corrupt collection"
I somehow got a corrupt collection. I asked a generic question on http://stackoverflow.com/questions/30176068/how-to-repair-a-corrupted-collection-in-arangodb but just noticed something interesting in the arangod.log that might be too specific for StackOverflow:

[code]
lot's of these and then
[code]
...
[code]

[2015-05-11 19:47] pekeler commented on #1333
I just restarted arangod and it seems to be working again

[code]

I'll close that StackOverflow question again.

[2015-05-11 19:50] fceller commented on #1333
Basically it means that you ran out of file descriptors. You should raise the number of open files to something like 2000 or 4000. You could add

  server.descriptors-minimum

to the arangod.conf to ensure that the number is available.

[2015-05-11 19:55] fceller commented on #1333
It normally happens if you open a lot of connections to the server. Each connections needs one file descriptor. If you eat up all allowed file descriptors, there is no way for ArangoDB to open its datafiles.

Therefore you need to raise the limit. ArangoDB can handle 10K or more connections.

[2015-05-11 20:07] pekeler commented on #1333
I don't think I did open a lot of connections. My app is still private and I'm the only user. According to my nginx log file, there was no unusual activity against my Foxx app. I'm also accessing the DB via arangojs from another server with only about 3 roundtrips per minute.

Also interesting, using aardvark I was still able to use the other 2 collections.

[2015-05-11 20:09] fceller commented on #1333
You could check the number of connections using netstat. Which OS are you using?

[2015-05-11 20:12] pekeler commented on #1333
Ubuntu 14.04.2 LTS
3.13.0-43-generic x86_64

[2015-05-11 20:23] fceller commented on #1333
And which node.js version? There seems to be some weird thing going on with node.js & connections. Can you try to issue a

    netstat -anpt

after a while? This should show how many connections are open. On my ubuntu the defaut limit is 1024.

[2015-05-11 20:30] pekeler commented on #1333
I'm using iojs v1.8.1

`netstat | grep ":8529" | wc -l` has been hovering between 8 and 18 since I've restarted 40 minutes ago. I'll keep an eye on it.

[2015-05-12 00:13] mchacki commented on #1292
Hi,

i think we first have to clarify some things ;)

First: the install command of foxx manager is designed to work with absolute or relative paths on the machine you execute it. You do not need to know anything about the server, which actually could be running on a different OS). However we often use the servers-console internally which lead to the confusion with @dothebart comment ;)

Second: I

[2015-05-12 00:29] mchacki commented on #1292
Should now be fixed in 2.5 and level and will be included in the next releases.

[2015-05-12 01:04] pluma commented on #1331
I think it would be more generally useful to support URLs for zip files in addition to uploads. That would cover private GitHub as well as other services that can be reached via HTTP (with basic auth or no auth).

[2015-05-12 07:24] jsteemann commented on #1333
For info: it's not only the number of connections, but also the number of files opened by `arangod` that matter. That includes WAL logfiles (usually just a handful) but also collection datafiles. If there are many collections available with lots of files, then it might be sensible to raise the ulimit value for `max open files`.

[2015-05-12 07:56] jsteemann commented on #1332
The warning is raised because of the part `FOR i IN [byCity, mycollection]`.
This will extract all documents from the two named collections and place them into the original list, so you'll effectively end up with something like `FOR i IN [ [ byCity1, byCity2, ... ], [ mycollection1, mycollection2, ... ] ]`.
This should work in general but is very inefficient because it will materialize all documen

[2015-05-12 07:56] dothebart commented on #1292
On 05/12/15 02:29, Michael Hackstein wrote:

Computa sagt naain:

willi@bruecklinux:~/src/devel$ git checkout
js/client/modules/org/arangodb/foxx/manager.js
willi@bruecklinux:~/src/devel$ git pull --all
willi@bruecklinux:~/src/devel$ bin/foxx-manager  --server.database
_system upgrade v1.2.1.zip /blarg
<path> must be a valid directory name

POST /_db/_system/_admin/foxx/upgrade HTTP/1.1.
Host: 127

[2015-05-12 08:24] dothebart commented on #1292
Still not resolved; reproducible on linux. The zip is not uploaded to the server, but a path passed on from foxx-manager to arangod.

[2015-05-12 08:28] fceller commented on #1333
Can you also check the open files? "lsof" should list them.

[2015-05-12 15:43] pekeler commented on #1333
`lsof | grep "arangodb" | wc -l`: 1570
Is that high or normal?

[2015-05-12 15:45] fceller commented on #1333
Can you post the output without the wc? Or send it to hackers (at) arangodb.com if it contains sensitive information.

[2015-05-12 15:49] pekeler commented on #1333
https://gist.github.com/pekeler/b2c657dde30d707ec20f

[2015-05-12 15:52] fceller commented on #1333
How many collections / database do you have?

[2015-05-12 15:52] pekeler commented on #1333
I have 3 collections in _system, no extra DB.

[2015-05-12 16:00] fceller commented on #1333
I thinks lsof is displaying each thread separately. Therefore the high numbers. So it is unclear why the file descriptors where used up. If the situation arises again, can you do the netstat and lsof?

[2015-05-12 16:04] pekeler commented on #1333
Perhaps I've structured one of my collections in a suboptimal way. The documents look like:

[code]
The "log" array is limited to 1000 elements. Every minute I slice and unshift the array with AQL:
[code]

Any chance this structure contributed to the problem?

[2015-05-12 16:06] fceller commented on #1333
No, that should not cause such problems.

[2015-05-12 16:06] pekeler commented on #1333
OK, thanks. I'll make sure to netstat and lsof and report back when I see the problem again.

[2015-05-12 16:08] #1333 closed

[2015-05-12 16:09] CoDEmanX commented on #1333
Couldn't you use a cap collection constraint instead to limit the number of entries? If there are plenty of such documents with their own doc key, then probably not...

[2015-05-12 16:12] pekeler commented on #1333
@CoDEmanX I have plenty of such documents, and will get more over time, so I don't think I should create a collection for each.

[2015-05-13 08:50] rotatingJazz commented on #1332
Thank you very much @jsteemann ! Efficiency is of my concern and now I understand AQL better. I'll do the selection server side and keep AQL cleaner. :+1:

[2015-05-13 08:50] #1332 closed

[2015-05-13 14:47] mbejda commented on #1331
:+1:  yes that would work.

[2015-05-14 08:00] nlac commented on #1320
I repeated the second test case, please find the logs/configs/steps here http://nlacsoft.net/public/arango/benchmark_fails_2.5.3.zip

Please let me know if i can help more.

[2015-05-14 08:20] nlac commented on #1320
@jsteemann i can confirm that with setting of async=false the benchmark works without issues with the original --request=50000 setting (this the benchmark takes a lot more time of course since all ops waits for writing to disk).

[2015-05-15 07:20] jsteemann commented on #1320
@neunhoef : any idea about the cluster test results?

[2015-05-15 07:28] neunhoef commented on #1320
Will look tomorrow (San Francisco time).

On May 15, 2015 12:20:27 AM PDT, Jan <notifications@github.com> wrote:

[2015-05-15 07:41] nlac opened #1334 "Unable to relaunch single-server cluster"
Hi guys,
let me report an other issue faced with when tried to relaunch a single server cluster, after arangod crashed.

After made sure that no old processes stucked and restarted arangod, got the following on the UI:
[code]

[2015-05-15 12:07] nlac opened #1335 "Question: preferred way to add dbservers to a production cluster?"
Hi, could you give me some hints about what is the preferred way to add further dbservers (and coordinators but that is less important) into a cluster running in production? An obvious goal is the minimal downtime and of course, no data loss.

What particulary makes me think is a note on the swagger ui, for the endpoint ```PUT /_api/collection/{collection-name}/properties```:
"some other collectio

[2015-05-15 13:17] nlac commented on #1112
Until then, copy and run it into your browser's console, then start the AQL query :-)

[code]

[2015-05-17 23:40] razvanphp commented on #1313
![screen shot 2015-05-18 at 01 39 51](https://cloud.githubusercontent.com/assets/4599319/7672770/e5214996-fcfe-11e4-9d14-3c0b82c3a6df.png)

[2015-05-18 07:42] fceller commented on #1313
It seems that the 15min average is total wrong:

    "numberOfThreads15M":6154626155518.341

[2015-05-18 07:49] fceller commented on #1313
@razvan are the correct values shown after a while (say 30min)? Or is it still broken?

[2015-05-18 08:48] jsteemann commented on #1313
@razvanphp : Is it possible that the newlines are an artifact introduced by browsers?
I am wondering where the newlines could come from, because the `statistics/short` API will return a `JSON.stringify`ed result, and this will not contain any newlines.
When invoking the API without a browser, e.g. by using `curl -X GET http://127.0.0.1:8529/_db/_system/_admin/aardvark/statistics/short?start=...`,

[2015-05-18 08:57] razvanphp commented on #1313
@jsteemann sorry, you are right, the JSON is valid, it was Firebug showing it wrong. So it must be the values itself that are wrong.

@fceller I don't think it gets fixed after some time, or if it does, it breaks again afterwards, because I saw this for few days on our production server. Only the restart of the server fixed this last night.

[2015-05-18 10:56] jsteemann commented on #1313
I just committed a potential fix for this issue:
d4868413df233267dcdd7f69c083fbbc9bfe6bbd

I am not sure if it actually fixes the issue, but the only obvious thing I found when looking at the code was that slightly-off format string.

[2015-05-18 12:38] razvanphp commented on #1331
Not even foxx-manager install work with basic auth HTTP links for the zip file. I tried with https://user:password@domain.com/path/to/app.zip and I get an error. So maybe while you are at it you can add this feature there too.

[2015-05-18 12:52] razvanphp opened #1336 "After upgrade to 2.5.4 Foxx queues does not work anymore"
Donno exactly what more details to give, it's an app that was not changed at all, it did not work on staging when deployed today, it was working on dev server (2.5.2) and after I upgraded the dev server to 2.5.4 it stopped working there too.

I get only the log of the HTTP request that adds the job to the queue, but nothing is run from there.

Any idea?

[2015-05-18 13:07] fceller commented on #1336
What entries does db._queues contain?

[2015-05-18 13:28] dothebart commented on #1292
#eeb7d82e625b1ecd344bfa24a733fa4b2a99859f finally resolves this issue for me; @agomezalvic  can you try to replace your js/client/modules/org/arangodb/foxx/manager.js by https://raw.githubusercontent.com/arangodb/arangodb/2.5/js/client/modules/org/arangodb/foxx/manager.js ?

[2015-05-18 13:29] jsteemann commented on #1336
Might be related to https://github.com/arangodb/arangodb/issues/1286. Currently queues seem to work from within the _system database only.

[2015-05-18 13:34] razvanphp commented on #1336
[code]

The controller code looks like:
[code]

the ProductUpdaterQueue:
[code]

@jsteemann the strange thing is that it worked perfectly in 2.5.2, possibly in 2.5.3 too..

[2015-05-18 13:38] razvanphp commented on #1336
Yes, it seems to work in `_system` database.

[2015-05-18 13:42] jsteemann commented on #1336
AFAIK queues and jobs are stored in system collections named `_queues` and `_jobs`. The queue manager seems to only look into these collections inside the system database, and seems to ignore them for all other databases.

[2015-05-18 13:53] agomezalvic commented on #1292
Hi,

I'll try it a bit later (now have some meetings...).
Should i replace client computer only, only server one or both?

thanks.

[2015-05-18 13:53] razvanphp commented on #1336
But as I said, it was working before.. strange.

Anyhow it behaves really strange, I moved the app in _system collection but I got some debug console log from the old application that was deleted.
Maybe related to this: https://github.com/arangodb/arangodb/blob/2.6/CHANGELOG#L328

[2015-05-18 13:55] dothebart commented on #1292
its for the foxx manager client; so on which ever computer you run it, replace that file.

[2015-05-18 13:59] jsteemann commented on #1336
I think it is.
Queues did only work by chance before, because they were saved in database-specific collections, but were looked up in a server-wide (non-database specific) cache. So yes, it might have worked in some cases, but maybe just by chance.

[2015-05-18 15:43] agomezalvic commented on #1292
Perfect @dothebart
I finllay could test it from client computer and upgrade completed successfully.

thanks!!!

[2015-05-19 13:01] baslr opened #1337 "data loss after service arangodb stop / service arangodb start"
after I run `for m in docs sort m['update'] return m` (update is the ms timestamp)  arangodb consumed nearly 90% of the total 24G Ram for 9*10^6 docs (Datafiles ~1.4 GB, Indexes ~2GB) I tried to kill the query via telnet then I stopped ArangoDB with `service arangodb stop`

terminal history:
[code]
Afterwards I discovered that nearly 1mio Docs from my collection `docs` are disappeared.

[2015-05-19 13:37] hkernbach commented on #1112
Feature added: devel-branch. Will be part of the the upcoming release.
8cd57c3c68d3dae412403f5d0f823088eb4ba940

[2015-05-19 13:37] #1112 closed

[2015-05-19 14:35] jsteemann commented on #1337
Which ArangoDB version was that? We fixed some issue that was due to the server changing privileges at startup. That caused some of ArangoDB's files to be written with wrong privileges under certain conditions. This should have been fixed since 2.4.6 and 2.5.1. If your ArangoDB version is one of these or higher, then this is not the cause. Are there any log errors?

[2015-05-19 15:09] baslr commented on #1337
I run `2.5.3`

arangod.log.daemon
[code]

arangod.log
[code]

[2015-05-19 15:45] jsteemann commented on #1337
Is the disk containing the file '/databases/database-116098/collection-8479133772784/datafile-16471948028913.db' ok or does it show any errors?
Files named `datafiles` should be completed files that the arangod process should not write into anymore. As long as a file is being written to, it is named `journal-...db'. Once a journal is closed, it is renamed to `datafile-...db` and read-only. That's

[2015-05-24 15:55] realdog opened #1338 "database status always is inactive"
I created the "db1" database. I do notice, that it says "inactive" on its icon, while _system says "active",....what's that mean, how to  change it ......
system: mac os
arangodb version: 2.5.4
There is a issue is same  question.........https://github.com/arangodb/arangodb/issues/832

[2015-05-25 21:33] sleepycat opened #1339 "Compilation fails with GCC 5.1"
Arango, or more specifically, the version of V8 that it bundles fails to compile under gcc 5.1:
[code]

[code]

[2015-05-26 06:52] jsteemann commented on #1338
As far as I can see, the "active" / "inactive" tagging in the web interface is only used for indicating the currently selected database. The currently selected database is marked "active", and all others are marked "inactive". Apart from that, the labeling doesn't mean anything. I think it's confusing and will check if we can remove the labeling easily.

[2015-05-26 07:01] hkernbach commented on #1338
I agree to Jan, it is just confusing. The "active"/"inactive" label is now gone. e4f7a571df27a8fd7ece2a19fe923ecb119fdf4f

[2015-05-26 07:01] #1338 closed

[2015-05-26 14:56] sleepycat opened #1341 "Can't use bindvars in UPSERT"
The UPSERT command does not seem to allow a bindvar, while the INSERT and UPDATE commands allow it. It would both useful and more consistent if bindvars could be used in all three places.

Is there any reason why UPSERT could not accept a bindvar as well?

[code]

Obviously using 2.6.0-devel.

P.S.: I really like UPSERT. Nice work!

[2015-05-26 16:41] CoDEmanX opened #1342 "Devel documentation - problems with line breaks etc.?"
I just spotted several occurrences of `<<EOF` and `EOF` in the example requests, and there seem to be some line breaks missing. Here's an example:

https://docs.arangodb.com/devel/HttpTransaction/index.html

Seems like a programmtic error in the docs generation process to me.

[2015-05-26 17:02] fceller commented on #1342
Do you refer to

﻿shell> curl -X POST --data-binary @- --dump - http://localhost:8529/_api/transaction <<EOF
{
  "collections" : {
    "read" : "products"
  },
  "action" : "function () { throw 'doh!'; }"
}
EOF

This is actually an example, that you can past into your bash (including the <<EOF & EOF) to run CURL.

[2015-05-27 03:54] pekeler opened #1343 "brew formula is out of date"
https://github.com/Homebrew/homebrew/blob/master/Library/Formula/arangodb.rb

[2015-05-27 04:09] pekeler commented on #1281
This has the 2.5 milestone but it doesn't work for me (using 2.5.3). Now I see the commits have the 2.6 tag. Please release this soon :)

[2015-05-27 04:18] pekeler opened #1344 "more global objects"
Would it be possible to make everything that's sort-of-kind-of compatible with node's global objects also a global in Arango? The motivation would be to increase compatibility with npm packages.

Specifically, I'd be interested in using https://github.com/motdotla/dotenv which expects process and console being globals.

List of node's globals:
https://nodejs.org/api/globals.html

[2015-05-27 07:25] CoDEmanX commented on #1342
I see, so curl supports a HEREDOC-like syntax (PHP), so you can post large payload text until the defined end marker is found in the stream, which may contain line breaks.

The "missing" line breaks are not actually missing, it's rather a compacted function string, since I looked specifically at a transaction example. Riddle solved!

[2015-05-27 07:25] #1342 closed

[2015-05-27 07:38] dothebart commented on #1342
well, not completely. the HERE documents in this case are actually implemented by your shell.
<< redirects them into curls stdin.
The previous way of doing the examples didn't work in some environments.
(well, this one actually doesn't work in cmd.exe doh')

[2015-05-27 07:47] fceller commented on #1343
https://github.com/Homebrew/homebrew/pull/40123

[2015-05-27 07:51] fceller commented on #1281
A preview is available:

https://www.arangodb.com/download-preview/

Can you check, that it works as expected?

[2015-05-27 08:41] pluma commented on #1344
Fixed in 1edfcd3.

The following Node-compatible globals exist in ArangoDB:

* __dirname
* __filename
* console\* (added)
* exports
* module
* require
* process (added)
* Buffer\*\*

The following Node-specific globals are incompatible with ArangoDB:

* setTimeout
* clearTimeout
* setInterval
* clearInterval

\* Note that `console` in Foxx apps refers to the API-compatible Foxx console, which logs

[2015-05-27 08:41] #1344 closed

[2015-05-27 09:20] CoDEmanX commented on #1344
Doesn't ArangoDB's `internal` module provide implementations of timeout and interval functions?

[2015-05-27 11:21] antokara opened #1345 "advanced debug information for User Functions"
It would be really useful some (optionally enabled for performance) advanced debug information to be provided if possible when a warning/error occurs inside a user function when called.

at the moment the output I get is:

Warnings:
[1583], 'in function 'MYNAMESPACE::MYFUNCTION()': user function runtime error: TypeError: undefined is not a function'

which unfortunately does not indicate the line

[2015-05-27 11:52] pluma commented on #1344
There are only stub implementations. Those functions only work with an event loop, which ArangoDB doesn't provide.

[2015-05-27 14:18] clintwood opened #1346 "AQL & Transactions - possible?"
Is it possible to execute one or more AQL (modification) queries (as one or more `db._query(...)` statements from within the `"action":` attribute function passed via the transaction HTTP API?

My understanding is that it is only possible to execute a single data modification AQL query at a time via either `db_query(...)` function or the HTTP API which means it is difficult (impossible?) to achiev

[2015-05-27 15:32] dothebart commented on #1346
I started out a little different. I've loaded the graph data like this
    arangosh [_system]> require("internal").load("/local/home/me/ArangoDB-Data/Graphs/IMDB/import.js")

After waiting for a while, I now can see the graph (by default with two nodes) in the graph viewer.
Did you Follow
https://www.arangodb.com/2013/11/visualize-graphs-screencast/
?

[2015-05-27 15:47] jsteemann commented on #1346
@clintwood: When executed in isolation, `db._query()` will issue a single AQL query in a transactional fashion.
When using the HTTP API for transactions (or the server-side `db._executeTransaction() function, it is possible to execute more than one AQL query inside, still with transactional capabilities, e.g.
[code]
Note that the union of all used collections from all AQL queries will need to be s

[2015-05-27 15:49] pekeler commented on #1343
Thanks!

[2015-05-27 15:55] pekeler commented on #1344
Nice - Thanks!

[2015-05-27 16:31] pekeler commented on #1281
@fceller works as expected using arangodb-2.6.0a2 on a CentOS 7 vm. Is there an ETA for 2.6 beta and final? => christian@pekeler.org if you want to be off the record.

[2015-05-27 17:57] fceller commented on #1281
We plan to release 2.6 next week - if all tests go well.

[2015-05-28 05:29] clintwood commented on #1346
@jsteemann, that is excellent news!

One further question,  Is there any way or any plans to support executing multiple AQL queries directly within an AQL script? e.g. (HTTP API):
[code]
This would obviously be within the context of a single transaction.

[2015-05-28 06:29] jsteemann commented on #1346
@clintwood: putting multitple AQL queries into one query string will currently not work. AQL will choke on the semicolon and abort parsing there.
Though this may be supported in the future. We have some ideas for improved transaction handling, but I cannot tell you when these plans will be accomplished and what the exact outcome will be. This is still too vague at the moment so I don't want to mak

[2015-05-28 07:05] clintwood commented on #1346
All good... thanks for your quick response and ArangoDB.

[2015-05-28 07:05] #1346 closed

[2015-05-28 07:42] legikaloz opened #1347 "arangorestore: create database if not exists"
After a fresh database install I've to create the target database manually before using arangorestore. Please create the database if not exists.

[2015-05-28 07:46] legikaloz opened #1348 "arangodump into client packages?"
It would be grat to create a dump from a client, where only arangodb-client package installed.

[2015-05-28 09:03] fceller opened #1349 "Error handling in generated Foxx apps"
The generated Foxx app only generates an error handling for "delete", But not for the other methods.

[2015-05-28 09:12] fceller opened #1350 "Foxx model returns attribute for EventEmitter"
Generating a trivial foxx and then using PUT results in:

{
  "attributes": {
    "first_name": "Notorious",
    "last_name": "BIG",
    "_id": "spyke_test_users/1093677929681",
    "_rev": "1100639618060",
    "_oldRev": "1100615500812",
    "_key": "1093677929681"
   },
  "isValid": false,
  "errors": {
    "_oldRev": {
      "name": "ValidationError",
      "details": [
        {
          "mes

[2015-05-28 09:14] jsteemann commented on #1349
Seems that something the following is missing in foxx/templates/controller.js.tmpl for other HTTP methods, e.g. when HTTP GETting a non-existing model:

[code]

Additionally, requests that trigger joi validation errors are returned with HTTP response code 200, but it's probably better if they returned HTTP 400 instead.

[2015-05-28 09:15] jsteemann commented on #1350
Due to Foxx.model` inheriting properties from `EventEmitter` (which has attributes `domain`, `_event`, `_maxListeners`).

[2015-05-28 10:25] razvanphp commented on #1327
I installed today 2.6.0a2, and the documentation in web admin does not seem to work out of the box, i.e. without specifying `controller.apiDocumentation`. The error in the iFrame is:
[code]

[2015-05-28 11:25] razvanphp commented on #1327
Also, I know it might be too late, but maybe not, given the fact that we are in alpha stage, I think this configuration should probably go into the `manifest.json`.

For me, it's strange to define it a controller, because for example I have 4 controllers. So in which one should I put it? And it does not make so much sense there anyway, since the mount point of the documentation is application wise

[2015-05-28 12:27] pluma commented on #1327
I think there's a misunderstanding. The documentation shown by aardvark (the web admin) is generated by the aardvark app, not the app that is documented. I'm not sure why this is resulting in a 404 error in the iframe for you, but @jsteemann is reporting the same. I'll have to try and reproduce that problem locally.

The `apiDocumentation` method is *only* necessary if you want to mount the docume

[2015-05-28 12:29] jsteemann commented on #1341
Just fixed in devel.

[2015-05-28 12:29] #1341 closed

[2015-05-28 12:55] pluma commented on #1350
Yes, the model shouldn't be passed to the response directly, ever. That's what the serialization methods are for.

Is this a bug in the generator templates?

[2015-05-28 12:56] #1350 closed

[2015-05-28 12:58] pluma commented on #1327
I'm reopening this issue until the error can no longer be reproduced.

@jsteemann suggested it might have to do with the online validator, but it never tried to access the online validator on my machine. This is extremely strange.

[2015-05-28 13:06] jsteemann commented on #1345
The error message now contains a stack trace with positions local to the function code.
The change has been pushed to devel, and will be included in the next 2.6 release.

[2015-05-28 13:06] #1345 closed

[2015-05-28 13:21] jsteemann commented on #1348
Makes perfect sense.
I have added the `arangoimp`, `arangodump`, `arangorestore` and `arangob` client programs to the *arangodb-client* package. If the builds complete successfully, the next 2.6 *arangodb-client* package will contain them all.

[2015-05-28 13:41] razvanphp commented on #1327
I understood, I just said that now I can't see the documentation at all, not within the admin and also not with the new `apiDocumentation` method.

Maybe it has something to do with the upgrade? I installed the alpha version from the unstable repo and I had to run `/etc/init.d/arangodb upgrade`

Other things:
- documentation for `aardvark` or any other system app does not work as well
- `aardvark/

[2015-05-28 14:09] legikaloz commented on #1348
:thumbsup:

[2015-05-28 14:27] pluma commented on #1327
Interesting. It seems as if the web admin app did not get updated. @fceller any idea how that could happen?

The `index.html` is correct. The `index-alt.html` in the config only specifies that a different file should be returned when the index.html route is requested. The route name doesn't change.

The bug @jsteemann reported appears to be different: the online validator is invoked automagically

[2015-05-28 14:29] fceller commented on #1327
@pluma did you find a way to reproduce this?

[2015-05-28 14:36] pluma commented on #1327
Okay, I've fixed the error @jsteemann reported.

@fceller no, I can't find any way to reproduce the issue @razvanphp is reporting. But the only reason I can imagine why the aardvark swagger routes would result in a 404 for *every* mount point is that the mounted version of aardvark is not the same as the version of aardvark in devel. Can you conceive of any situation in which that could happen whe

[2015-05-28 14:38] pluma commented on #1349
I've added the missing `errorResponse`s.

The validation doesn't currently seem to be used by the generator at all, though, but that's a different issue.

[2015-05-28 14:38] #1349 closed

[2015-05-28 14:40] fceller commented on #1327
@pluma I will try to install 2.5.4 and then 2.6.0 on my machine

[2015-05-28 14:40] razvanphp commented on #1327
![screen shot 2015-05-28 at 16 38 35](https://cloud.githubusercontent.com/assets/4599319/7862740/222bf6a4-0558-11e5-9e99-ae21573969bc.png)

This is how it looks, the same in my foxx app. Since there is no minor version in aardvark, I cannot know what exact version is there, but I can look into the code on the server; where to look for the changes?

[2015-05-28 15:05] pluma commented on #1327
@razvanphp For the sanity check, just open the foxxes.js in which you found the indexFile setting and before the line "`controller.apiDocumentation('/docs', function (req, res) {`" (i.e. in line 378 or so), add the following:

`require('console').log('*****Using new aardvark*****');`

then restart ArangoDB and check the console output of the server when you open the web admin.

If you *don't* see

[2015-05-28 15:05] razvanphp commented on #1336
Hmm, unfortunately I can reproduce this in 2.6.0a2. The queues does not seem to work at all in a custom database.

Debug info:
- In the config I have: `server.threads = 2`, `scheduler.threads = 2`, `javascript.v8-contexts = 5`
- `_queues` contains 2 items, `default` and `product-updater` both with `{"maxWorkers": 1}` inside.
- `_jobs` gets one item added each time I push to the queue, but they are

[2015-05-28 15:23] sleepycat commented on #1341
Just pulled this and recompiled. Works perfectly.
Thanks Jan!

[2015-05-28 15:26] pluma commented on #1336
The queue was previously broken for custom databases. @jsteemann fixed this earlier this week, but the job types were still a bit fickle due to a regression in 2.5 (to summarize: Foxx became lazy-loaded in 2.5 again, but job type definitions relied on Foxx not being lazy-loaded).

I spent the past two days on completely reworking the Foxx queues. The changes are backwards-compatible but old job ty

[2015-05-28 15:29] pluma commented on #1286
This has been fixed in devel and will be part of the 2.6.0 release.

However there's a bigger problem with job types having to be loaded before the queue workers get to the job in question, which causes problems when ArangoDB is restarted and the code that defines the job type hasn't been run again. For that see #1336.

[2015-05-28 15:29] #1286 closed

[2015-05-28 15:31] jsteemann commented on #1336
Please also note that in order to execute jobs in Foxx queues other than the _system database, the server will need to be started with option `--server.foxx-queues-system-only false`. Otherwise it won't look into the queues of other databases than _system.

[2015-05-28 15:32] pluma commented on #1336
@jsteemann Thanks for the reminder. I need to add that to the documentation as well.

[2015-05-28 15:38] razvanphp commented on #1336
Sorry @jsteemann, but this is completely unexpected. BTW @pluma , it is in the devel documentation, I just skipped it.

Anyway, so we can understand, after looking into this for a few hours, where is the `registerJobType` function storing the job types? And with what context? Are they somehow global (that's what I can understand from using the Foxx global object)? So theoretically any job queue ca

[2015-05-28 15:48] razvanphp commented on #1327
Got it:
[code]

[2015-05-28 16:02] legikaloz opened #1351 "web frontend authentication issues"
I turned authentication on in /etc/arangodb/arangod.conf with disable-authentication = no (it was "yes" by default, but the manual says the default value is false)
Added some user in arangosh (users were reloaded, even db restarted too), and tried to login to:
https://myip:8530/_db/_system/_admin/aardvark/index.html
A HTTP authentication window pops out or sometimes a login form, but i get this me

[2015-05-28 16:11] legikaloz commented on #1319
The Ubuntu 15.05 repo is available, I've successfully installed arangodb from Ubuntu 15.04 repo today: https://www.arangodb.com/repositories/arangodb2/xUbuntu_15.04/

[2015-05-28 16:13] jsteemann commented on #1319
Thanks for confirming. I'll close this issue then.

[2015-05-28 16:13] #1319 closed

[2015-05-28 16:14] jsteemann commented on #1351
I guess you have been using 2.6-alpha2, or did you compile from source?

[2015-05-28 16:15] legikaloz commented on #1351
Sorry I left it. Yes I'm using 2.6-alpha2

[2015-05-28 16:28] razvanphp commented on #1336
[code]

So this does not seem to be included in alpha2. I understand the concern about more CPU cycles to check all databases, but then you cannot say about this feature that "Foxx job queues are database-specific", since you just push jobs to the queue and nothing happens. At least there should be a warning message in the log saying "Hey, you pushed, thank you, but this will never be executed unl

[2015-05-28 16:56] jsteemann commented on #1351
Thanks for confirming. I think this is something we have already fixed after alpha2 came out, but we'll revalidate. Which was the browser you used before you switch to others (you mentioned you switch to Firefox 38 and Chromium 43)?

[2015-05-28 16:57] jsteemann commented on #1348
Builds look good so far: https://build.opensuse.org/package/show/home:fceller:unstable/arangodb-2.6

[2015-05-28 17:03] legikaloz commented on #1351
I think the first attempt was made with Chrome 43 beta, then Chromium 43,
finally with Firefox.
2015. máj. 28. 18:56 ezt írta ("Jan" <notifications@github.com>):

[2015-05-29 06:19] #1348 closed

[2015-05-29 06:24] jsteemann commented on #1216
Since 2.6 there is an `UPSERT` command. It should support the *find-or-create* idiom like this:
[code]
This will insert the document if it does not exist and update it with nothing if it already exists.
In the end, it will return the new version of the document, which is the just-inserted document in the case of `INSERT`, or the umodified document in case of `UPDATE`.

[2015-05-29 06:24] #1216 closed

[2015-05-29 07:04] jsteemann commented on #987
Update for 2.6:
the `COLLECT` version of the query takes about 3.5 seconds in 2.6 with the test data, with or without an index. The `UNIQUE` version takes about 8 seconds.

So for the `COLLECT` version without an index we have:

* 2.2: 3.5 minutes
* 2.4: 25 seconds
* 2.5: 25 seconds
* 2.6. 3.5 seconds

And for the `UNIQUE` version:
* 2.2: 20 seconds
* 2.4: 9 seconds
* 2.5: 9 seconds
* 2.6: 8 secon

[2015-05-29 07:05] jsteemann commented on #987
Seems it got a lot better when compared to the original execution times, so I'll be closing this issue now.

[2015-05-29 07:05] #987 closed

[2015-05-29 07:09] jsteemann commented on #1313
The above potential fix is contained in 2.6-alpha2 and 2.5.5 (probably not yet available).
I'll leave this issue open waiting for feedback on whether d486841 fixed it or not.

[2015-05-29 10:06] razvanphp commented on #1327
So I checked `js/server/modules/org/arangodb/foxx/controller.js` and `js/apps/system/_admin/aardvark/APP/foxxes.js` files that I have, and they seem identical with the devel branch, at least the documentation part.

I added the `console.log` that you suggested <i>after</i> `controller.apiDocumentation('/docs'..` just before the return, and the log appears when I try to access the documentation URL

[2015-05-29 11:10] razvanphp commented on #1327
Ok, I think I found the reason:
[code]

So the files are really not in the package, I checked it with `dpkg-query -L arangodb |grep swagger` the error is thrown in `swagger.js` after `swaggerPath()` is called.

Another problem seems to be that the default opts are not there, when you have a before function just with return true, for example the `swagger.json` path throws:
[code]

this is because `

[2015-05-29 12:38] jsteemann commented on #1347
*arangorestore* now provides the option `--create-database <bool>`.

Setting this option to `true` will create the target database if it does not exist. When creating the target database, the username and passwords passed to arangorestore will be used to create an initial user for the new database.

The default value for the option is `false`.

[2015-05-29 13:30] #1347 closed

[2015-05-29 13:38] jsteemann commented on #1309
At the moment the workaround for this is to use two queries or subqueries, one for each attribute/filter, and combine their results later. In the long run, this should be fixed by using multiple indexes for one collection from an AQL query. The requires bigger changes to the optimizer and the AQL internals, but would be the proper way to fix it transparently and without needing to adjust AQL queri

[2015-05-29 13:38] #1309 closed

[2015-05-29 13:39] fceller commented on #1310
2.) The link to the dockerfile has been added to the README:

https://registry.hub.docker.com/u/arangodb/arangodb/

[2015-05-29 13:39] jsteemann commented on #1302
@pluma: won't this be fixed with 2.6? I remember a rewrite of the job types was planned for it. Do you think this will fix this issues, too?

[2015-05-29 13:55] pluma commented on #1302
@jsteemann no, the rewrite does not fix the existing job types, see https://github.com/arangodb/arangodb/issues/1336#issuecomment-106408761

The new job types (based on Foxx scripts) will work in 2.6, but there's no way to fix the 2.4 job types without undoing the changes introduced by @mchacki in 2.5. In a nutshell: the old job types depend on Foxx not being lazy loaded (as in 2.4), but as of 2.5

[2015-05-29 13:58] jsteemann commented on #1142
@stackmagic : I just stumpled upon this issue. I can confirm there is no serializer for XML present in ArangoDB. The preferred format will be JSON in ArangoDB, as it is natively supported by both the internals and JavaScript (which is used for scripting inside).

In order to achieve the desired result, your Foxx route would need to determine the "file extension" from the matched parameter (`:id`)

[2015-05-29 14:02] pluma commented on #1327
@fceller could you check why the swagger files aren't in the packages?

@razvanphp The default return value should be `undefined`, not `true`.

[2015-05-29 14:04] jsteemann commented on #1155
Bind variables are supported in most places now, even for non-value tokens `ASC` and `DESC` inside `SORT`. I think we shouldn't allow bind variables for anything more than this, because if bind variables could contain expressions and keyword tokens etc. they could change the meaning of a query completey.

This is where application-based string concatenation is required, or, its safer alternative o

[2015-05-29 14:04] #1155 closed

[2015-05-29 14:09] jsteemann commented on #1302
@pluma: but once 2.6 is out and existing pre-2.6 job types are (manually) fixed, the problem should be fixed, right?

[2015-05-29 14:15] jsteemann commented on #1142
Dynamically creating different response formats based on the user request is definitely doable with a Foxx application, but this is probably application-specific. So my suggestion would be to let Foxx applications handle the different response formats on their own, for those applications that actually require it.

[2015-05-29 14:29] jsteemann commented on #1336
@razvanphp : the `--server.foxx-queues-system-only` option has been added shortly after alpha2 was released. If I remember correctly, alpha2 was released while we were still in the middle of fixing the queues.

[2015-05-29 14:30] fceller commented on #1327
Strange:

The centos 7 package contains:

/usr/share/arangodb/js/server/assets/swagger/swagger-ui.js
/usr/share/arangodb/js/server/assets/swagger/swagger-ui.min.js

the debian 8 package:

./usr/share/arangodb/js/server/assets/swagger/swagger-ui.js
./usr/share/arangodb/js/server/assets/swagger/swagger-ui.min.js

[2015-05-29 14:30] fceller commented on #1327
@razvanphp which package did you use?

[2015-05-29 14:36] CoDEmanX commented on #1309
This applies to document collections as well, and also a logical XOR, but not AND and NAND, correct?

Until the planned overhaul, relational DBMS will have a performance advantage for these kinds of queries I guess.

[2015-05-29 14:39] #1246 closed

[2015-05-29 14:42] pluma commented on #1302
The 2.6 job types will not suffer from this problem, no. But there's no way to convert them automagically. The job types need to be rewritten manually (except for those in the app store -- those I will rewrite myself) and any queued jobs need to be converted manually as well.

[2015-05-29 14:49] fceller commented on #1327
I have installed 2.5.4 and then 2.6.0a2:

root@germany:/home/jenkins/arangodb_repository/unstable/Debian_8.0/amd64# ls -l /usr/share/arangodb/js/server/assets/swagger
total 184
drwxr-xr-x 3 root root   4096 May 29 16:36 lib
-rw-r--r-- 1 root root 110176 May 20 16:57 swagger-ui.js
-rw-r--r-- 1 root root  63560 May 20 16:57 swagger-ui.min.js

I have no idea we it is missing.

[2015-05-29 14:51] jsteemann commented on #1309
It has nothing to do with edges or documents. It is simply that when using OR-combined subconditions on different attributes, the optimizer will not use indexes. The problem does not exist for AND-combined conditions or subconditions.

I wouldn't say in particular that *relational* DBMS have a performance advantage here, but rather *DBMSes that can use multiple indexes and combine the results*. So

[2015-05-29 14:52] jsteemann commented on #1337
If I remember correctly we found out that a single bit in the datafile was odd, which caused a CRC checksum error when loading the collection.
I have slightly modified the datafile debugger (`arango-dfdb`) in the 2.6/devel branches so when run on a collection with such CRC problem, it will try to keep on reading and recover the data following a record with a wrong checksum. It is still not possibl

[2015-05-29 14:52] jsteemann commented on #1142
I suggest handling the output format logic inside the application.

[2015-05-29 14:52] #1142 closed

[2015-05-29 14:56] jsteemann commented on #688
Fixed in 2.6 by @pluma.

[2015-05-29 14:56] #688 closed

[2015-05-29 14:57] jsteemann commented on #698
Installing example Foxx apps via the web interface is supported since ArangoDB 2.5 (or even 2.4, can't remember right now). A few example apps are available in a Foxx-specific app store.

[2015-05-29 14:57] #698 closed

[2015-05-29 15:01] jsteemann commented on #791
`process.env` is also available from 2.6 on. The following command will thus work: `require('path').resolve('.');`.

[2015-05-29 15:01] #791 closed

[2015-05-29 15:03] jsteemann commented on #1055
Documentation for `require("org/arangodb/crypto")` is still missing. @13abylon : can this be added soon?

[2015-05-29 15:45] razvanphp commented on #1327
I used the apt repository `https://www.arangodb.com/repositories/unstable/Debian_7.0/` and then installed with `apt-get install arangodb=2.6.0a2` over the previous 2.5.4 install.

So can you reproduce this?

[2015-05-29 16:18] fceller commented on #1327
I will try a Debian 7 system

[2015-05-29 16:37] razvanphp commented on #1327
But you already see the problem in Debian 8 too, it should be more than the two js files and the lib folder.

i.e.
[code]

[2015-05-29 16:38] fceller commented on #1327
@pluma
Using razvan packages I ended up with

root@6e88f3b5dfda:/tmp# dpkg-query -L arangodb |grep swagger
/usr/share/arangodb/js/server/modules/org/arangodb/foxx/swagger.js
/usr/share/arangodb/js/server/modules/org/arangodb/foxx/swaggerDocs.js
/usr/share/arangodb/js/server/assets/swagger
/usr/share/arangodb/js/server/assets/swagger/swagger-ui.js
/usr/share/arangodb/js/server/assets/swagger/swagge

[2015-05-29 16:40] razvanphp commented on #1327
no, you miss css, css, images folder + the two index.html files.

[2015-05-29 16:44] fceller commented on #1327
Ok, will try to fix

[2015-05-31 12:11] fceller commented on #1327
@razvanphp 2.6.0-alpha3 is currently building:

https://build.opensuse.org/package/show/home:fceller:unstable/arangodb-2.6

should now include all swagger files

[2015-05-31 17:40] fmsouza opened #1352 "Intense operation over storing and loading operations resulted in a error"
MAC OS X Yosemite 10.10.4, installed through Homebrew.

2015-05-31T15:44:02Z [38151] INFO Authentication is turned off
2015-05-31T15:44:02Z [38151] INFO ArangoDB (version 2.5.3 [darwin]) is ready for business. Have fun!
2015-05-31T16:31:22Z [38151] ERROR Error in foxx route '{ "match" : "/query/result/download/:query", "methods" : [ "get" ] }': 'Invalid string length', Stacktrace: RangeError: Inva

[2015-06-01 07:10] jsteemann commented on #1352
I can just guess what happened because the context is missing.
It looks like you used the "Download" button in the AQL editor of the web interface to download the results of a query.
It also seems that the result of that query was big. The error shown in the logs `Invalid string length` is an error that V8 will throw when trying to assemble a string longer than 1 << 28 bytes (around 256 MB). So it

[2015-06-01 07:38] fceller commented on #1310
1) added a frobnas like passwd generator

[2015-06-01 07:41] fceller commented on #1310
3) normally the documentation contains a "HERE" but this seems to missing. @13abylon can you check why there are no "HERE" markers on for example

  https://docs.arangodb.com/HttpDocument/WorkingWithDocuments.html

[2015-06-01 10:12] fceller commented on #1310
1 & 2 are available in the alpha version of 2.6

[2015-06-01 10:22] clintwood opened #1353 "[2.5.3] Windows: HTTP API - incorrect path in errorMessage"
As an example (curl or browser):
`http://localhost:8529/_db/test-db/_api/document/test1/15107652942` on a non-existent document handle returns an unnecessarily escaped path `\/_api\/document\/test1\/15107652942` in the json response body:
`{"error":true,"errorMessage":"document \/_api\/document\/test1\/15107652942 not found","code":404,"errorNum":1202}`

[2015-06-01 10:25] fceller commented on #1353
I believe that happens because

  http://www.json.org/

escapes "/" in JSON. I must say, I do not why that is necessary, but the string definition does contain "\/".

[2015-06-01 10:56] dothebart commented on #1292
fixed with 2.5.5

[2015-06-01 10:56] #1292 closed

[2015-06-01 11:02] razvanphp commented on #935
@pluma what about this in swagger 2.0? Anything changed?

Currently I cannot properly document the body as an array of integers.
What I tried:
[code]
[code]
and both show up as Model object `{}`. In `pathParam` the same schema ends up correctly as `Array[]`

[2015-06-01 11:12] dothebart commented on #1339
can you please post which configure options you use, an what the configure passes down to V8?
Over here the v8 build configures like that in the make process:
--------------------------------------------------------------------------------
BUILDING V8
--------------------------------------------------------------------------------

cd ./3rdParty/V8-3.31.74.1 \
  && make \
        CFLAGS="-O2 -g "

[2015-06-01 11:13] jsteemann commented on #1353
This is definitely valid JSON. The RFC mentions that the solidus must be escaped:
https://tools.ietf.org/html/rfc7159#page-8

[2015-06-01 11:43] pluma commented on #935
No, this is a pre-existing problem.

There's currently no simple way to convert joi schemas to JSONSchema (which Swagger expects). There's a conversion function in ArangoDB but it doesn't yet handle non-objects.

I've tried the most straightforward conversion for non-objects and it causes Swagger to blow up when generating the example data (as does the output of [joi-to-json-schema](https://www.np

[2015-06-01 11:50] CoDEmanX commented on #1353
I understand the following:
Every character can be escaped (in the form `\u0000`), but you would not do that for standard characters such as A-Z.
Then there are a few shorthand escapes, so that it's not required to type `\u000D` for a line break: `\n` is the shorthand, which results in the same codepoint.
`/` can be escaped as `\/`, but not mandatory. It's seems to me like a fix for flawed browser

[2015-06-01 12:10] jsteemann commented on #1353
JSON parsers should handle the escaped solidus just fine. At least the solidus is mentioned in the specs as an escapable character, and I am not aware of any counterexamples, with JSON parsers failing to unescape them.

[2015-06-01 13:04] #1353 closed

[2015-06-01 13:31] fceller commented on #699
fixed in 2.6

[2015-06-01 13:31] #699 closed

[2015-06-01 13:44] fceller commented on #1293
@dagarwal82 have you tried a cap constraint? Has this solved the issue?

[2015-06-01 13:50] fceller commented on #1337
jan added a new dfdb in 2.6 which try recover records following a corrupted data block.

[2015-06-01 13:50] #1337 closed

[2015-06-01 13:52] fceller commented on #1305
@yammelvin this should be fixed in 2.5.5. Can you confirm?

[2015-06-01 14:04] #1236 closed

[2015-06-01 14:34] steinerj commented on #987
Cheers... impressive numbers and thanks for following up.

[2015-06-01 14:48] razvanphp opened #1354 "NEIGHBORS not working in 2.6.0-alpha3"
This query worked until yesterday, before the update:
[code]

I can provide some test data, but maybe you can try to reproduce with random data, usually it returns a list with `vertex` and `edge` but now I get only `_key` values in a simple array. Donno what else from graph API might be affected...

Thanks!

[2015-06-01 14:55] jsteemann commented on #987
It was about time to get this done.

[2015-06-01 16:43] razvanphp commented on #1336
In alpha3 I now get the error message from #1302, with `Unknown job type`.

@pluma can you please tell me how to define them in exports as you suggested? Or maybe some quick explanation of how to do it the new way? If 2.6 stable is nnot so close, we will need a way to make it work in 2.5. Custom scripts are new in 2.6 only?

[2015-06-01 17:02] bamforp opened #1355 "Redundant code"
In arangodb/foxx/sessions.js, isn't the if statement around line 177 redundant given line 169?

    if (!opts.cookie.name) {
      opts.cookie.name = 'sid';
    } else if (typeof opts.cookie.name !== 'string') {
      throw new Error('Cookie name must be a string or empty.');
    }
    if (opts.cookie.secret && typeof opts.cookie.secret !== 'string') {
      throw new Error('Cookie secret must be

[2015-06-01 17:21] jsteemann commented on #1355
@bamforp : yes, looks like the second occurrence is superfluous.
@pluma: can you verify this and remove it the latter occurrence? Thx!

[2015-06-01 19:46] gregzuro opened #1356 "cant reach cluster management on web interface"
https://docs.arangodb.com/Sharding/HowTo.html

says: "Note: Once you switch cluster.disable-dispatcher-interface to false, the usual web front end is automatically replaced with the web front end for cluster planning."

First, 'disable-dispatcher-interface' is not a valid option:

[code]

If I, instead, set ```disable-dispatcher-frontend = false```, then restart, then go to ```http://localhost:852

[2015-06-01 19:46] CoDEmanX commented on #1236
Thanks for the docs update!

Maybe a cronjob is better suited for backups, since a periodic timer does not take DST, keep years etc. into account.

[2015-06-01 20:01] CoDEmanX commented on #1354
Well, seems to do what the (devel) documentation says:

It was different in 2.5 however, you probably want to set the option `includeData`:
https://docs.arangodb.com/devel/Upgrading/UpgradingChanges26.html
Am 01.06.2015 4:48 nachm. schrieb Razvan Grigore <notifications@github.com>:This query worked until yesterday, before the update:

FOR c IN NEIGHBORS(categories, productCategorySort, "products/2

[2015-06-01 22:16] pluma commented on #1236
@CoDEmanX Yes, definitely. ArangoDB tasks are not persisted between restarts, among other limitations.

[2015-06-01 23:48] fmsouza commented on #1352
Yes. I don’t know exactly how large were my data store at the moment it occurred, but I’m certain it was over a million of documents in the collection. Also I did not used AQL editor. I’m not used to it, I just started trying the database for few days.
Ate the moment I stopped the database server, it had around 9 millions records in this collection, with around 2.5 GB of stored data.

Also, when I

[2015-06-02 05:38] clintwood commented on #1353
Thanks for taking a look at this but I'm not seeing this done for document `_id`s or for any document field values either so it looks inconsistent, hence me raising the issue...

In node/iojs/Chrome/IE/Firefox (admittedly recent versions) the json response body above does indeed parse correctly using `JSON.parse(...)` into:
[code]
Yet if you take the resulting json object and push it through `JSON

[2015-06-02 06:40] CoDEmanX commented on #1353
Why does it say
/_api/document/test1/15107652942?
Shouldn't it be just the collection name and document key?

[2015-06-02 06:58] jsteemann commented on #1353
@clintwood : escaping the solidus is optional, so a `JSON.stringify()` is free to escape it or not.
@CoDEmanX : I think having the path component inside the error message does not provide a real benefit, and I would opt to have the path removed and simply opt for returning the error message "document not found" (which is the error message corresponding to error 1202).
Returning the path, the colle

[2015-06-02 07:05] jsteemann commented on #1352
When a collection is  not loaded (for example, this is the case after a server restart) the first action that uses a collection will fully load it. This may take some time given 2.5 GB of stored data. After the collection is loaded, responses should be fast however.
Regarding the 7 GB of RAM and 12 GB of paginated files, where does this measure come from and which request did you actually execute?

[2015-06-02 07:07] jsteemann commented on #1354
If it changed, then it should also be noted in the CHANGELOG...
Have to clarify with @mchacki whether the change is actually intentional or an unwanted side-effect.

[2015-06-02 07:09] clintwood commented on #1353
@jsteemann, understood, thanks for the reply.

[2015-06-02 12:35] pluma commented on #1356
`http://localhost:8529/` should 301 (Moved Permanently) redirect to `http://localhost:8529/_db/_system/_admin/aardvark/index.html` which should then 302 (Found) redirect to either `standalone.html` or `cluster.html` depending on whether it's running in cluster mode. Manipulating the URL yourself shouldn't be necessary.

Apparently it's using a 301 redirect instead of a 302. I'm assuming you alread

[2015-06-02 12:41] #1356 closed

[2015-06-02 12:57] pluma commented on #1356
Note that there's no way for ArangoDB to fix this if you've already been redirected in the browser before. You may need to kill the browser cache, which depends on the browser you're using.

[2015-06-02 15:20] fmsouza commented on #1352
Oh, I see. Probably the error came from the "download" button in the list of documents.
About the execution consuming too much time and memory, I had a collection loaded with around 9 million documents (testing interaction with my js application, the collection.near() method didn't worked well and it got to replicate data lots of times).

Then I clicked the collection to open through the Web Inter

[2015-06-02 21:38] pekeler commented on #1343
Looks like Homebrew is behind again (2.5.5).

[2015-06-03 01:32] yammelvin commented on #1305
Tried 2.5.5.
No more "flag provided but not defined: -initial-cluster-state" error.

But cluster still cannot be launched.
There seem to be runtime error: invalid memory address.
Below is the log:

[code]

[2015-06-03 07:57] jsteemann commented on #1352
If the collection is not initially loaded, then listing its documents via the web interface will implicitly load it. The initial loading time of the collection may be high. After a collection is loaded however, this overhead should go away, and listing of documents should be instant.

Filtering for certain attribute/value combinations in the web interface will require a full scan of the collection

[2015-06-03 08:54] fceller commented on #1343
https://github.com/Homebrew/homebrew/pull/40346

[2015-06-03 10:11] #1355 closed

[2015-06-03 10:11] pluma commented on #1355
Well spotted. Thanks.

[2015-06-03 10:12] #1327 closed

[2015-06-03 11:44] MarcWeber opened #1357 "old post references very old github js driver implementation"
Searching for "nodejs" shows this old post:
https://www.arangodb.com/2012/07/arangodb-for-nodejs/

The problem is that https://github.com/arangodb/arangojs is the official js driver now.
If you follow the github link given in that old post you'll have to follow 3 redirects to find the current one by accident.

[2015-06-03 11:46] razvanphp commented on #1354
Ok, then maybe you want to move more arguments into options (i.e. direction), like the general graph function already uses:
https://docs.arangodb.com/devel/Aql/GraphOperations.html

I just used `FOR` in `FOR` instead of `NEIGHBORS`, because of the significant speed difference, so I'm fine with any change anyway.

[2015-06-03 13:20] pluma commented on #1357
Strictly speaking https://github.com/kaerus-component/arango is still maintained by kaerus and available on NPM as `arango`, so it's just one redirect (from kaerus/arango-client to kaerus-component/arango).

The official JS driver now indeed lives at https://github.com/arangodb/arangojs though.

We should probably edit the post to point new users at a more recent post about the current official JS

[2015-06-03 13:28] MarcWeber commented on #1357
The Readme says:

    NOTE: This repo is now officially maintained by the developers of ArangoDB @https://github.com/triAGENS/ArangoDB-JavaScript.

Thus maybe some clarification about the differences should be added to both/either projects then. Thus this issue is about the homepage and both README files.

[2015-06-03 13:33] 13abylon commented on #1357
The blogpost is updated and now there is note leading to the new nodejs driver. Thanks for reporting!

[2015-06-03 13:59] pluma commented on #1357
I've made a PR to kaerus' project to update the reference.

A quick history lesson to explain the current situation:

1. kaerus originally wrote the first ArangoDB JS driver, which is called `arango` (v1.x) on NPM and first resided at kaerus/arango-client and then kaerus-component/arango.
2. He later joined forces with the ArangoDB team and created an official fork, which was called `arangojs` (v2

[2015-06-03 14:56] jsteemann commented on #1354
`NEIGHBORS` was improved in 2.6 as well, at least for many cases. `NEIGHBORS` in 2.6 will by default also return the document `_id`s only, same as `GRAPH_NEIGHBORS`. This can be changed by adding the option `{ includeData: true }` as mentioned above.

Have you tried in 2.6 whether a `FOR ... IN ... FOR ... IN ...` is still much faster than a `NEIGHBORS()` query?

[2015-06-03 17:32] razvanphp commented on #1354
I measured the difference now, the performance is comparable, but only without specifying a `LIMIT`.

When I add a limit on the edge collection (411081 documents) the `NEIGHBORS` takes the same amount of time ~2,2 s while the `FOR` takes only ~0.9 s.

Another downside of the new `NEIGHBORS` format is that now it only includes the vertexes, and not the edges anymore, and I need them in this case.

[2015-06-03 17:37] jsteemann commented on #1354
@razvanphp : yes, `NEIGHBORS` will currently not honor any `LIMIT` specified outside, so it will fully construct its result, which is then only used partially outside. This is true for all AQL functions at the moment. Regarding the result format of `NEIGHBORS`: @mchacki: was this change (NEIGHBORS not returning the connected edges anymore) intentional?

[2015-06-04 05:10] pekeler opened #1358 "deleting foxx app in aardvark fails if corresponding files don't exist"
This happened to me a couple of times now: I have a foxx-app and just moved or deleted the corresponding folder in my filesystem, and then I go to aardvark to also delete the app there. That fails. The browser's console reports `TypeError: null is not an object (evaluating 'o.consumes')` and arangod logs `Cannot compute Foxx application routes: [ArangoError 14: file not found:`

At this point I ha

[2015-06-04 11:22] benj-Jansen opened #1359 "Arango 2.5.5 windows installer(64) bit crashes on start"
Hi,

ArangoDB-2.5.5-win64.exe crashes on startup. Cant install it.
Tried for Windows 7, 8.1 and Server 2012 R2
Best,

[2015-06-04 11:24] weinberger commented on #1359
@benj-Jansen can you try if the XCOPY Installation works?

[2015-06-04 11:31] benj-Jansen commented on #1359
The XCOPY Installation works properly, thanks!

[2015-06-05 02:22] fmsouza commented on #1352
I kept testing these days and I noticed the access wasn’t that slow while I tried to search directly on the database. I think the real problem was that I tried to load all the 2.5GB of data to my browser instance.

I optimized my collections changing the data structure and it seems to be working very well now.

My PC have 8GB RAM. Usually it have half or a quarter of free RAM.

For now I’m good, t

[2015-06-05 04:47] pekeler opened #1360 "foxx-manager help"
I find it a bit unusual that foxx-manager has `help` and `--help`. It would be helpful if `--help` told me about `help`.

`help` prints a link to https://docs.arangodb.com/FoxxManager/README.html which isn't valid.

[2015-06-05 04:53] pekeler opened #1361 "wrong docs for foxx-manager"
https://docs.arangodb.com/Foxx/Install/Store.html seems to be a mostly-copy of https://docs.arangodb.com/Foxx/Install/Github.html instead of actually describing how to install from the store.

[2015-06-05 05:17] pekeler opened #1362 "foxx-manager replace doesn't invoke teardown/setup"

[2015-06-05 05:52] pekeler opened #1363 "create DB from command line"
Is there a way from the command line to create a new database? I.e. not using aardvark or arangosh. If not, please consider this a feature request :)

[2015-06-05 07:17] jsteemann commented on #1363
If you were thinking about bash, then the following command should do it:
`curl -X POST http://127.0.0.1:8529/_db/_system/_api/database --data '{"name":"myDatabase"}'`

If you can can use arangosh but don't want to use it interactively, you could use
`echo 'db._createDatabase("myDatabase");' | arangosh`

I am not sure if that helps.

[2015-06-05 08:10] jsteemann commented on #1360
Thanks, I have fixed the invalid link in 2.5 & devel.

Regarding `--help` and `help`:
`foxx-manager` is actually an arangosh which executes a specific start script. `--help` is intercepted in arangosh (and the other tools) relatively early, even before bootstrapping V8 and executing the start script. `--help` will simply enumerate the command-line options for the binary (arangosh), dump then and a

[2015-06-05 08:10] #1360 closed

[2015-06-05 08:13] jsteemann commented on #1358
:+1 I ran into the same problem a few times.

[2015-06-05 08:14] jsteemann commented on #1352
Thanks for the feedback.

[2015-06-05 08:14] #1352 closed

[2015-06-05 11:55] pluma commented on #1358
Yeah, I noticed this as well when I forgot to wipe the db after wiping the local files.

[2015-06-05 12:01] pluma commented on #1362
Aardvark doesn't have an option for running the setup after replace either.

[2015-06-05 12:57] dothebart commented on #1359
The windows installer was combined with a broken version of NSIS; re-did and reuploaded, all fine now.

[2015-06-05 12:57] #1359 closed

[2015-06-05 12:58] dothebart commented on #1307
couldn't reproduce this on the azure machine; install went flawless, web-page opened.

[2015-06-05 12:58] #1307 closed

[2015-06-05 15:41] pekeler commented on #1363
Thanks @jsteemann - that help. I still think a dedicated cmd-line tool like foxx-manager would be nice, but I'm going to close this for now.

[2015-06-05 15:41] #1363 closed

[2015-06-05 16:11] pekeler commented on #1362
from `foxx-manager help`
[code]

[2015-06-06 18:00] pekeler opened #1364 "double click in docs on aardvark"
Double clicking on or near fields/values of a document in aardvark is creating a new field:value pair. I *really* dislike this feature because, often times, I want to copy some text which I do by double-click-drag (to select on word boundaries) or triple-clicking (to select the whole line).

[2015-06-07 05:19] pekeler commented on #1343
Thanks!

[2015-06-08 10:07] pluma commented on #1364
I agree, this has caught me before.

@mchacki any chance we can disable that feature in the editor plugin?

[2015-06-08 10:10] pluma commented on #1362
If it's never done this although the help says otherwise, I'd be in favour of making it optional in both aardvark and foxx-manager, for both teardown and setup individually.

[2015-06-08 10:12] pluma opened #1366 "Fix frontend tests"
The frontend tests are utterly broken, in part due to the outdated sass linter.

We should sort this out sooner rather than later.

[2015-06-08 10:13] #1364 closed

[2015-06-08 10:16] pluma commented on #1357
I'm closing this for now. It's up to kaerus to update the README of his driver if he wants to.

[2015-06-08 10:16] #1357 closed

[2015-06-08 15:27] pekeler commented on #1362
Other than the option, would there be any difference between `replace` and `upgrade`?

Background: my deployment script used to use `replace` (I don't remember why). Then I saw the help, temporarily panicked, and quickly changed my script to use `upgrade`. Now I can't imagine a use-case where I'd want to use `replace`. Could always just use `uninstall` follow by `install`.

[2015-06-08 15:29] pekeler commented on #1364
Thanks!

[2015-06-08 15:52] hkernbach opened #1367 "GraphViewer json attribute types (Feature)"
We need support for various datatypes (number, string, bool) while creating nodes/edges via the GraphViewer (frontend).

[2015-06-08 15:54] hkernbach commented on #1366
+1, also we could think about newer technologies like e.g. jest (https://facebook.github.io/jest/)

[2015-06-08 16:40] razvanphp commented on #1336
Hey guys, any news on this one?

We will deploy next week our first Foxx app that uses the queues, but we have 2.5 in production. Do you have a launch date for 2.6 stable? If not, can you please port (a)the fix into 2.5 branch?

The use case is that we need to run this async, and as soon as one job finishes, we should somehow start a new one. Can we do this in another way?

Thank you in advance!

[2015-06-09 11:01] pluma commented on #1366
I'm not entirely sure about jest (the mock-by-default approach is a bit extreme), but it is probably worth a look.

[2015-06-09 11:07] pluma commented on #1336
The new (impossible to break, script-based) job types are in 2.6, yes, and I sadly don't see any way of backporting them.

We could probably backport the `server.foxx-queues-system-only` setting to solve the issue with non-system DBs but there's currently no way to guarantee (2.4-style) job types are defined before the queue gets to them.

[2015-06-09 11:10] pluma commented on #1362
Frankly, I'm not sure. I think they're equivalent at this point due to changes in Foxx internals. I'll ask around and see whether we can remove one of the two and just add the teardown/setup as optional flags.

[2015-06-10 10:51] bamforp opened #1368 "2.6.0 alpha 3 Swagger interface not working"
When opening Foxx app I get the following in the API Swagger window.

{"error":true,"code":404,"errorNum":404,"errorMessage":"unknown path '/_admin/aardvark/foxxes/docs/index.html?mount=%2FmySessions'"}

[2015-06-10 12:44] razvanphp commented on #1336
Ok, then we are going to step on thin ice on this one and use 2.6 alpha 3 (installed on staging) for the little Foxx app that we need on live.

Please give me a link to the documentation of how the new jobs work and what do I have to change, as it's a little bit tricky to understand from those two apps.

[2015-06-10 13:13] pluma commented on #1368
This sounds awfully familiar: https://github.com/arangodb/arangodb/issues/1327#issuecomment-106365414

@fceller can you look into this?

[2015-06-10 13:17] fceller commented on #1368
@bamforp which operating system / package did you use?

[2015-06-10 13:21] pluma commented on #1336
@razvanphp a workaround for the 2.4-style job types just landed in devel and we're planning to backport it to 2.5. If you need Foxx apps to work in non-system databases too, we could also backport the multi-db support.

For a quick explanation of the new job types, see https://docs.arangodb.com/devel/Foxx/Develop/Scripts.html

I'm also writing a cookbook recipe for creating a script and using it a

[2015-06-10 13:56] pluma commented on #1302
A workaround has been implemented in devel and will be backported to 2.5. See 697ffb8d5880cc69b47d0c300d38661efc8a21d3

[2015-06-10 13:59] pluma commented on #1351
@legikaloz Could you check whether the issue persists in the latest pre-release?

[2015-06-10 14:02] pekeler commented on #1281
@fceller is there a new ETA for 2.6?

[2015-06-10 14:04] razvanphp opened #1369 "Line number in Foxx Stack Trace does not match"
The exceptions logged with a stack trace contain wrong line numbers. For example, on line 34 of `update-products.js` is a return, not the toString call. I also checked the internal files line number and they seem to be just wrong.

[code]

[2015-06-10 14:09] neunhoef commented on #1369
Coincidentally, we noticed this yesterday ourselves. The numbers were off by two, if and only if the problem arose from a Foxx app. This is fixed in devel (commit 4214f7882b8bcb9ea151366d75cd53d14f6e4ed8) and will be included in the upcoming 2.6 beta. Thanks for reporting. Do you need a backport in 2.5?

[2015-06-10 14:13] pluma commented on #1369
@neunhoef I'm fairly certain I introduced the bug in 2.6, so 2.5 should be unaffected.

[2015-06-10 14:14] fceller commented on #1281
We have fixed most of the bugs discovered. There is one open issue left, which are currently trying to fix.

[2015-06-10 14:17] neunhoef commented on #1369
Good, even better, no backport needed at all then.

[2015-06-10 14:25] razvanphp commented on #1369
Ok, I monkey fixed this in my dev machine so I can debug the apps, it seems fixed.

The only strange thing is that I get 3 errors and 3 stack traces for the same error:
[code]

is this intended? It might be a little confusing..

[2015-06-10 14:39] razvanphp commented on #1336
My understanding from your commit is that `foxx-queues-system-only` was removed? As I said, I find this option really confusing and useless, but yes, we have separate databases depending on team.

I would expect it to work by default on all databases, so when the job manager runs, checks all databases for jobs to run. Or do you have one job manager for each database? This would be strange..

Since

[2015-06-10 16:17] razvanphp commented on #1336
So now I'm really confused, I read this in the documentation:
`For the low-level functionality see the chapter on the Task Management module.`

I also read this chapter and it seems closer to our needs, but the queues does not seem to support <i>recurring jobs</i>, like just rerun the same job for x number of times, at a specified interval like tasks do.

Is Foxx queues using the Tasks module? It

[2015-06-10 17:18] abelyaevskiy opened #1370 "Link https://docs.arangodb.com/Installing/README.html is broken"
I followed link https://docs.arangodb.com/Installing/README.html named "User Manual" from section "More Information" on main project's github page https://github.com/arangodb/arangodb and got  "The requested URL /Installing/README.html was not found on this server." error

[2015-06-11 06:32] jsteemann commented on #1370
I think instead of https://docs.arangodb.com/Installing/README.html, the link should rather be https://docs.arangodb.com/Installing/index.html, or even simpler:  https://docs.arangodb.com/Installing/

Replacing *README.html* with *index.html* or omitting it will also fix other broken links of the same sort.
There has been a change in the links setup a while ago, and theoretically *README.html* sho

[2015-06-11 08:30] bamforp commented on #1368
I am running Win64 on Windows 7 Pro.

I have 2.5.4 and 2.6.0-apha3 on my PC and I have observed that if I launch arangod.exe in the 2.5.4 directory, it actually loads the 2.6.0 database.

[2015-06-11 15:34] 13abylon commented on #1370
Every README.html is now redirected to index.html as soon as the documentation ist build

[2015-06-11 15:34] #1370 closed

[2015-06-11 15:49] abelyaevskiy opened #1371 "unittests-http-server failed with error kernel_require.rb:54:in `require': cannot load such file -- httparty (LoadError)"
Hi!

I tried to setup unittests run for my dev environment.

I found that `unittests-http-server` failed with error `kernel_require.rb:54:in 'require': cannot load such file -- httparty (LoadError)`

Full log:

    2015-06-11T15:26:39Z [14831] INFO using no init file at all
    2015-06-11T15:26:39Z [14831] INFO ArangoDB 2.5.4 64bit -- ICU 52.1, V8 3.31.74.1, OpenSSL     1.0.1 14 Mar 2012
    2015-

[2015-06-11 15:56] fceller commented on #1371
The unittests are using rspec (a ruby test framework). They require a few gems like "httparty" and IIRC "json". Can you try to install them with

    gem install httparty

[2015-06-11 15:56] abelyaevskiy commented on #1371
Yes! Thank you! Just found it!

[2015-06-11 15:56] #1371 closed

[2015-06-11 18:36] Back-io opened #1372 "Fairly bad error in docs"
https://docs.arangodb.com/Traversals/UsingTraversalObjects.html

It refers to a fifth parameter being passed to the `.visitor` function called `connections`, but it is in fact called `connected`.

[2015-06-11 18:42] CoDEmanX commented on #243
I'd actually like to revive the discussion. JavaScript allows the dollar sign `$` as [initial character in variable names][1] (aside from all kind of Unicode letters...), there's a [test tool][2] by the way.

ArangoDB requires the collection name to start with a letter, no other character is supported in this position. On the other hand, dashes `-` and underscores `_` are supported from the 2nd ch

[2015-06-12 06:50] mchacki commented on #1354
@razvanphp The change NEIGHBORS does not return edges anymore was intentional.
NEIGHBORS should be only the distinct set of neighboring vertices.
We have modified the EDGES function to optionally include the vertices now, as the edges are not producing distinct sets.

So if you have a NEIGHBORS function before 2.6 like:

    NEIGHBORS(<vertexCollection>, <edgeCollection>, <vertex>, <direction>, <e

[2015-06-12 07:11] jsteemann commented on #1372
I am not sure I understand.
The docs say this about the function signature for a visitor function:

I think the name of the fifth parameter here is relevant for documentation purposes mainly.
When a custom visitor function is actually used, the parameter can be given any name, as long as it is used consistently inside the function.
For example, the following visitor will work as well (as long as t

[2015-06-12 10:51] fceller commented on #1369
Yes, because the code in executed in different V8 contexts. This causes it to be displayed multiple times.

[2015-06-12 10:51] #1369 closed

[2015-06-12 10:52] fceller commented on #1368
@dothebart can you check this under Windows?

[2015-06-12 10:54] fceller commented on #1334
@neunhoef can you checj if this can by reproduced with 2.6?

[2015-06-12 10:54] fceller commented on #1320
@neunhoef has this been solved?

[2015-06-12 10:56] fceller commented on #1313
@dagarwal82 @razvanphp can you confirm that this has been fixed in 2.6?

[2015-06-12 10:57] fceller commented on #1310
@13abylon any progress on that matter?

[2015-06-12 10:58] fceller commented on #1305
@dothebart can you check this under Windows?

[2015-06-12 10:58] pluma commented on #1369
@fceller I think @razvanphp is talking about getting multiple stacktraces for the same error. I've cleaned that part up a bit last week because the noise from log-and-rethrow did tend to get a bit excessive. It should be fixed in the next 2.6 release.

[2015-06-12 10:58] fceller commented on #1301
@hkernbach @hkernbach does this problem still exist in 2.5.5?

[2015-06-12 11:01] dothebart commented on #1301
not yet worked on - as NSIS fuzzing requires time.

[2015-06-12 11:08] CoDEmanX commented on #1310
I noticed this too a few times when I used the epub on smartphone or eBook reader. It would be better if the title was ArangoDB Manual vX.X, and the version and build date should be mentioned on the first page.

[2015-06-12 11:46] neunhoef commented on #1334
I cannot reproduce this with 2.6.dev on my Linux machine. In my case the cluster starts OK, when I click "Relaunch". I do get the same errors and warnings as found in the log file, since these are triggered by the UI that first tries to see whether a cluster is still running. The processes are gone, so the health check fails and that produces the warnings.
Strangely enough I cannot see the efforts

[2015-06-12 12:07] neunhoef commented on #1320
This is fixed in 2.6.dev in the following sense. In the cluster - as in the single server case - if you overload the DB with async requests beyond its queue size, then it immediately answers some requests with HTTP 500. I do not really see a good way to fix this, or, to put it differently, I think this is intended behaviour.
If you run your original benchmark on a cluster in which the coordinator

[2015-06-12 12:10] #1320 closed

[2015-06-12 12:58] Back-io commented on #1372
Yes, but when using this through the HTTP API (I'm the node.js driver), you don't specify the function signature, only the body in a string, so the parameter names are fixed.

[2015-06-12 14:07] jsteemann commented on #1372
Ok, got it. Makes sense.
I will adjust the docs for this.

[2015-06-12 14:12] jsteemann commented on #1372
Fixes for the documentation have been pushed and will become available when the documentation is re-generated.

[2015-06-12 14:12] #1372 closed

[2015-06-12 14:39] legikaloz commented on #1351
Checked, it seems ok in 2.6-alpha3

[2015-06-12 14:39] #1351 closed

[2015-06-12 14:57] nlac commented on #1334
Thanks for the investigation! I'm not 100% sure that i reloaded the page in the browser but i am that i hit the "Relaunch" button - i think the transaction captured in my Chrome's console proves it that i pasted above. The server responded it with a 409.

[2015-06-12 15:11] nlac commented on #1320
Very good news, thank you! Is the working fix already recent in the 2.6 alpha 3 tag (= the most recent downloadable binaries) or just in the latest devel branch?

[2015-06-12 15:12] neunhoef commented on #1320
I did test todays devel but I am pretty sure that the alpha release already works.

Am 12. Juni 2015 17:11:05 MESZ, schrieb nlac <notifications@github.com>:

[2015-06-12 16:15] dothebart commented on #1368
Sorry, I'm also unable to reproduce this.
I've tried the following:
Applications->Add Applications; Installed Itzpapalotl from the store with the mountpoint to /blarg
Click that Foxx, get the Documentation - no error.
Can you elaborate your way to the error in a bit deeper detail?

[2015-06-12 16:19] dothebart commented on #1339
I've updated the 3rdParty/Makefile.v8; If you want to retry it, please replace it with the most recent version ( https://raw.githubusercontent.com/arangodb/arangodb/devel/3rdParty/Makefile.v8 ) and re-run make setup, and the rest of your compile process.

[2015-06-12 16:26] dothebart commented on #1305
Yes, reproduceable.

[2015-06-12 19:25] CoDEmanX opened #1374 "Docs: Parts of sentences in wrong places on HTTP API pages?"
For example, the following half sentence:

is between the example code of *Simple range query* and the next headline *Find documents near a coordinate*, but shouldn't it be below that next headline (or even further down that section)?

https://docs.arangodb.com/devel/HttpSimpleQuery/index.html

Current and devel docs (2.5/2.6)

[2015-06-12 19:32] CoDEmanX commented on #243
+ Another Pro for `$`: looks like `S` as in **s**ystem
- Contra: some HTTP requests would use a mix of `_` and `$`, e.g.<br>`_db/$system/_api/collection/$jobs`, but end-users don't do much CRUD in system DB/collections

[2015-06-12 19:34] CoDEmanX commented on #314
@fceller: is it on todo for 2.6 or is it too late for implementation?

[2015-06-12 20:46] jsteemann commented on #243
We could probably allow the characters `$`, `#` and `@` in collection names, but I would have to validate this first. The `@` will have the problem that it needs URL-escaping, and collection names are used pretty often in ArangoDB URLs. Using `@` in collection names and putting it into URLs (unescaped) will thus potentially cause some new client-side issues, but inside the server this should be re

[2015-06-14 12:54] phal0r commented on #602
+1

Especially the combination web sockets and db triggers sounds charming to me :)

[2015-06-14 16:31] rizkyramadhan commented on #317
Any update on this ?

[2015-06-15 07:48] pluma commented on #1368
@dothebart I'm fairly certain this error can only be reproduced by upgrading from an earlier version. I don't expect it to be reproducible with a fresh 2.6 install.

[2015-06-15 08:22] pluma commented on #1374
Yes, the order seems wrong. I think that part of the documentation is generated.

[2015-06-15 11:13] CoDEmanX opened #1375 "Docs: SORT null not mentioned"
[Jan mentioned][1] that

This option is not mentioned [in the docs][2].

[1]: https://jsteemann.github.io/blog/2015/04/22/collecting-with-a-hash-table/
[2]: https://docs.arangodb.com/devel/Aql/Operations.html#sort

[2015-06-15 12:10] CoDEmanX opened #1376 "Integrating ArangoDB with Meteor/Apollo"
Nothing on the [roadmap](https://www.arangodb.com/roadmap/) yet, but as mentioned here:

https://www.youtube.com/watch?v=Ew7KcjJX-68

there will apparently support for Meteor in future version - how awesome is that?!

Is this something to be expected for ArangoDB 3.x in a year or so, or is it more of a short-term goal?

[2015-06-15 12:21] CoDEmanX commented on #602
Maybe [Meteor's DDP protocol](https://www.meteor.com/ddp) could be used for socket connections?

Otherwise, HTTP2/SPDY should do too ([server-push](https://www.igvita.com/2013/06/12/innovating-with-http-2.0-server-push/)).

[2015-06-15 12:23] CoDEmanX commented on #1364
Another issue I discovered today is, that Ctrl+T won't open a new browser tab but is caught by the editor as well and seems to move a single character to the right...

[2015-06-15 13:12] omarsmak opened #1377 "Unit Test is broken in 2.6a3"
Whenever I try to run mocha unit test runner from either the frontend or the cmd line, this errors shown in the logs:

[code]

Using the following platform:
MacOX 10.9
ArangoDB 2.6a3 (DEV mode)

I found this issue has been reported here (https://github.com/arangodb/arangodb/issues/1366), but I am not sure if both tickets are indeed, the same error.

Thanks

[2015-06-15 13:47] jsteemann commented on #1375
It was mentioned in the docs briefly already, but I think mentioning it another time won't do any harm:

https://github.com/arangodb/arangodb/commit/f82689f146f2447a5d69b7f3c757ecdb8fb7cc43#diff-9000fbbb21446a10612743a5eccce18dL422

Do you have any further suggestion for where to mention the `SORT null`?

[2015-06-15 14:33] CoDEmanX commented on #1375
Okay. I think this should do it. I wonder however, if the documentation needs consolidation to put all the information about a specific function or feature in a single place...

[2015-06-15 21:15] nlac commented on #1320
I just quickly tested v2.6a3 in cluster mode and discovered a very interesting thing.

When i tested the cluster with the default arangod config + the increased ```scheduler.maximal-queue-size```, the result was more or less the same as experienced with the older versions: everything was slow, the GUI has frozen, got back the "Please select a cluster scenario" screen. In the log i could see such t

[2015-06-15 21:33] nlac commented on #1335
I ask it because i think it can be a common scenario: let's say a production environment starts with a cluster having 4 physical dbserver - each collection is configured to have eg. 16 shards, 4/dbserver. Then, when the traffic and the stored data is massively growing, one may add +8 physical dbservers to the system.
The actual questions:
* what will happen with the collections after the new dbser

[2015-06-15 23:39] pekeler commented on #1376
Oh, nice!

[2015-06-16 00:25] fmsouza opened #1378 "ArangoError: exception in 'lib/Dispatcher/DispatcherThread.cpp'"
I'm testing ArangoDB in a docker container linked to another container running a nodejs application which is doing huge requests to the database.

Sometimes this error appears on my console:

ArangoError: exception in 'lib/Dispatcher/DispatcherThread.cpp' at line 159: type = 'internal error' details = 'job failed with unknown in work: std::bad_alloc'
-----------------------------------------------

[2015-06-16 00:27] fmsouza commented on #1378
The instance is stopping very often.

[2015-06-16 01:03] fmsouza commented on #1378
Checking the container log, this is the information it shows:

[code]

[2015-06-16 01:20] sleepycat commented on #1339
I pulled devel and compiling again and it compiles fine. I just get a warning now:

[code]

[2015-06-16 07:32] pluma commented on #1377
That sounds like a problem with the test itself. Can you run the file through jshint and see if it complains about any syntax errors?

Either way, the frontend should be showing the root cause, not the "failed to run module" exception.

[2015-06-16 07:33] pluma commented on #1377
Just a note: #1366 is about ArangoDB's own tests, not the test runner itself. The two issues are unrelated.

[2015-06-16 07:38] pluma commented on #1364
@CoDEmanX you mean it swaps two characters? I think that's intentional. You can still open a new tab by unfocusing the editor first.

[2015-06-16 07:43] CoDEmanX commented on #1364
Yeah it's a feature, but the key binding is unfortunate. Plus I wonder when you actually need this kind of functionality. Copy, paste and arrow shortcuts are well known and not much slower for the rare occasion of character shifting...

[2015-06-16 08:18] pluma commented on #1364
I'm guessing it's influenced by Sublime Text 2 or some other editor that shares the key binding. I don't mind either way. @mchacki Do you think the Ctrl+T shortcut is genuinely useful or should we remove it?

[2015-06-16 08:52] omarsmak commented on #1377
Hi Alan,

I just ran jshint against the unit test file, it didn't show any syntax errors. By the way, this unit test file was generated by the new app creation scaffolding within 2.6a3. It created the following unit test file under '/test/example.js' :
[code]

And this is the generated manifest:
[code]

[2015-06-16 09:41] pluma commented on #1377
Weird. I can't reproduce the issue with the current devel branch.

Could you upload the zip bundle of your generated app somewhere?

[2015-06-16 10:03] omarsmak commented on #1377
Yes sure, I have shared it on my Dropbox (https://www.dropbox.com/s/10gooys0fdrgcn8/app.zip?dl=0). Not that you will need 2.6-alpha3, most probably be the devel branch is ahead of the latest unstable public release which is 2.6-alpha3

[2015-06-16 11:44] pluma commented on #1377
Yeah, it's not reproducible in devel. I'll see whether I can reproduce it with 2.6-alpha3.

[2015-06-16 12:29] #1302 closed

[2015-06-16 14:09] pekeler commented on #1364
I haven't noticed it with Aardvark, but am generally annoyed when cmd-t doesn't work as expected due the the active website.

[2015-06-16 16:12] razvanphp commented on #1313
I just got this in 2.6-beta1

![screen shot 2015-06-16 at 18 09 28](https://cloud.githubusercontent.com/assets/4599319/8187932/0d0f37ea-1453-11e5-9c5d-de3bd8f8fe2f.png)

Do you want some sample data before I restart it? I will also see if tomorrow it is fixed by itself.

[2015-06-16 16:14] fceller commented on #1313
@razvanphp can you find out the PID of the process and do a

    cat /proc/PID/stat

[2015-06-16 16:19] razvanphp commented on #1313
[code]

child and supervisor

[2015-06-17 00:43] pluma commented on #1336
We're discontinuing support of 2.4-style job types in favour of the script-based job types that will be introduced in 2.6. Sorry about the inconvenience.

[2015-06-17 00:43] #1336 closed

[2015-06-17 10:01] jsteemann commented on #1313
Thanks for posting the file contents here. That actually revealed a problem: the process name contains whitespaces, and that makes parsing the file with the format string '%d %s .%c ...` interpret the data incorrectly. I have fixed that now so it should work with that particular file content. I didn't spot that before because when I start arangod it won't have whitespace in its process name.

[2015-06-17 10:03] jsteemann commented on #1313
Fixed in current 2.5, 2.6 and devel.

[2015-06-17 10:44] andelo commented on #1357
done!
Thanks for clearing up on the history. I'm _not_ working on the js-component anylonger since I've abandoned ArangoDB in favour of postgreSQL.

[2015-06-17 15:44] jsteemann commented on #1375
@13abylon : what do you think of an AQL documentation makeover?

[2015-06-18 07:56] jsteemann commented on #1378
Both error messages indicate that the arangod instance ran out of memory.
Is there any particular request/query that triggers this behavior or does it happen non-deterministically?
If this is triggered by AQL queries, it might be worth trying out version 2.6 (currently in beta), because it will reduce AQL memory usage for at least some queries. Whether it will help in your actual case is hard to t

[2015-06-18 09:52] fceller commented on #1305
Done in 2.6

[2015-06-18 10:59] omarsmak opened #1379 "307 temporary redirect while doing internal redirection"
I am testing of way to do URL redirection within Foxx. All requests should bound to an entry Foxx endpoint, from there it will be redirected to the appropriate Foxx endpoints. I managed to get it work by using 'actions.redirectRequest', here is an example for what I am doing:
[code]

Somehow this works perfectly using cURL, but while initiating the request from the browser, this would fall with '3

[2015-06-18 11:21] jsteemann commented on #1379
When calling HTTP GET `/getre` on the app, I can see an HTTP 307 response code and a `Location` header pointing to the new direction.
If your browser behaves differently, it might have have cached the response the URL and probably return a stale result? Can you trying clearing browser caches?

[2015-06-18 14:47] fmsouza commented on #1378
It was happening non-deterministically. I scaled up the memory for the container and it seems to be fixed now. I left it running through last night and worked very well.

Thank you!

[2015-06-19 12:05] jsteemann commented on #1379
Looking into what you have shown me offline, I think this works as expected, with the `307` response code being issues properly by the server. Can this issue be closed?

[2015-06-19 12:08] omarsmak commented on #1379
Yep sure. Thanks and sorry for confusion

On Friday, June 19, 2015, Jan <notifications@github.com> wrote:

[2015-06-19 12:15] jsteemann commented on #1379
No worries.

[2015-06-19 12:15] #1379 closed

[2015-06-19 20:55] lewisdiamond commented on #106
This is something we're really interested in.

We'd want to set a collection such that updates result in a copy and fetching a document gives the "latest" by default. We'd like to be able to get a list of revision and get a specific revision of a document.

Concerning what @frankmayer pointed out, I don't think this is an issue unless you also want to version edges.

[2015-06-20 15:15] samuelgoldenbaum opened #1380 "Arangod should respond with timeout if no workers become available in a grace period"
Testing performance of saving docs and having the following error thrown every few thousand writes:

[code]

I believe it has something to do with no more available sockets on my machine - but thought that  {maxSockets: 5} would control that? I have changed maxSockets from 1 to 25 and keep having the same result. I see keepalive is enabled by default so assume new connections are not being fired u

[2015-06-21 13:05] pluma commented on #1380
This issue is also tracked in arangojs: https://github.com/arangodb/arangojs/issues/44

At this time I'm convinced the error is caused by the client, not the server.

[2015-06-21 13:07] #1378 closed

[2015-06-22 08:20] pluma commented on #1380
Okay, the EADDRNOTAVAIL is definitely on the client-side as it goes away when using keep-alive (and thus enforcing the maxSockets). But the root cause seems to be that enough of the requests are getting stuck that the client runs out of sockets when using node's default behaviour of opening new sockets when all sockets are busy.

In other words: some of the requests time out (hence the ETIMEDOUT t

[2015-06-22 10:21] omarsmak commented on #1377
Apparently the issue was from 'chai' package. I tried to install chai package locally in the app's folder (created node_modules folder) and it worked fine afterwards. It looks Arango doesn't require the correct 'chai' package.

By the way, I have installed the latest version, 2.6, unfortunately  the same error was there as well. I have tried it as well on a fresh Ubuntu 14.04 DigitalOcean instance

[2015-06-22 12:21] samuelgoldenbaum commented on #1380
Just to confirm: have been using v2.5.5, busy installing 2.6 and will test again

[2015-06-22 20:16] nlac commented on #1368
Actually it can be reproduced with a fresh xcopy install of v2.6 final. Created a video about installing a fresh copy and adding a "new app": http://nlacsoft.net/public/arango/creating_app_arangodb2.6.avi
(Windows 8.1)

[2015-06-23 00:20] F21 opened #1381 "EDGES() in 2.6.0"
I just upgraded from 2.5.4 to 2.6.0 and `NEIGHBORS()` seems to have changed.

The old behavior has changed as per the `CHANGELOG`. However, if I replace it with `EDGES()`:
[code]

I get an error saying the number of parameters is wrong: `[1541] invalid number of arguments for function 'EDGES()', expected number of arguments: minimum: 3, maximum: 5 (while parsing)`

OS is Ubuntu 14.10 64-bit and Ar

[2015-06-23 07:36] fceller commented on #1381
Seems to be a bug. Will investigate.

[2015-06-23 07:49] fceller commented on #1381
The signature of EDGES is

[code]
You do not need to specify a vertexcollection. This is a BUG in the CHANGELOG.

[code]

[2015-06-23 07:49] #1381 closed

[2015-06-23 11:20] kevinprotoss opened #1382 "Any Regex function on the server side of ArangoDB"
Hi,

Does anyone know whether ArangoDB has a function like `REGEX` for matching value with regex pattern?
In MongoDB, there is a keyword `$regex` for doing this, but I did not find anything similar in ArangoDB. Can anyone told me how can I achieve this? or per other methods?

As I know, I can register a custom function by using `aqlfunctions.register`. However I do not thinks it's the best way for

[2015-06-23 12:02] dothebart commented on #1382
we currently have wildcard matching with LIKE, CONTAINS for a fulltext search, and SUBSTRING.
Since REGEX requires a lot of computational ovehead, we didn't implement this so far.

For shure, a js function would be a one liner.

[2015-06-23 12:34] dothebart commented on #1339
Ok, great. Closing as resolved.

[2015-06-23 12:34] #1339 closed

[2015-06-23 13:15] dothebart commented on #1305
verified fixed with 2.6

[2015-06-23 13:15] #1305 closed

[2015-06-23 13:22] kevinprotoss commented on #1382
but how about some regex like this?

/^admin[^/]*$/
/^admin([^/]*/)(.*)$/

Is it possible to use `LIKE` for this use case?

[2015-06-23 13:43] dothebart commented on #1382
admin_ -> will match admin followed by one char
admin_/% -> will match admin followed by one char, then a '/' and then any number of chars
So, not a complete replacement for your regex, but similar.

[2015-06-23 14:25] dothebart commented on #1368
ok, Now I got it. Create a new app was the key. @pluma its definitely broken on windows without upgrade, breaks on a fresh install.

[2015-06-23 14:27] CoDEmanX commented on #1382
Have a look at the implementation of LIKE(): it essentially takes a string with sql-style wildcards, constructs a JS regular expression and creates a `new RegExp(...)`. It is then used for matching.
So a custom AQL function will work. RegExp and modifiers need to be passed as string, `/exp/i` directly in a query won't work, use the alternative way instead:
    new RegExp(expString, modString)
Also

[2015-06-23 14:33] kevinprotoss commented on #1382
@CoDEmanX

Well, user custom AQL function is always possible of course. Still one question is, why such `REGEX` function can not be a default function in kernel of ArangoDB? Just because of performance?

[2015-06-23 15:20] CoDEmanX commented on #1382
Well, it costs time to either integrate an existing library or write an own one and it appears to be of use for a small amount of users only.
And I'm not sure if it's worth to use a C/C++ implementation over JS' native one in terms of performance, see https://github.com/nodejs/io.js/pull/1457#issuecomment-97693648
Either way, it's probably an expensive operation. If backtracking isn't required, a

[2015-06-23 15:25] kevinprotoss commented on #1382
OK.

btw, if no `REGEX` is provided by ArangoDB kernel, it means I'll miss the power of `index`, right?

[2015-06-24 07:26] pluma commented on #1368
I don't know how to change what goes in the packages but at least the HTML files are missing there. @fceller maybe?

[2015-06-24 07:29] fceller commented on #1368
@dothebart please add them to the CMakeFile

[2015-06-24 07:32] pluma commented on #1368
For the record, the entire `assets` folder should be in the package.

[2015-06-24 07:51] #1368 closed

[2015-06-24 08:18] dothebart commented on #1382
neither will be able to use an index, LIKE nor your to build REGEX.
There are plans to continue migrating the functions to C++ so no V8 data objects have to be instanciated; A Regex function would then probably use the http://www.cplusplus.com/reference/regex/ regular expressions, and one has to know that there are lots of regex dialects and a .js regex would probably have to be rewritten on an up

[2015-06-24 08:23] dothebart commented on #1334
this should work with 2.6.0 final; can we close this?

[2015-06-24 08:24] kevinprotoss commented on #1382
Ah, understand. I will consider your suggestion about additional property for custom REGEX

[2015-06-24 08:31] dothebart commented on #1073
We tried replacing the dlls with those from the site; The result was that the installer would crash on start.

[2015-06-24 08:58] CoDEmanX commented on #1382
A specially designed regex engine could utilize indexes, but only for certain expressions and with a lot of effort in terms of programming. Such an effort is probably not justified, unless your business depends on it (but if it does, you should question your data structure).
What do you want to query for in particular? Any exemplary regex you can share?

[2015-06-24 11:11] neunhoef commented on #1334
Yes, we can close this.

[2015-06-24 11:48] #1334 closed

[2015-06-24 12:34] #1301 closed

[2015-06-24 13:19] kevinprotoss opened #1383 "bindVars for HTTP API doesn't work with empty string"
Hi,

When I made requests with bindVars for writing documents, all properties with empty string will be converted to `null` value.

More descriptions here:
arangodb/arangojs#46

Bg,
Kev

[2015-06-24 14:28] kkdd opened #1384 "[longitude, latitude]-order coordinates requested for WITHIN and NEAR functions"
I appreciate it if AQL WITHIN and NEAR functions would have the syntax of [longitude, latitude]-order coordinates as follows:

[code]

Because my database has a [longitude, latitude]-order coordinates field:

[code]

[2015-06-24 14:37] #995 closed

[2015-06-24 21:24] pluma opened #1385 "Travis: version 2.5.5 missing?"
The 2.5.5 version seems to be missing:

https://www.arangodb.com/repositories/travisCI/

It's referenced by the script also used to test arangojs:

https://www.arangodb.com/repositories/travisCI/setup_arangodb_2.5.sh

[2015-06-25 06:16] nvdnkpr opened #1386 "How to retrieve server version of running ArangoDB ? Via AQL and/or when connecting"
I'm currently updating my loopback-connector for ArangoDB (https://github.com/nvdnkpr/loopback-connector-arangodb/tree/feature-%231-InitialVersion). In order to keep it backward compatible for e.g. 2.5, I need a possibility to retrieve the server version. either globally when connecting or by AQL or any other call to the API.

Background:
When Arango switched to 2.4, the returning of documents ena

[2015-06-25 06:54] jsteemann commented on #1386
You can query the server version via an HTTP GET request to the `/_api/version` endpoint:
`curl -X GET http://127.0.0.1:8529/_api/version`
for a 2.6 this should return something like the following:
`{"server":"arango","version":"2.6.0-beta4"}`
I am obviously using 2.6.0 beta4. The general version number format is x.y.z, with an optional dash and a string after it.

[2015-06-25 06:55] nvdnkpr commented on #1386
Cool thanks

[2015-06-25 06:55] #1386 closed

[2015-06-25 07:12] CoDEmanX commented on #1386
`_api/version` returns the necessary information, see https://docs.arangodb.com/HttpMiscellaneousFunctions/index.html

[2015-06-25 07:53] jsteemann commented on #1383
Thanks for reporting this. I just fixed it in 2.6 and 2.7.

[2015-06-25 07:53] #1383 closed

[2015-06-25 15:23] aconran commented on #1368
Just ran into this on 2.6.0 for OS X. Any easy way to get an updated version?

[2015-06-25 16:04] fceller commented on #1368
Yes, we will release 2.6.1 soon.

[2015-06-26 07:35] dothebart commented on #1368
you can however download the missing files here: https://github.com/arangodb/arangodb/tree/devel/js/server/assets/swagger (you have to keep the directory layout)

[2015-06-26 08:46] dothebart opened #1387 "Swagger-UI behaves erratically"
As discovered by Gareth Cox,
https://groups.google.com/forum/#!topic/arangodb/hdyn7ZrB4ms
This generated app :
https://docs.google.com/viewer?a=v&pid=forums&srcid=MDA1Njc3NDI0NzkxMDA3MjI4MDEBMDUwNjk4NTI2MzAwMzM1MjI3NjUBaGlCR2VhdklCLUVKATAuMQEBdjI&authuser=0

Will send an empty post body when trying to post to nodeTypes in the swagger UI:
{
  "name": "Domain",
  "description": "Domains",
  "deleted

[2015-06-26 13:26] baslr opened #1388 "missing v2.6 APP-MacOS-10.8-x86_64.dmg at arangodb.com/download"
Hi,

the Mac OS X app version of ArangoDB 2.6 is missing in the download section.

[2015-06-26 14:14] dothebart opened #1389 "Show Foxx app README.md in admin frontend if available"
Its common practice to have a helpfull README.md in foxx apps.
However, there is no way to read it in the UI.
There should especially be a way to add more text in the config dialogues, so one can elaborate better what the config values are about.

[2015-06-26 14:16] dothebart opened #1390 "Change how documentation links work"
Author
    ArangoDB GmbH
Contributors
    No contributors
Links

        Download API Documentation -> http://127.0.0.1:8529/_db/_system/_admin/aardvark/foxxes/docu/testmailgun

Only gives a json document.

[2015-06-26 14:18] dothebart opened #1391 "Migrate manifest assets in frontend to Grunt"
- "2015-06-26T08:14:57Z [1132] WARNING Manifest '.../js/apps/system/_admin/aardvark/APP/manifest.json' contains deprecated attribute 'assets', use 'files' and an external build tool instead."

[2015-06-26 14:20] dothebart opened #1392 "Update foxx apps to 2.6 style foxx-queues"
the new foxx queues aren't adjusted in some apps, please inspect all and adjust.

[2015-06-26 16:34] pluma commented on #1390
This doesn't sound like something app-specific. What exactly is the expected behaviour? I think that URL still points to the old Swagger code, so if it gives back a JSON document now, that's all it ever did.

In that case the URL should instead point to the new Swagger JSON file, i.e. I need to update the URL in the frontend.

[2015-06-28 23:17] pluma commented on #1387
That's amazing. I suspect this is an issue with Swagger 2.0 or the Swagger JSON generating code.

I doubt #1368 is related as that was not actually platform-specific and instead had to do with files not being included in the distribution packages of ArangoDB.

[2015-06-28 23:23] pluma opened #1393 "Update Foxx docs & cookbooks to reflect new generator templates"
I overhauled the generator templates for Foxx apps created with the configurator to follow some of the conventions of other Foxx code and the official apps.

Some of the documentation now contains outdated information when describing what the generated code looks like. This needs to be fixed to avoid confusion.

[2015-06-29 09:17] baslr commented on #1388
Its there again.

Thanks.

[2015-06-29 09:17] #1388 closed

[2015-06-29 09:48] Dashue commented on #662
I had this hit me in 2.6.1 on windows 64. Was caused by having old deleted databases lying around. I hade to manually delete the the ones reported by the arandodb --upgrade.

[2015-06-29 10:12] #1385 closed

[2015-06-29 11:32] agreif opened #1394 "Foxx POST Parameters - Model Schema toggling problem"
toggling between "Model" and "Model Shema" does not work right...

reproducing steps:
- created a new foxx app, that generated the API.
- click on POST
- the last Parameters column shows the sample model, and the "Model" is greyed out
- click on "Model Schema" --->>> nothing happens
- clicking on "Model" --->>> shows the schema

seems that always the other link is activated as expected

hanks,
Ale

[2015-06-29 11:34] agreif commented on #1394
seems to be the same on PUT and PATCH

[2015-06-29 14:01] hkernbach commented on #1391
fixed in devel.

[2015-06-29 14:01] #1391 closed

[2015-07-01 07:21] saeschdivara opened #1395 "OS X Yosemite x86_64 App - service is temporarily not available"
After I upgraded, started the instance and tried to access the web interface, I got the following error:
This service is temporarily not available. Please check the log file for errors.

The url I accessed: http://localhost:8529/_db/_system/_admin/aardvark/index.html

Log:

2015-07-01T06:52:00Z [6610] INFO ArangoDB 2.6.1 64bit -- ICU 54.1, V8 3.31.74.1, OpenSSL 0.9.8zd 8 Jan 2015
2015-07-01T06:52:

[2015-07-01 08:46] sbakiu opened #1396 "Graph edges not returned completely"
In queries like:
`FOR i IN GRAPH_EDGES ('GraphName', null, {}) return i`
it is returned only the edge handle. This prevents me from filtering based on other attributes stored in graph edges. This issue started for me after updating to v2.6.1.

[2015-07-01 08:52] mchacki commented on #1396
in 2.6 we have updated the API for GRAPH_EDGES to allow some performance tweaking.
The default return format of GRAPH_EDGES is one of the things we have changed.
Therefore we have added a new option `includeData` to trigger if the JSON should be build up or only _id handles should be passed around (which is in most cases sufficient for further traversals and a lot faster especially if the document

[2015-07-01 08:54] sbakiu commented on #1396
Thanks @mchacki for the quick reply

[2015-07-01 08:54] #1396 closed

[2015-07-01 08:58] CoDEmanX commented on #1396
It's not a bug, it's a feature: #1354

@mchacki: The breaking changes are somewhat hidden...
https://docs.arangodb.com/Upgrading/UpgradingChanges26.html#aql-graph-functions
... I would expect them rather in *2. Whats new* than in *1. Installing*. People don't seem to find these important notes.

[2015-07-01 11:54] kkdd opened #1397 "duplicate entry in geo-index"
Using ArangoDB 2.6.0, I want to insert a document with duplicate entry in geo-index ```{"coordinates": [lon, lat]}```, but it fails as follows:

[code]

[code]

ps. I have realized that the documents deleted in ArandDB Web Interface remain for a while in a collection.

[2015-07-01 14:32] pluma commented on #1392
Updated logger, segment and mailer apps.

[2015-07-01 14:32] #1392 closed

[2015-07-01 14:33] pluma commented on #1390
I think that link is currently not very helpful at all. Who needs the generated JSON as an explicit link in the UI? @mchacki can I just replace that link with a link to the API Documentation standalone page?

[2015-07-01 14:47] pluma commented on #1377
I can't reproduce the problem in the 2.6 branch nor the devel branch.

[2015-07-01 21:16] pisaruk commented on #1377
I am facing the same issue now in Ubuntu 12.04 with ArangoDB 2.6.1

[2015-07-01 21:23] omarsmak commented on #1377
@pluma did you make sure not to have the `node_module` folder inside the app folder? There is something wrong about `require('chai')` I guess.

For now the workaround is to install the chai locally into the  `node_module` folder

[2015-07-01 23:19] pluma commented on #1377
@omarsmak yes, though I've only tried local builds, not the official releases. Maybe something went wrong during packaging (as with swagger). Can you post what the dirtree of your ArangoDB's `js/node/node_modules/chai` folder looks like?

[2015-07-01 23:37] omarsmak commented on #1377
Yep sure, here is the output from my terminal:
[code]

And ArangoDB's installation location on my machine:
[code]

[2015-07-02 10:39] pluma commented on #1377
Okay, confirmed that it's a bug with the release package bundler. The "core" folder is missing from the chai module.

[2015-07-02 11:33] terrybleger opened #1398 "Homebrew Update"
Hi,

Every time ArangoDB release a new version, I'll always get notification either via web console or arangosh and like bugging me to update.

But the problem is the homebrew version update will always get late release about maybe 1 week than the other releases. This is kinda sad.

[2015-07-02 11:38] fceller commented on #1398
The last step is a manual one. What you can do, is use the repository "fceller/homebrew" in addition to "homebrew". The version there is updated as soon as the other releases are build.

[2015-07-02 11:38] #1398 closed

[2015-07-02 13:34] crs- opened #1399 "AQL-Queries are not saved in web frontend"
Hi,
if I save a new AQL query in the AQL editor in the web frontend the query appears first in the My Queries tab and also in the drop down list. But when I reload the web frontend both (the My Queries tab and drop down list) are empty.
Tested with Firefox (Cyberfox v. 38.0.6), Opera v. 30 and ArangoDB v. 2.6.1

[2015-07-02 16:23] fmsouza opened #1400 "Search for documents filtering from dates"
I searched in the online documentation and couldn't find anything about search dates in the database, even through AQL.

I have a collection where the data is inserted around every 20 seconds, and it contains it's last update time. I need to retrieve the most recent data for given indexes. How can I do that? Am I able to do it with ArangoDB? My application is written in node.js.

[2015-07-02 16:43] CoDEmanX commented on #1400
There are some AQL date functions, mainly to convert between different representations:

https://docs.arangodb.com/Aql/DateFunctions.html

There is also stated, that dates are either stored as numbers (microseconds since January 1st 1970), or as strings like "2014-05-07T14:19:09.522Z". There is no Date type, because there is none in JSON.

A numeric date representation can be sorted by its value.

[2015-07-03 07:31] #1400 closed

[2015-07-03 07:47] fceller commented on #1400
@fmsouza

You need to create a collection and add a skip-list index on your date attribute. Store the attribute as suggested by @CoDEmanX

For example (arangosh):

db._create("ticks");
db.ticks.ensureSkiplist("date");
db.ticks.save({ date: 123456791 });
db.ticks.save({ date: 123456790 });

And then use AQL to query for the TOP 5:

db._query("FOR u IN ticks SORT u.date DESC LIMIT 5 RETURN u").toArr

[2015-07-03 11:43] razvanphp opened #1401 "FATAL cannot raise the file descriptor limit"
Configuration option `descriptors-minimum` just fails if the value is bigger than 1024 (which is the default anyway) with the following errors message:

[code]

I solved this by adding the value again to the init script:
[code]

If this is the solution you are ok with, we should merge this into the init script and add a mention about it in the documentation.

The smart way would be if the server c

[2015-07-03 13:41] fmsouza commented on #1400
Thank you very much, guys. I'll try this.

Em sex, 3 de jul de 2015 04:47, Frank Celler <notifications@github.com>
escreveu:

[2015-07-03 15:05] fceller commented on #1377
@pluma I believe that the problem is elsewhere. If you check out 2.6 you see that "core" is also missing:

[code]

So I assume it has never been checked in.

[2015-07-03 15:08] fceller commented on #1377
Even a reinstall does not fix the problem:

[code]

@pluma can you advise?

[2015-07-03 16:25] pluma commented on #1377
@fceller the core folder is in node_modules/chai/lib/chai/core, not node_modules/chai/core.

Apparently someone added "core" to the .gitignore file. I've added the missing core folders manually to the devel and 2.6 branch (2.6 uses chai 2.x, devel uses chai 3.x). We should also go through the gitignore file and make sure all the ignored paths are as specific as possible. Having blanket bans on gen

[2015-07-03 16:25] #1377 closed

[2015-07-03 16:30] fceller commented on #1377
@pluma ok, thats explains it. The comment suggested js/node/node_modules/chai/core

Agreed, we should have a careful look at the .gitignore

[2015-07-06 15:43] crs- opened #1402 "Query export in web frontend not working"
Hi, if I try to export the saved queries in the web frontend of ArangoDB v. 2.6.2 my browser shows the following error message:
"Cyberfox can't find the file at http://192.168.1.25:8529/_db/MyDB/_admin/aardvark/query/download/undefined"

[2015-07-07 12:43] kkdd commented on #1397
This kind of failure isn't reproduced after upgrading MongoDB from 2.6.0 to 2.6.2.

[2015-07-07 14:25] kkdd opened #1403 "db._listDatabases() when db != "_system""
I can't get the list of databases residing in ArangoDB when db != "_system".

[code]

[2015-07-07 14:26] fceller commented on #1403
For security reason, certain features like "listDatabases" are only allowed when inside the system database.

[2015-07-07 14:26] #1403 closed

[2015-07-07 20:45] nvdnkpr opened #1404 "Sorting with different sort directions and skiplist not possible ?"
I read in the documentation that when using a skiplist index a sorting for different directions is not using the skiplist index.

One of the typical but simpler examples would be sorting by age (descending) and name (ascending) in the same query to show a list of names by ages then names. How would one model (and achieve a good performance) without using an index ?

[2015-07-08 01:40] sarasfox opened #1405 "Firefox issues with doc"
Lot of thing and dis paring in the left side menu this is not the case in chrome.  This is breaking subcategory very badly. I am running FireFox 38.0

[2015-07-08 08:16] gyulaborsos opened #1406 "Regular "arangod.exe stopped working" crashes on Windows"
Hi there!

We have regular "arangod.exe stopped working" crashes on Windows.
Happens with ArangoDB 2.5.2, 2.5.3, 2.6.
We could not isolate what causes it, but it happens quite often on developer machines.
Not necessarily when the DB is used heavily, often happens just randomly, sometimes more than once a day.

Attached you can find several instances of the crash happening, screenshots from windows

[2015-07-08 09:15] dothebart commented on #1406
So it seems you already found some of our efforts to make ArangoDB a first class citizen on Windows - using the windows eventlog, and the unhandled exception handler to get more information in these cases.
The Information already is a good start, it however doesn't yet get us closer to a point where we can propose a fix.
Could you download procdump:
https://technet.microsoft.com/en-us/sysinternals

[2015-07-08 09:33] fceller commented on #1404
@nvdnkpr do you know where you did read about this? I'm asking because we did a lot of improvements in this area and newer versions support skip-list with different sort directions.

For example:

[code]

and

[code]

[2015-07-08 11:23] gyulaborsos commented on #1406
Hi!

Thanks, I've asked all members of the development team to run this along ArangoDB.
We'll let you know if a crash happens, it might within be days, might be within weeks :)

Thank you!

[2015-07-08 20:40] CoDEmanX commented on #1400
I was wrong about `>`, `>=`, `<` and `<=` searches, you don't need to convert anything as long as both dates are in iso 8601 format and share the same UTC offset (timezone differences).

You can simply `FILTER doc.date > "2015-07-01T00:00:00.000Z"` or actually `"2015-07-01"`, because every timestamp will be greater than that date (no need to write out a bunch of zeros).

If your timestamps are in

[2015-07-08 21:20] fmsouza commented on #1400
Oh. Awesome! Thank you CoDEmanX :D

[2015-07-08 21:47] CoDEmanX commented on #1400
@fceller: BC dates like "-753" will actually fail in comparisons and not sort properly (negative dates < positive dates, but order is reversed among negative dates), and the behavior of `DATE_*` functions is a bit odd:

`DATE_ISO8601()` throws an error for `"-2012-01-01T00:15:00.000+02:00"`, but accepts `-2012-01-01` **although the minus is not preserved** and `"-002012-01-01T00:15:00.000+02:00"`

[2015-07-09 02:17] nvdnkpr commented on #1404
Hello Frank,
I read it [here](https://docs.arangodb.com/IndexHandling/IndexBasics.html) in the first paragraph after the code example
[code]
_In order to use a skiplist index for sorting, the index attributes must be specified in the SORT clause of the query in the same order as they appear in the index definition. **Sort orders cannot be mixed, i.e. the sort orders specified in the SORT clause mu

[2015-07-09 04:45] carlverge opened #1407 "graph._neighbors broken in 2.6"
It looks like graph._neighbors is broken in the 2.6 train, it will return a list of nulls (though the number of results appears to be correct). This can also be seen in the generated 2.6 docs (https://docs.arangodb.com/General-Graphs/Functions.html). Example below, the same calls work in 2.5. Should also be noted that the AQL GRAPH_NEIGHBOURS call does work in 2.6.

[code]

[code]

[2015-07-09 05:51] ra0o0f commented on #602
+1
@phal0r exactly, i guess when database triggers is implimented they can only run a javascript function but with websocket supported by ArangoDB other drivers can use triggers too and have a realtime changes at clients.

[2015-07-09 07:04] fceller commented on #1404
Thanks for spotting it. It is indeed outdated.

[2015-07-09 09:02] CoDEmanX commented on #1404
I'm not sure how to read this paragraph. It seems to be talking about multi-attribute indexes.
The statement about sort orders might actually mean that you cannot have different sort orders for a combined index.
E.g. `db.example.ensureSkiplist("a", "b");` will index the combination of fields `a` and `b`. If I understand correctly, it can be utilized if the user queries for `a` or `a and b` (as lon

[2015-07-09 09:47] CoDEmanX commented on #1404
I created some test data, added a skiplist index for `fields: ["a", "b"]` and tried to sort in opposing directions and it is actually supported:

[code]

Not supported is `SORT d.b` and `SORT d.b, d.a` in whatever direction, because the combined index is defined as `["a", "b"]`, not `["b", "a"]`. If there were 3 fields in the index like `["a", "b", "c"]`, one could `SORT d.a, d.b, d.c` or `SORT d.

[2015-07-09 10:20] seijikun opened #1408 "Document by Id with Integer"
In ArangoDB 2.6.2, using something like the following to retrieve a document by its id:
[code]
results in the Error:
[code]

Using something like the following in AQL, however, simply returns null without any error:
[code]

It took me quite some time to figure out what was going on (in both cases). Is there a reason, why integer is not allowed as an argument for `byId()` if only the key-part of th

[2015-07-09 13:35] #1407 closed

[2015-07-09 13:39] mchacki commented on #1407
Thanks a lot for spotting it. The fix will be included in the next release.

Fix will be included in the next 2.6 bugfix release.

[2015-07-09 14:10] CoDEmanX commented on #1408
`_key` is actually a string property, and never an integer, even if it's "123585712", so it's somewhat expectable.

https://docs.arangodb.com/Documents/index.html

I'm not sure if implicit casting to string could be problematic under certain circumstances...

[2015-07-10 06:34] pluma commented on #1408
You're right, the Foxx documentation is misleading. It should not make any assumptions about the format of the keys and just use joi.string.

[2015-07-10 14:54] wiredprairie opened #1409 "Document values with null character truncated with 2.6.2 on Windows"
In ArangoDB 2.5.2 (and maybe earlier), we had written code that relied on a value within a document allowing NULL characters.

In ArangoDB 2.6.1+ on Windows, it appears that the NULL character is acting as the string terminator, even when there may be more string data. How can we restore the previous behavior?

For example, if the value is `"value\u0000SubValue1\u0000SubValue2"`, the newer version

[2015-07-10 15:37] CoDEmanX commented on #1409
It can't be related to #1383 if it occurs in 2.6.1 already (and would be strange anyway). So there must have been a change to string handing somewhere else. A JSON encoded binary zero shouldn't be interpreted as string termination byte of course, strings should be handled in a binary-safe fashion.

If you need to store multiple character sequences in an attribute, you should consider an array howe

[2015-07-11 14:44] kkdd commented on #1397
not reproduced after 2.6.2

[2015-07-11 14:44] #1397 closed

[2015-07-12 06:50] codem4ster opened #1410 "Graph viz tool cannot filter integer fields"
I have an integer field in my collection. When I try to filter the graph with this field in graph viz, it doesn't show any node nor edge.

[2015-07-13 08:48] jsteemann commented on #1404
Using the skiplist index to retrieve documents in ascending or descending index order is definitely possible.
However, it is not possible to use different sort orders for the same index in a single query when the index is a combined index.
For example, if the index is on `["a", "b"], then using `SORT a ASC, b DESC` will **not** use the index. `SORT a ASC, b ASC` will use it, and `SORT a desc, b DE

[2015-07-13 11:13] jsteemann commented on #1409
I submitted a fix for this in the 2.6 branch, which will become release version 2.6.3 eventually.

Please note that using NUL bytes inside attribute values does not seem to have worked since at least April 2014 under some circumstances, meaning it may not have worked in 2.5, and not even 2.4 and 2.3.

The *circumstances* I am referring to are how the document was retrieved (JavaScript functions in

[2015-07-13 12:37] Dashue commented on #1136
Just bumped into the same scenario, more elaboration on the approach needed to be taken would be appreciated

[2015-07-13 13:55] CoDEmanX commented on #1404
@jsteemann: `use-index-for-sort` is applied if you mix sort orders however, so the index seems to be partially used at least (probably the first sort on `a`, but not the second on `b`, otherwise `remove-unnecessary-calculations-2` would be applied like if it is if sort order is the same on all indexed fields).

I wonder what it means performance-wise. I assume it would be quite fast if a `b` attri

[2015-07-14 13:34] gyulaborsos commented on #1406
Hi!

Below you can find the dump file after a crash:
https://drive.google.com/file/d/0B-Rhoo8GyarIMmp1dkJtMXJSM1k/view?usp=sharing

Please note that it's a 2.5.2 version ArangoDB, but we experienced it with 2.6.x as well.

Regards,
Gyula

[2015-07-14 13:43] Dashue commented on #1335
Interesting questions, I find myself wondering the same and unfortunately I can't say I've found much documentation around scaling more than that it's supposed to be "a matter of clicks".

[2015-07-14 14:10] dothebart commented on #1406
ok, thanks. Fetching it now, will give feedback once I've analyzed it.

[2015-07-14 14:43] #1390 closed

[2015-07-14 14:46] pluma opened #1411 "Show Foxx app README.md in admin frontend if available"
It should be relatively easily to present an app's README.md if it exists. We could run it through a simple markdown interpreter for added effect but it doesn't have to be fancy to be useful.

[2015-07-14 14:49] pluma commented on #1411
Duplicate of #1389.

[2015-07-14 14:49] #1411 closed

[2015-07-14 14:52] Dashue opened #1412 "Question: UI additions to simplify replication and sharding?"
Are there any UI changes on the roadmap to bring the ease of replication and sharding on par with RethinkDb? I'm having a hard time getting an understanding of how to do replication and sharding in using ArangoDb and at the same time "it's just too easy" in RethinkDb, would love for it to be easier.

Thanks

[2015-07-14 15:10] dothebart commented on #1389
https://github.com/evilstreak/markdown-js ?

[2015-07-14 15:38] andreib1 opened #1413 "Indexes not used when boolean operation is not explicit"
It seems that the query optimizer doesn't understand that a boolean variable is the equivalent of an equality operation, thereby ignoring valid indexes under the following circumstances.

I have a collection 'clients' with the following index:
indexes: [{type: 'hash', fields: ['online','userid'], minLength: 3, unique : false}]

(online is a boolean, and userid is a string)

when I call:

the plan

[2015-07-14 16:14] pluma commented on #1331
I can't get `https://<token>:x-oauth-basic@github.com/username/repo/archive/master.zip` to work (even in the browser) so I've reverted my local changes to add the auth token. It's pretty straightforward to add if someone can confirm that it should work (maybe the auth'd URL is a bit different?).

I've added support for Basic Auth in URLs in the Foxx Manager in ff2c023 though and it should be relat

[2015-07-14 16:16] pluma commented on #1394
That seems to be a bug in Swagger itself. The labels are mixed up (the markup itself indicates that they should be labelled the other way around).

[2015-07-14 16:16] #1394 closed

[2015-07-14 16:19] pluma commented on #976
Just a quick update: I totally agree with the spirit, but this seems non-trivial to implement given that the information about whether the route refers to a static file is not available without looking into the mounted app itself (which may have been modified in between requests). Not reloading apps on static routes probably does more harm than good (e.g. imagine `/foo.json` used to be static and

[2015-07-14 20:52] jsteemann commented on #1404
@CoDEmanX : yes, `use-index-for-sort` is still applied in this case, but there will still be an extra sort step (as can be seen by the `SortNode` in the execution plan). The extra sort step may still be expensive, at least it will be more expensive than using an index-only scan (which is not possible in this case).

However, using the index here before the extra sort step can still can speed thing

[2015-07-14 21:05] jsteemann commented on #1413
I can confirm that for a condition such as `y.online` no index will be used.
This is because `y.online` is not the same as `y.online == true`.

Consider this example:
[code]
This will match the following values and not only the boolean `true`:
[code]

The values that are excluded here are `null`, `false`, `0` and the empty string (`""`).

If you need to compare the value to just a boolean `true`,

[2015-07-14 21:47] jsteemann commented on #1402
Code is fixed in 2.6 and devel now. Still need to rebuild the compiled frontend files using grunt.

[2015-07-14 21:57] jsteemann commented on #1402
Thanks. Should be fixed in 2.6.3 (next release version).

[2015-07-14 21:57] #1402 closed

[2015-07-14 22:00] jsteemann commented on #1399
Probably related to #1402, and should be fixed in 2.6.3.

[2015-07-14 22:00] #1399 closed

[2015-07-15 01:28] hfaran opened #1415 "RangeError: Invalid string length on large traversal"
Hello,

### Issue

This issue is related to #1352. In our case, when performing a particularly large traversal using `_api/traversal` (in our case, it is an outbound traversal from a vertex that has 500~1200 edges), it seems that the response is too large and the V8 worker performing the serialization throws a `RangeError: Invalid string length` and is unable to return the response.

### Possible

[2015-07-15 09:34] andreib1 commented on #1413
Thanks.  I was seeing the problem only within the context of my current use case.
You explanation makes sense, as document property values can be null, or unconstrained by a model.

[2015-07-15 09:34] #1413 closed

[2015-07-15 10:26] CoDEmanX commented on #1413
If you do `FILTER TO_BOOL(doc.value) == true`, or more concisely, `FILTER !!doc.value`, no index is used either - although it could be, couldn't it?

[2015-07-15 10:52] jsteemann commented on #1413
@CoDEmanX : I don't think so.
`TO_BOOL(doc.value)` will evaluate to `true` for lots of different values, e.g. `null`, `true`, `-1`, `1`, `42`, `42e-42`, `"foobar"`, `[ ]`, `[ 42 ]`, `{ }` etc. I don't see a way to make the optimizer aware of this, especially if the index is a hash index and index values are stored unsorted. The same is true for `!! doc.value`.

[2015-07-20 10:47] nebulaszlonemethi commented on #1406
Hi, here's another report about crashing a single-server cluster on win8.1 (dump file, screenshot, config, steps)
https://drive.google.com/a/nebu.com/file/d/0B6Z2oxj3VUQDRERRMU4yWDFNaUE/view?usp=sharing

[2015-07-20 12:01] 13abylon commented on #1405
Sorry for the late reply.

Could you make a screenshot of the problem? And which OS do you use?

[2015-07-20 15:13] sarasfox commented on #1405
I was making silly issue switched the key and token
On Jul 20, 2015 6:01 AM, "Thomas Schmidts" <notifications@github.com> wrote:

[2015-07-21 12:49] pluma commented on #1389
Fixed in 7ae548a6a27cf7a91ce0bab971f681eaa28e50a5.

[2015-07-21 12:49] #1389 closed

[2015-07-21 13:26] abelyaevskiy opened #1417 "How to build rpm and deb packages for modified ArangoDB"
Hi!

I use custom modified ArangoDB and need to create rpm and deb packages for x86_64. How can I build these packages?

[2015-07-21 13:49] dothebart commented on #1417
Oh, a new hardware architecture? ;-)
First of all, ArangoDB is an opensource Project and lives from the feedback and submissions from its community; Could you elaborate a little more why the existing packages don't suit your needs, and what you changed?
We use openSUSE Build Service to build our packages; Thus you can use [OSC](https://en.opensuse.org/openSUSE:OSC) to fetch the contents of the pac

[2015-07-21 16:03] jsteemann commented on #1404
I have updated the docs (see above commit). Hope it's easier to understand now.

[2015-07-21 16:03] #1404 closed

[2015-07-21 16:59] sarasfox commented on #1405
shit that was not the email i though i was repling to opps i will start a
new issue and add sreen shot happly

On Tue, Jul 21, 2015 at 9:01 AM, Frank Celler <notifications@github.com>
wrote:

[2015-07-21 17:06] sarasfox commented on #1405
![scent](https://cloud.githubusercontent.com/assets/4380660/8807244/6f70e338-2f98-11e5-890a-a46a758b44e5.jpg)
sorry about the email i was expecting mail form hipchat had for got about this but here is the screen shot

[2015-07-21 18:06] CoDEmanX commented on #1405
I'm pretty sure this is a known gitbook issue:
https://github.com/GitbookIO/gitbook/issues/783
Try to clear the search filter until everything is showing again.

[2015-07-21 20:49] pluma commented on #1405
I concur with @CoDEmanX. The search filter seems to be cached and can get stuck.

@sarasfox Can you confirm that clearing the search filter solves the issue?

[2015-07-22 00:36] sarasfox commented on #1405
Yes it does that's odd as was not using search
On Jul 21, 2015 2:49 PM, "Alan Plum" <notifications@github.com> wrote:

[2015-07-22 00:50] #1405 closed

[2015-07-22 02:07] diegogub commented on #1412
+1

[2015-07-22 07:47] weinberger commented on #1412
Yes, they are. We are rebuild our cluster management based on Apache Mesos at the moment. It would be helpful to hear what exactly made the RethinkDB way better in your eyes.

[2015-07-22 07:58] 13abylon commented on #1405
Yes, it's a known bug. Clearing the search filter will help!

[2015-07-22 08:23] mikub opened #1418 "Graph lists vertices from other graphs as its own"
Hi,
If there are two graph using the same collection, **all** vertices from that collection are being returned when querying for one graph's vertices regardless what graph they belong to.
This happens in 2.5.5, haven't tested it yet in 2.6.
E.g.
if there are two graphs capturing two relationship say
graph 1: `Person -> Person `
graph 2: `Person -> Item`
then even when different vertices are added

[2015-07-22 08:37] Dashue commented on #1412
The easy way of configuring sharding and replication from their ui.
"This is how many shards and replicas you currently have"
"Press here to reconfigure"

I understand that the underlying implementation details might restrict the functionality of configuration. For example if I understand it correctly ArangoDb does only support configuring shards upon collection creation and cannot be changed.

Ho

[2015-07-22 11:40] weinberger commented on #1412
1st part: I got it.

2nd part: At the moment you are right. But based on our new cluster management we will build all the missing stuff. Please, give us a little bit more time.

[2015-07-22 12:03] dothebart commented on #1406
We've built new releases (2.5.6 + 2.6.3) with extra debug informations (especialy for you ;-) Please retry with these whether the problem is still reproducible and send us dumps created (if) with these new versions.

@gyulaborsos please note that you should always use the latest version of one release series, since it contains bugfixes over previous versions - so you shouldn't use 2.5.2 anymore.

[2015-07-22 12:34] abelyaevskiy commented on #1417
Hi!

Fixed! Thank you!

In our team we extend ArangoDBs with custom module for indexing. So, we really need to rebuild modified ArangoDB's packages.

In Gnumakefile I see cpak usage for packanging for other architectures.

Can we use cpack for build rpm and deb packages in the ArangoDB? Why do you not use cpak fot packaging?

[2015-07-22 13:48] dothebart commented on #1417
yes, cpack is used in some cases (windows, macosx, debian/ARM). However it has not been tested or optimized whether it produces proper rpms or .debs for other situations. OBS simply was there first, and the most easiest way to get a reproducible environment with multiple os'es to build on.

As mentioned before, [contributions are welcome](https://www.arangodb.com/community/#contribute).

[2015-07-23 12:29] nebulaszlonemethi commented on #1406
Hi,
here is a crash dump and related infos about crashing a 2.6.3 in non-cluster mode.
https://drive.google.com/file/d/0B6Z2oxj3VUQDcHpWUDcwZ2RWWXM/view?usp=sharing

[2015-07-23 15:03] mchacki commented on #1418
Hi @mikub
this behavior is intended by our design.
To give you a short overview on the ideas:
In ArangoDB the data is stored in several collections, which might be Document- or Edge-Collections. These collections do not know anything about the graphs you define. Using the general-graph module just adds an additional layer on top of these collections and combines several of them into one graph. You

[2015-07-24 16:08] abelyaevskiy commented on #1417
Hi! Thanks! We started to think in our team about contributions. We will try to prepare docs for build without open build server.

[2015-07-24 16:08] #1417 closed

[2015-07-28 14:47] kkdd opened #1419 "RETURN REMOVEINTERNAL requested"
I hope the introduction of ```RETURN REMOVEINTERNAL``` in AQL:

[code]

[2015-07-28 15:44] CoDEmanX commented on #1419
2nd argument of `ATTRIBUTES()` is `removeInternal`, set it to true to only return user attributes and combine it with `KEEP()`:

[code]

https://docs.arangodb.com/Aql/DocumentFunctions.html

[2015-07-29 11:34] pekeler opened #1420 "Foxx validation error response 400 vs 422"
Before ArangoDB 2.6, validation errors in the bodyParam used to result in a response of HTTP 422. Now the response is HTTP 400.

Why was that changed?

I prefer 422 because it allows me to show an appropriate error message in my client.

[2015-07-29 13:53] abelyaevskiy opened #1421 "ArangoDB compiling for --enable-maintainer-mode use flags -g -O2"
Hi!

I configure ArangoDB with command `./configure --enable-relative --enable-maintainer-mode` and see in logs following flags usage `configure: CXXFLAGS: -std=c++11 -g -O2 -std=c++11  -Wall -Winit-self -Wno-long-long -Wno-variadic-macros -Woverloaded-virtual -Wstrict-null-sentinel -pthread ` and `configure: CFLAGS: -std=gnu90 -g -O2  -Wall -Winit-self -Wno-long-long -Wno-variadic-macros -Wshadow

[2015-07-29 14:31] dothebart commented on #1406
ok, Thanks a lot. The crash points into V8. We're going to release a fix with an upgraded V8 version.

[2015-07-29 14:36] jsteemann commented on #1421
Re 1:
I think it's ok to use `-g -O2` simultaneously. `-O2` will optimize a few things that will make debugging harder, but at least it is far better than when omitting `-g` completely.
If desired, you can still set your own `CXXFLAGS` and use `-Og` or other optimization levels that provide a better debugging experience. For example:

[code]

Re 2:
it's quite common to see such repeated arguments

[2015-07-29 14:42] kkdd commented on #1419
Thank you for giving me your instruction:```KEEP(u, ATTRIBUTES(u, True))``` for realizing ```REMOVEINTERNAL doc```.

And ```UNSET(u, ['_id', '_key', '_rev'])``` may work well, too.

[2015-07-29 14:42] #1419 closed

[2015-07-29 15:53] abelyaevskiy commented on #1421
Thanks!

[2015-07-29 15:53] #1421 closed

[2015-07-29 15:53] CoDEmanX commented on #1419
Note that you'll need to add `'_to'`, `'_from'` and in future possibly more attribute keys to your list if you wanna use `UNSET()`.

[2015-07-29 16:34] jsteemann commented on #1419
@CoDEmanX :+1:

[2015-07-30 16:28] #1420 closed

[2015-07-30 16:28] pluma commented on #1420
Fixed in devel.

[2015-07-30 16:29] pluma commented on #1420
Context: http://www.restpatterns.org/HTTP_Status_Codes/422_-_Unprocessable_Entity

[2015-07-30 17:41] pekeler commented on #1420
Thanks!

[2015-07-30 22:54] CoDEmanX opened #1422 "Documentation on mobile devices bogus"
Former versions of the docs worked okay on small screens, but the current version has a flaw: the toolbar buttons such as hamburger icon, search etc. do not react to clicks, possibly because they are overlapped by other elements that don't fit on narrow screens. It is barely usable like this on my smartphone.

![img_20150731_004851](https://cloud.githubusercontent.com/assets/1309249/8997161/86748a

[2015-07-31 11:36] hkernbach commented on #1422
Fixed in the current and upcoming versions.

[2015-07-31 11:36] #1422 closed

[2015-07-31 13:07] CoDEmanX commented on #1422
Thank you so much, it works far better than ever before on both desktop and mobile!

There's no search in case of the desktop version however, whereas there's a custom Google search (which kinda fixes the former search problem) on my smartphone in the header next to the ArangoDB logo.

[2015-07-31 13:21] hkernbach commented on #1422
There is also a search box for the desktop version. You maybe have to delete your cache. If u have installed an ad blocker, this could also be the reason (because its a google based search).

[2015-07-31 14:04] CoDEmanX commented on #1422
Your right, it was Ghostery that blocked Google AJAX Search API and Google Custom Search, thanks again!

[2015-07-31 15:40] pekeler opened #1423 "updated roadmap"
After hearing about Meteor and Mesos, I'd be interested in seeing an update to https://www.arangodb.com/roadmap/ to get an idea of the project's priorities for the next few releases.

Or how about replacing that page with a public board on trello.com? One column for 2.7, one for 2.8, and a "future". http://blog.trello.com/going-public-roadmapping-with-a-public-trello-board/

[2015-07-31 15:59] CoDEmanX commented on #1423
+1, there's only a bunch of ideas for future versions, but nothing concrete for 2.7 yet. Would like to hear about MeteorJS too (#1376).

[2015-07-31 17:21] hkernbach commented on #965
enabled in devel.

[2015-07-31 17:21] #965 closed

[2015-08-01 11:35] bubnenkoff commented on #1310
Same issue with vibed.org when I am trying to get info about DB:
import vibe.d;
import vibe.core.log;
import vibe.http.client;
import vibe.stream.operations;

void main()
{
		requestHTTP("http://127.0.0.1:8529/",
		//requestHTTP("http://ya.ru",
		(scope req) {
			req.method = HTTPMethod.POST;
			//req.writeJsonBody(["name": "My Name"]);
		},
		(scope res) {
			logInfo("Response: %s", res.bodyReade

[2015-08-02 20:07] bubnenkoff commented on #1310
Could anybody help me? http://stackoverflow.com/questions/31775804/cant-do-test-query-to-arangodb-with-curl

look like curl command hang up

[2015-08-03 06:36] jsteemann commented on #1310
Question by @bubnenkoff is answered on StackOverflow

[2015-08-03 07:12] OlafRadicke commented on #1310
So, the answer on stackoverflow show me, that the documentation can be better.

The way over EOF (https://github.com/arangodb/arangodb/commit/8c65abd0c0bf4cf925b0d836f9589f61713990d8#diff-70c548d5ceda2672058536b377c9320d) okay for my.

The way with echo and pip is not nice.

But using flag --data-binary and the kickout of '-@' is the best readability way, i think.

[2015-08-03 07:42] jsteemann commented on #1415
This is a built-in limit of V8, so I think it can't be increased.
It's likely that the error happens during serialization of the result to a JSON string, and if so, I think the only way to get rid of it is to create a smaller result. Using a visitor function is possible in a traversal.

The visitor function has a signature of `void visitor (config, result, vertex, path, connected)`. That means its

[2015-08-03 07:44] bubnenkoff opened #1424 "Arango shell should not processing arrows pushing on keyboard"
When I am working with Arango from shell I often use autocomplete if command like:
db._useDa[Tab]
 db._useDatabase()

but after command is autocompleted I need to write DB name. So I am pushing arrow on keyboard ("<-")  to move cursor inside brackets. But arango react on it, like I push Enter button, so I am getting error, and need push keyboard arrow (UP) and then move cursor inside brackets.

OS

[2015-08-03 09:06] hfaran commented on #1415
Thanks for the response @jsteemann. I guess the `visitor` function is what I'm looking for then so I'll give that a go in a few days!

That being said, for a longer term solution, is pagination something you'd consider adding to the `_api/traversal` endpoint? Even though in this case I don't need the entirety of the >256MB response so I can cut it down to make it fit, it's entirely possible that a

[2015-08-03 09:45] jsteemann commented on #1415
We're currently investigating building traversal functionality with pagination (i.e. skip & limit). This is not finished yet, and I cannot provide any sensible timings, but we're looking into it already.

[2015-08-03 11:03] bubnenkoff commented on #1310
I still have problems...
Can I do query like:
db._query({ "collection": "cars", "skip": 0, "limit" : 1 }) ? Is it's right syntax?

for me work only query in style:
db._query("FOR i IN cars RETURN i.name")

[2015-08-03 11:06] dothebart commented on #1310
_query() has one mandatory argument: the AQL-query string. It has a second optional argument vector: the options.

[2015-08-03 13:42] CoDEmanX commented on #1310
@bubnenkoff: you are confusing `/_api/simple/all` of the HTTP interface with `db._query()` of the JS interface.

`{"collection": "cars", "skip": 0, "limit": 1}` is the JSON payload required for a HTTP PUT for the URL `http://host:port/_db/database-name/_api/simple/all`:

[code]

To do the same with `db._query()`, you would use AQL and bind parameters:

[code]

BTW: Don't confuse `db._query()` and

[2015-08-03 13:43] jsteemann commented on #1424
Thanks for the hint. I just submitted a fix for this. Should be included in the next regular release.

[2015-08-03 14:53] dariosalvi78 opened #1425 "Foxx: use of extensible schemas with joi"
Hi,
I am evaluating if using Foxx is wise idea.
It is certainly interesting, and also the use of joi can make a lot of sense.
Nevertheless, there are scenarios where the data to be posted can be semi-structured (that's mainly why one would choose nosql in first place, right?). I have seen that joi allows extra fields than the ones in the schema, using the "allowUnknown" flag, but I can't find a wa

[2015-08-03 21:50] pluma commented on #1425
You're right. These aren't supported by Foxx at the moment. I've actually run into this myself.

There doesn't seem to be any way to store these flags on a schema so we'll probably have to bolt them on via `meta` but we've already done that with the other flags. I'll look into adding support for these in the next minor release.

[2015-08-04 08:29] pluma commented on #1423
We're evaluating our internal tools at the moment and Trello is definitely on the list. If we embrace Trello for our internal coordination I think moving the roadmap to Trello would be a great next step.

[2015-08-04 09:09] jsteemann commented on #1424
Fixed in 2.6.4.

[2015-08-04 09:09] #1424 closed

[2015-08-05 17:54] sleepycat opened #1426 "arangod silently exits"
I installed Debian Jessie on my Raspberry Pi as suggested in the Google group.
The install seems to go well but I cannot connect to arangodb after:

[code]
I can see that the arangodb supervisor is running but no instances of arangod are around:

[code]
The cause of this appears to be that /usr/sbin/arangod silently exits after about 20 seconds.

[code]
Nothing is printed in the logs:

[code]

[2015-08-05 20:10] jsteemann commented on #1426
Can you try starting it manually from the command-line with option `--javascript.v8-contexts 1`?
If that doesn't help, can you try setting `ulimit -c unlimited` and try again? It would be interesting to see if the process writes a core file and what its exit code was (`echo $?`).

[2015-08-05 20:22] sleepycat commented on #1426
Here you go! For some reason ulimit is not installed. Not sure what to make of that yet.

[code]

[2015-08-05 20:48] jsteemann commented on #1426
An exit code of 135 is probably `SIGBUS`:
135 = 128 + 7 (7 = `SIGBUS`)

This is probably V8 triggering this. The position at which it fails also supports that hypothesis.

Regarding ulimit and core dumps: I think ulimit is a bash built-in, so it may work by omitting the `sudo` in front of it.

[2015-08-05 21:08] sleepycat commented on #1426
Oops! you are correct. Ulimit says its already set at unlimited.

[2015-08-05 21:19] jsteemann commented on #1426
`cat /proc/sys/kernel/core_pattern` will tell the location where coredumps are written to. If it starts with a `|` then the coredump will be piped to the executable specified after the `|`. I am not sure what the default is on a Raspberry Pi, and which default limit it will use for `/proc/sys/kernel/core_pipe_limit` (there may be an upper bound on the corefile size). Maybe they need to be adjusted

[2015-08-06 03:46] sleepycat commented on #1426
@jsteemann The core dump is pretty big so I sent you a link. Check your email.

[2015-08-06 08:21] dothebart commented on #1426
hm, the package installs just fine on our cubie truck. The coredump doesn't produce usefull information about the offending thread except for that its killed by SIG_BUS. Which OS image did you use?

[2015-08-06 11:29] dariosalvi78 commented on #106
I would also be very interested in this feature. I work in the field of health informatics, and audit logs are extremely important in this sector.

Just one addition to what has already been said:

it is important to have revision numbers somehow ordered otherwise you can't really tell which comes first, alternatively revisions should come also with the time they were generated.

[2015-08-06 12:03] CoDEmanX commented on #106
There should definitely be a timestamp. Revisions could then be sorted by the timestamp and don't have to be incrementing numbers.

It would also be great if one could supply a string who edited it (not sure if this should be managed at application level). The initial creator could certainly be written to the document by the application, don't think this has to be done by the system.

[2015-08-06 13:04] dothebart commented on #1426
ok, after ugrading the box, I can reproduce this:
Program received signal SIGILL, Illegal instruction.
_armv7_tick () at armv4cpuid.S:94
94      armv4cpuid.S: No such file or directory.
(gdb) bt
#0  _armv7_tick () at armv4cpuid.S:94
#1  0xb6e17872 in OPENSSL_cpuid_setup () at armcap.c:157

(it was somewhat behind since it was installed when jessie was still testing)

Seems openssl is broken...

[2015-08-06 13:27] friday commented on #106
I agree that this would be a very useful feature, but much more so if coupled with dates. Storing dates internally would allow handling revisions internally in the dbms and new features (which could be implemented later) such as list revisions between date x and date y, and furthermore this would mean we wouldn't need to store separate dates for "created" and "changed" in order to find that data (

[2015-08-06 17:23] jsteemann commented on #1426
@sleepycat : as @dothebart mentioned, we were able to reproduce it locally with the 2.6.3 package after upgrading the OS. Interestingly enough, the issue didn't occur before the OS upgrade but with the same ArangoDB package.
The SIGILLs from OpenSSL are intentional (it's just probing for CPU features and catches the signals so the program goes on. Until finally there is the SIGBUS error.
We're try

[2015-08-07 20:31] nlac commented on #1412
+1 for mentioning RethinkDB way how does it provide sharding. I think many of us can't wait to see the new cluster management, with more better sharding and high availability. Keep up the good work!

[2015-08-09 11:20] pekeler opened #1427 "Foxx dependencies questions"
I've read https://www.arangodb.com/2015/05/foxx-dependencies-for-more-composable-foxx-apps/ and have a bunch of questions:

- When specifying the dependencies in a manifest, do the keys have any meaning? Or is it just the key I can use when programmatically accessing `applicationContext.dependencies`?
- After adding a dependency, I noticed in Aardvark an error message with my app "Out of order - S

[2015-08-10 09:10] pluma commented on #1427
The keys are just the local alias (to help disambiguate between multiple dependencies on the same type of Foxx app, for example). They have no intrinsic meaning.

The error message just means you need to open the dependencies dialog. As long as you haven't specified mount points for each dependency, the app will refuse to run. This is intentional. There is currently no support for optional depende

[2015-08-10 11:56] pekeler commented on #1427
Thank you! That helps me switching to sessions-jwt.

Just one follow up question: Why would one want to have multiple copies of the same app (at different mount points)?

[2015-08-10 12:02] dothebart commented on #1427
if you have a multi tennant system, that may be an option.

[2015-08-10 12:16] pluma commented on #1427
I agree that having one app depend on more than one copy of the same app is more of an edge case. But keep in mind that Foxx apps can be anything from a configurable implementation of some functionality (like the sessions apps) to a full-blown web app (e.g. a blog).

[2015-08-10 12:16] #1427 closed

[2015-08-10 12:17] CoDEmanX commented on #1427
Apps might also depend on another app, but different versions (e.g. version before and after a breaking change).

[2015-08-10 12:25] pekeler commented on #1427
@pluma can you please also provide an example of how to use foxx-manager to set-dependencies?
[code]
comes back with `Reconfigured dependencies of Application` but then
[code]
doesn't show my latest changes.

[2015-08-10 12:59] pluma commented on #1427
@pekeler you should only need to provide the actual values, i.e.

[code]

[2015-08-10 13:15] pekeler commented on #1427
Thanks @pluma - that works.

Seems like foxx-manager should report an error message if the value for set-dependencies is nonsensical or missing. And your example would be a good addition to the documentation. :)

[2015-08-10 14:00] pluma opened #1429 "Foxx Manager CLI should provide usage examples for commands"
Currently it's not at all obvious what the arguments for certain commands of the Foxx Manager CLI should look like. Ideally every command that takes arguments should at least provide a usage example.

Via #1427.

[2015-08-10 14:03] pluma opened #1430 "Foxx Manager CLI commands should fail if the arguments are malformed"
Some commands take JSON arguments, some take keyword arguments. It's easy to mix them up and succeed because the invalid arguments are ignored.

We might also want to consider switching to POSIX-style arguments instead (rewrite everything?).

Via #1427.

[2015-08-10 14:04] pluma commented on #1427
I've created tickets to track the two problems.

[2015-08-10 15:31] pluma commented on #1429
I'll look into this further when I'm in office tomorrow.

Ideally foxx-manager should support a more detailed help command, e.g.:

[code]

[2015-08-10 16:10] dothebart opened #1432 "arangosh doesn't ignore prefixed ....> on paste"
when cut'n'pasting from the documentation, the user will have ...> in front of multi-line-examples.
for convenience these were ignored - this doesn't work anymore.

[2015-08-11 02:34] hfaran commented on #1415
So it seems that for now, I'm able to sidestep the problem by using a custom visitor function! If you'd like you can close this issue, unless you want to keep it open for the pagination discussion of course.

Cheers!

[2015-08-11 07:02] neunhoef commented on #1432
Confirmed in 2.7.dev, Frank will have a look.

[2015-08-11 09:21] dothebart commented on #1406
As you may have already seen, we've released 2.5.7 and 2.6.4 with the propper js versions.
Please upgrade your systems. I'll close this bug for now, please open a new one if further crashes appear.

[2015-08-11 12:52] mchacki opened #1433 "scss-lint fixes"
Our internal scss-lint tests are failing with many errors. Does not have any effect on functionality but causes tests to report errors.

[2015-08-11 13:51] pluma commented on #1433
Most of the errors seem to be caused by an outdated or broken implementation of scss in the linter. We should make sure the version the linter uses is close enough to the version we use elsewhere.

[2015-08-11 14:12] #1425 closed

[2015-08-11 14:12] pluma commented on #1425
The validation now respects the options set using the `.options()` method of the joi schema.

e.g. `joi.object().options({allowUnknown: true})`

[2015-08-11 14:21] mchacki commented on #1433
I updated the linter to newest version, this throws 970 errors in devel

[2015-08-11 14:40] pluma commented on #1433
... sweet?

[2015-08-12 08:17] pekeler commented on #1429
:+1:

[2015-08-12 10:44] dariosalvi78 commented on #1425
thanks !

[2015-08-12 12:43] CoDEmanX opened #1434 "graph traversal config: collection _graphs does not exist?! (Aardvark JS Shell)"
I tried to write a traverser in the JS shell, but it gave me an error about collection `_graphs` being not available. It does exist however, and if I do `db._collections("_graphs")`, it won't throw that error anymore:
[code]
Using latest ArangoDB 2.6.4 on Windows 8.

[2015-08-12 12:44] CoDEmanX opened #1435 "Aardvark: Collection settings toggles broken?"
If I'm on the the Collections tab and open the settings, most of the options do not react on clicks or me back to the dashboard, **if I click on the square or circle of the widgets**. Clicking on the text seems to work reliably.

Happens in Firefox as well as Chrome, ArangoDB 2.6.4:

http://youtu.be/DKxaGe0O5G8

[2015-08-12 13:03] CoDEmanX commented on #1434
Another example, but it does not resolve by accessing the "missing" collection:
[code]

[2015-08-12 14:48] jsteemann commented on #1435
Fixed in 2.6 and devel with @mchacki (thx!)

[2015-08-12 15:56] #1432 closed

[2015-08-12 15:58] fceller commented on #1432
@dothebart can you please check if it stills compiles under windows?

[2015-08-12 20:14] jsteemann commented on #1435
Fix will be contained in next 2.6 release.

[2015-08-12 20:14] #1435 closed

[2015-08-12 20:15] jsteemann commented on #1434
The initially reported bug (*collection not found*) has been fixed in 2.6 and devel.
The second issue (`fromVertex()` returning an unintuitive error message) has been fixed in devel. The latter is because the return code of the function changed in case of this error.

[2015-08-12 20:15] #1434 closed

[2015-08-13 08:15] pekeler opened #1436 "org/arangodb/request advertises deflate without supporting it"
When making a request
[code]
the http request includes the header `Accept-Encoding: deflate`. Now if the server actually responds with `content-encoding : deflate`, the body doesn't get deflated.

Workaround: overwrite the accept-encoding header in the request
[code]

[2015-08-13 08:21] pekeler commented on #1436
Looking at the source, I'm also confused by https://github.com/arangodb/arangodb/blob/devel/js/common/modules/org/arangodb/request.js#L55 which only continues if the encoding is present, but the following line defaults to UTF-8 if the encoding isn't present.

[2015-08-14 07:44] dothebart commented on #1436
JSON is UTF-8 by definition - so thats the reason to default to it. Will have a look at the compression.

[2015-08-14 13:34] pekeler opened #1437 "org/arangodb/request should process body regardless of status"
Currently, the response's body is only returned if the status is 2xx. I think the body should be returned no matter what the status is.

I need to call an api which can return status 500 and then has a more detailed error message in the body. Using org/arangodb/request I have no idea what the reason for the 500 is. When using https://github.com/request/request with node.js, I get access to the bod

[2015-08-15 09:27] aurelijusb opened #1438 "Travis marked green, but Jasmine Tests are failing"
https://travis-ci.org/arangodb/arangodb#L6215
https://s3.amazonaws.com/archive.travis-ci.org/jobs/75633976/log.txt
[code]
You can search for `ERROR` in test results to find more examples of failures marked as passed.

[2015-08-15 10:07] bubnenkoff opened #1439 "ctrl+c are doing exit from arango shell"
ctrl+c is need to stop executing of operation, but at current release it's close terminal window.

--
Window 7

[2015-08-15 10:27] CoDEmanX commented on #1439
Duplicate of #1036

[2015-08-15 13:04] aurelijusb commented on #1243
+1

[2015-08-16 16:08] #1439 closed

[2015-08-16 18:09] CoDEmanX opened #1440 "Building issues on Windows (V8, Python 3.x and others)"
Quoting a recipe from the cookbook:

I'm not sure why 3.4 is excluded, but 3.x in general supposed to work. It seems that if 3.x is installed and added to PATH environment variable, V8 compilation fails because of a syntax error:

    import sys; print sys.byteorder

`print` is a function in Python 3 and requires parentheses.

Is there a way to make gyp use `ArangoDB\3rdParty\V8-4.3.61\third_party

[2015-08-17 02:20] ropeladder opened #1441 "Arangodump overwrites collections when they have the same name but different capitalization"
When I try to backup database using arangodump in Windows and I have two collections that have the same name with different capitalizations (e.g. "MyCollection" and "mycollection"), the backup will overwrite one collection with the other.

Presumably this is caused by the Windows filesystem being case agnostic.

[2015-08-17 02:28] CoDEmanX commented on #1441
Probably, which is a big minus in this case... Maybe some kind of hash could be added as suffix?
"MyCollection_7ced93ab" and "mycollection_d3d726f5"

[2015-08-17 07:06] dothebart commented on #1441
yes, regular windows filesystems ignore capitalisation. do you use fat? or ntfs?

[2015-08-17 07:24] dothebart commented on #1440
you have to adjust your PATH environment so it first fetches that.

[2015-08-17 07:29] mchacki commented on #1438
Hi @aurelijusb
the Test is not failing, travis is flashing green light correctly.

The error log is an intentioned caused by the test suite `/js/common/tests/shell-foxx-manager-install-spec.js`.

This suite tries to install malformed Foxx services and tests if ArangoDB rejects them correctly.
The setup for this test is that a client application installs the Foxx services and expects an error (this

[2015-08-17 07:29] #1438 closed

[2015-08-17 10:59] CoDEmanX commented on #1440
Yeah, that's what I did, but now `python` in cmd will start a 2.x Python - I'm working with 3.x myself however. Could the path var be temporarily overwritten by the make script to fetch the included 2.6 Python automatically?

There cookbook recipe should be corrected accordingly (either remove the part about 3.x being supported, or remove Python as dependency entirely if the build scripts are modi

[2015-08-17 11:25] dothebart commented on #1426
New 2.6x packages are available - closing.

[2015-08-17 11:44] ropeladder commented on #1441
I'm using NTFS.

[2015-08-17 13:39] dothebart commented on #1441
fixed with 86496bb0fdb8a0cbf967623d3897dbf197cc2eb5 - will be available with the next major release.

[2015-08-17 13:39] #1441 closed

[2015-08-17 13:44] dothebart commented on #1440
v8-build.bat already does:

echo %CMD%

cd V8-%V8_VERSION%

.\third_party\python_26\python.exe build\gyp_v8 %CMD%

cd build

so if you follow the cookbook, ( https://docs.arangodb.com/cookbook/CompilingUnderWindows.html ) and ran make -f Makefile.v8-windows ?

[2015-08-17 14:06] CoDEmanX commented on #1440
I tried `make -f Makefile.v8-windows` but it failed. Possibly file permission issue: https://github.com/arangodb/arangodb-windows-libraries/issues/1. I'm not sure if it would had worked after `takeown` and `icacls`, but I compiled the solution in Visual Studio.

I think the problem is that the initial call to gyp is done using the bundled python, but if gyp itself tries to create subprocesses, it

[2015-08-17 14:35] dothebart commented on #1440
can you revalidate whether this fixes your problem?

[2015-08-17 16:31] CoDEmanX commented on #1440
I changed `v8-build.bat` to look like:

    cd V8-%V8_VERSION%

    set PATH=%~dp0V8-%V8_VERSION%\third_party\python_26;%PATH%

    .\third_party\python_26\python.exe build\gyp_v8 %CMD%

If no Python is in `%PATH%`, the command `python` fails. If a 3.x Python is in `%PATH%`, a SyntaxError is raised. Both errors disappear if `PATH` is modified like shown above.

These are the erros I'm still gettin

[2015-08-17 21:09] CoDEmanX commented on #1440
`Makefile.v8-windows` misses to create `RelWithDebInfo` directory, it should look like this:
[code]

`make pack-win*` copies `icudt54l.dat` to `ArangoDB\share\arangodb`, where `arangod.exe` expects it. The cookbook recipe is wrong about the name (`icudt52l.dat`) and the place (next to executable), the server will not start if you do so. I can't find that file in official 2.6.4 btw., do you compile

[2015-08-17 21:16] lewisdiamond opened #1442 "Upsert does not work with edges and search-expression { _from: ..., _to: ...}"
If you try to do an upsert statement where your search-expression is an example document using _from and _to, the OLD document will never be found and an insert statement will always be generated, creating duplicates.

Tested in 2.6.4

[2015-08-17 22:30] jsteemann commented on #1442
Can you provide an example for this?
I am asking because I tried the following and it worked for me in 2.6:
[code]
The above upserts an edge based on _from and _to, and as the edge already exists it will go the *update* path.

[2015-08-17 22:52] CoDEmanX commented on #1440
Another issue: the build scripts seem to copy some import js files to `\share\arangodb\js\js`, instead of `\share\arangodb\js`. This will make server init fail.

[2015-08-17 22:54] CoDEmanX commented on #1442
Works for me too, one edge has `isNew: false`, the other doesn't have this attribute at all (v2.6.4 and 2.7.0-devel).

@jsteemann: one issue though - `RETURN {OLD, NEW}` does not work, seems the special variables do not support the object literal simplification.

[2015-08-17 23:13] lewisdiamond commented on #1442
@jsteemann Your example works and it's essentially the same as what I'm trying.

[code]

My statement __works__ on a newly created edge collection. It does __not work__ on an edge collection created in earlier version(s) (2.5 maybe?). So there seem to be a problem with the upsert on an upgraded edge collection from an undefined previous version.

[2015-08-18 00:24] jsteemann commented on #1442
I don't see a good reason for upserts having problems with collections from 2.5 or before.
How many results does `db.test.inEdges("tag/ccf6184efe5e38da61ef2e9a30d1c1ea");` produce (with `test` being the edge collection from the older version)?

[2015-08-18 00:53] lewisdiamond commented on #1442
I truncated the edge collection in order to provide a list of documents in the edge collection and the issue is gone now.

I was able to reproduce with the following steps:

[code]

AQL:

[code]
__TLDR:__ It seems like upsert gets upset (pun intended) when the edge links to different document types.

[2015-08-18 08:18] pekeler commented on #1437
I see that `internal.download()` at https://github.com/arangodb/arangodb/blob/devel/lib/V8/v8-utils.cpp#L583 already supports `returnBodyOnError` as an option. So wouldn't we just have to expose this option through request() by adding
[code]
before https://github.com/arangodb/arangodb/blob/devel/js/common/modules/org/arangodb/request.js#L160

[2015-08-18 09:42] dothebart commented on #1440
We had permission problems since we run jenkins and the build job via ssh. You get sort of `mostly` the same user (but not its admin privileges) as if you log in via the GUI-shell. Lets hope that after it took Microsoft 30 years to find out telnet/ssh acess to a wintendo could be a usefull thing these problems are solved for us sooner or later.

However, if you run cygwin as the same user as you c

[2015-08-18 09:50] dothebart commented on #1426
the Cubie truck accidently became a debian testing. We now have a debian jessie bananapi - awaiting the V8 compile to finish.

[2015-08-18 11:49] jsteemann commented on #1442
The code you posted recently revealed the problem cause: the problem occurs in 2.6 when running a query with
* LIMIT 1 (UPSERT internally uses LIMIT 1) on an edge index
* with both `_from` and `_to` in the FILTER condition (the UPSERT search value is a filter condition internally)
* and multiple edges matching the search criteria specified for `_from`
* and the first edge returned from the index n

[2015-08-18 13:00] CoDEmanX commented on #1440
I removed both repos, added `filemode = false` to core section of git config and checked out both again, then tried to build from scratch. The same permission issues occur, although I'm running everything with my user account (unless cygwin uses a different?! Not sure how to check /change it).

I was able to continue v8 building by resetting permissions, but annoyingly, the final `make pack-win64`

[2015-08-18 14:09] dothebart commented on #1440
the Arangodb solution files only know about that the v8-files have to exist.
They don't know how to invoke the V8-solution files:

    jenkins@meschenich /cygdrive/c/b/workspace/CONTINUOUS_BUILD__DEVEL__Windows_VisualStudio_cmake
    $ find WindowsLibraries/ |grep v8
    ...
    WindowsLibraries/64/include/v8-debug.h
    WindowsLibraries/64/include/v8-platform.h
    WindowsLibraries/64/include/v8-

[2015-08-18 15:20] lewisdiamond commented on #1442
I built branch 2.6 and it seems to be working now. Thanks

[2015-08-18 15:31] #1442 closed

[2015-08-18 16:06] CoDEmanX commented on #1440
But `msbuild` is invoked by `v8-build.bat`, and the solution file is `arangodb\3rdParty\V8-4.3.61\build\all.sln`?!

[code]

I also tried `msbuild` manually on cmd for `arangodb\3rdParty\V8-4.3.61\tools\gyp\v8.sln`, but same problem. It does not recognize any of the v8 targets/projects.

Do you use different build scripts internally? What is your cmake version?

[2015-08-18 17:42] CoDEmanX opened #1445 "Object literal simplificatin does not support pseudo-variables NEW and OLD"
Tested the [new abbreviated syntax](https://www.arangodb.com/2015/07/aql-object-literal-simplification/) in 2.7.0-devel and realized that `NEW` and `OLD` are not supported:

    UPDATE doc WITH {foo: "bar"} IN coll
    RETURN {OLD, NEW}

Workaround:

    LET OLD = OLD
    LET NEW = NEW
    RETURN {OLD, NEW}

[2015-08-18 20:01] CoDEmanX commented on #1440
Regarding premissions: I added `chmod` to `file-copy-js.sh` and it seems to fix permissions for the final `make pack-win64`:

     chmod a+r "${FROM}"
     test -d "${DIR}" || mkdir -p "${DIR}"

Permissions shouldn't be set/changed in the first place still.

All 4 windows sh scripts require Unix-style line endings, or they will raise syntax errors.

Any idea why it copies some js to the wrong fold

[2015-08-19 07:32] jsteemann commented on #1445
fixed in devel.

[2015-08-19 07:32] #1445 closed

[2015-08-19 07:33] dothebart commented on #1440
do I get you right, that the copy will fail on your system, if the .js file isn't chmodd'ed before?

[2015-08-19 10:54] CoDEmanX commented on #1440
Yeah, the packing task fails because it can't access certain files and `js\actions\api-aqlfunction.js` happens to be the first. I added chmod to the sh script to fix permissions, so that they become accessible again and can be copied. But then, some end up in the wrong path.

I might have a found a solution to the permission issue, will need to do a clean build however. In cygwin's `etc\fstab`, it

[2015-08-19 13:42] wiredprairie commented on #1409
We tested and the C# version works now, but using a simple REST client written in Node, we're still seeing the truncation. Is that expected?

[2015-08-19 14:23] jsteemann commented on #1409
It shouldn't have anything to do with the client driver, but this was a server issue.
Are you sure the Node client is calling the same ArangoDB as the C# version?
And which version of ArangoDB are you using?

[2015-08-19 14:27] wiredprairie commented on #1409
The ArangoDB server is hosted locally on a workstation, so it's definitely
the same version being used by both clients. The developer doing the
testing right now has 2.6.4 installed on her machine and her code is using
AQL. Maybe it's a separate issue.

On Wed, Aug 19, 2015 at 9:23 AM, Jan <notifications@github.com> wrote:

[2015-08-19 14:29] wiredprairie commented on #1409
Here's what's being sent in the Node example:

    var query: string = "";
    query += "UPSERT { a: @allKeys } ";
    query += "INSERT { a: @allKeys, v: @newValue" + keyExample + " } ";
    query += "UPDATE { v: @newValue } ";
    query += "IN @@coll";

The body of my HTTP POST request is this

    "{"query":"UPSERT { a: @allKeys } INSERT { a: @allKeys, v: @newValue, s1: @s1 }
    UPDATE { v: @ne

[2015-08-19 14:47] jsteemann commented on #1409
What version of ArangoDB are you using?